<template>
    <div class="pageination">
        <el-pagination v-model:currentPage="current" v-model:page-size="size"
            :page-sizes="pageSizes" :small="small" :disabled="disabled" :background="background"
            layout="total, sizes, prev, pager, next, jumper" :total="total" @size-change="handleSizeChange"
            @current-change="handleCurrentChange" />
    </div>
</template>
  
<script lang="ts" setup>
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';
const props = defineProps<{
    size: Number,
    current: Number,
    total:Number
}>()
const {size, current,total} = toRefs(props)
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
const pageSizes=[1,2,5,10]

const emits = defineEmits(['handleSizeChange', 'handleCurrentChange'])
const handleSizeChange = (val: number) => {
    emits("handleSizeChange",val)
    // size.value=val
    // current.value=1
    // console.log(`${val} items per page`)
}
const handleCurrentChange = (val: number) => {
    emits("handleCurrentChange",val)
    console.log(`current page: ${val}`)
}
</script>
  
<style lang="scss" scoped>
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
</style>