<template>
    <div class="table">
        <el-table class="table_wrap" ref="multipleTableRef" :data="tableData.value" style="width: 100%" stripe="true" border="true"
            @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="60" />
            <el-table-column label="用户名" property="username" v-if="showList[0].showIs">
            </el-table-column>
            <el-table-column label="邮箱" property="email" v-if="showList[1].showIs">
            </el-table-column>
            <el-table-column label="手机号" property="mobile" v-if="showList[2].showIs">
            </el-table-column>
            <el-table-column label="创建时间" property="createTime" v-if="showList[3].showIs">
            </el-table-column>
            <el-table-column label="状态" v-if="showList[4].showIs">
                <template #default="scope">
                    <span v-if="scope.row.status === 1">正常</span>
                    <span v-else>禁用</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" v-if="showList[5].showIs">
                <template #default="scope">
                    <!-- <el-button type="primary">Primary</el-button> -->
                    <el-button size="small" @click="handleEdit(scope.$index,scope.row)" type="primary">
                        <el-icon>
                            <EditPen />
                        </el-icon>编辑
                    </el-button>
                    <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">
                        <el-icon>
                            <Delete />
                        </el-icon>删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
  
<script lang="ts" setup>
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';
import { EditPen, Delete } from '@element-plus/icons-vue'
import * as http from "../../../../apis/adminApi/index"
const props = defineProps<{
    Data: any,
    size: Number,
    current: Number,
    showList:any
}>()

const { Data, size, current,showList} = toRefs(props)

const emits = defineEmits(['handleEdit', 'handleDelete',"handleSelectionChange"]);

const tableData: any = reactive(Data);
const multipleSelection = ref([])
const handleEdit = (index:any,row:any) => {
    emits("handleEdit",row)
    console.log("编辑",row)
}

const handleDelete = (index: any, row: any) => {
    emits("handleDelete",row)
}
const handleSelectionChange = (val:any) => {
  multipleSelection.value = val
  emits("handleSelectionChange",val)
  console.log(multipleSelection.value,"1111111111111");
  
}
</script>
  
<style lang="scss">
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        background-color: #eee !important;

        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}
</style>