<template>
   <div>
    <!-- 公告管理 -->
    <div class="header_box">
      <div class="Check1_box">
        <div class="text_box">
           公告内容
        </div>
       <div class="input_box">
           <el-input v-model="input1" placeholder="公告内容"  style="width:280px;height:40px;"/>
        </div>
      </div>
      <div class="Check2_box">
        <div  class="text_box">
          状态
        </div>
        <div class="input_box">
          <el-select v-model="input2" placeholder="状态" style="width:250px;">
          <el-option label="撤销" value="0" style="width:250px;height:40px; font-size:16px;"/>
          <el-option label="公开" value="1" style="width:250px;height:40px; font-size:16px;"/>
        </el-select>
    </div>
      </div>
      <div class="Check3_box">
        <div  class="text_box">
          是否置顶
        </div>
        <div class="input_box">
           <el-select v-model="input3" placeholder="是否置顶" style="width:250px;">
          <el-option label="是" value="1" style="width:250px;height:40px; font-size:16px;"/>
          <el-option label="否" value="0" style="width:250px;height:40px; font-size:16px;"/>
        </el-select>
        </div>
      </div>
      <div class="Btn_box">
          <el-button size="large" :icon="Search"  style="width:100px;height:40px;line-height:80px; font-size:15px;"   type="primary" @click="Search_Btn">搜索</el-button>
         <el-button size="large" :icon="Delete"  style="width:100px;height:40px;line-height:80px; font-size:15px;" @click="cloneBtn">清空</el-button>
      </div>
     </div>
     <!-- 添加 -->
     <div class="wrap_box">
          <el-button type="primary" style="width:100px;height:40px;line-height:80px; font-size:15px;" @click="Add_Btn">+添加</el-button>
     </div>
     <!-- 表格 -->
      <div class="table_box">
     <el-table :data="tabList" border  style="width:100%" fit="true">
     <el-table-column prop="shopId" label="序号"  width="80"  align="center" resizable/>
     <el-table-column prop="title" label="公告内容"   align="center" resizable/>
     <el-table-column label="状态"   align="center" resizable>
      <template #default="scope">
        <el-popover effect="light" trigger="hover" placement="top" width="auto">
          <template #reference v-if="scope.row.status===1">
            <el-tag>启动</el-tag>
          </template>
           <template #reference v-else>
            <el-tag>未启动</el-tag>
          </template>
        </el-popover>
      </template>
    </el-table-column>
      <el-table-column label="是否置顶"   align="center" resizable>
      <template #default="scope">
        <el-popover effect="light" trigger="hover" placement="top" width="auto">
          <template #reference v-if="scope.row.isTop===1">
            <el-tag>是</el-tag>
          </template>
           <template #reference v-else>
            <el-tag>否</el-tag>
          </template>
        </el-popover>
      </template>
    </el-table-column>
     <el-table-column prop="" label=""  resizable/>
    <el-table-column prop="" label="操作"   align="center">
      <template #default="scope">
          <el-button type="primary" style="width:100px;height:40px;line-height:80px; font-size:15px;"   @click="handleEdit(scope.$index, scope.row)" :icon="Edit">修改</el-button>
         <el-button type="danger" style="width:100px;height:40px;line-height:80px; font-size:15px;"  @click="handleDelete(scope.$index, scope.row)" :icon="Delete">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
      </div>
      <!-- 分页 -->
      <div class="pagination_box">
          <div class="demo-pagination-block">
          <el-pagination
            v-model:currentPage="currentPage4"
            v-model:page-size="pageSize4"
            :page-sizes="[5, 8, 10, 20]"
            :small="small"
            :disabled="disabled"
             background="#fff"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCont"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
          />
        </div>
      </div>
      <!-- 弹框 -->
       <el-dialog
        v-model="dialogVisible"
        :title="DialogTitle"
        width="50%"
        :before-close="handleClose"
      >
      <!-- 表单 -->
      <el-form
          ref="ruleFormRef"
          :model="ruleForm"
          status-icon
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="公告标题" prop="pass">
            <el-input v-model="ruleForm.content"  autocomplete="off" />
          </el-form-item>
         <el-form-item label="公告" prop="status" style="margin-top:20px;">
          <el-radio-group v-model="ruleForm.status">
            <el-radio :label=0 style="margin-left:10px;">撤销</el-radio>
            <el-radio :label=1 style="margin-left:10px;">公布</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="置顶" prop="isTop" style="margin-top:20px;">
          <el-radio-group v-model="ruleForm.isTop">
            <el-radio :label=1 style="margin-left:10px;">是</el-radio>
            <el-radio :label=0 style="margin-left:10px;">否</el-radio>
          </el-radio-group>
        </el-form-item>
          <el-form-item label="公告内容" prop="checkPass" style="margin-top:20px;">
             <el-input v-model="ruleForm.title" type="textarea" autocomplete="off"/>
          </el-form-item>
          <el-form-item style="margin-top:30px;margin-bottom:20px;">
             <el-button @click="resetForm(ruleFormRef)" style="margin-left:83%;width:7%;">取消</el-button>
            <el-button type="primary" @click="submitForm(ruleFormRef)" style="width:7%;"
              >确定</el-button
            >
           
          </el-form-item>
        </el-form>
      </el-dialog>
      <!-- 底部 -->
   </div>
</template>
<script lang="ts" setup>
import {get_list,del_list,add_list,cha_List,edit_list} from "../../../apis/tpSearch/index"
import {reactive,onMounted,ref} from "vue"
import { Search,Delete,Edit,  Share, Upload,ArrowUp,ArrowDown } from '@element-plus/icons-vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { Timer } from '@element-plus/icons-vue'
import type { FormInstance } from 'element-plus'
const ruleFormRef = ref<FormInstance>()
interface User {
  date: string
  name: string
  address: string
}
      // 表格
      // content: "<p><img src=\"https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg11.360buyimg.com%2Fimgzone%2Fjfs%2Ft1%2F201966%2F9%2F19269%2F127812%2F61c02d94Ea89d3743%2Fda7ae6f1ce77c442.jpg&amp;refer=http%3A%2F%2Fimg11.360buyimg.com&amp;app=2002&amp;size=f9999,10000&amp;q=a80&amp;n=0&amp;g=0n&amp;fmt=auto?sec=1669182449&amp;t=2599dd4af22b994aff898ab05275d11a\" alt=\"\" /></p>"
      // id: 1
      // isTop: 1
      // publishTime: "2019-04-22 14:33:41"
      // shopId: 1
      // status: 1
      // title: "两种意见 | 早餐绝配，松软到怀疑人生的酵母面包"
      // updateTime: "2022-10-28 14:31:52"
         // 搜索
        const input1=ref("")
        const input2=ref("")
        const input3=ref("")
        const Search_Btn=async()=>{
          console.log(input1.value,"input1",input2.value,"input2",input3.value,"input3")
          let params={
            size:pageSize4.value,
            current:currentPage4.value,
            title:input1.value,
            status:input2.value,
            isTop:input3.value
          }
          let res:any=await get_list(params);
          tabList.value=res.data.records
          totalCont.value=res.data.total
        }
        // 清空
        const cloneBtn=()=>{
          input1.value="",
          input2.value="",
          input3.value=""
        }
        // 分页器
        const currentPage4 = ref(1)
        const pageSize4 = ref(5)
        const totalCont=ref(0);
        const small = ref(false)
        const background = ref(false)
        const disabled = ref(false)
        const handleSizeChange = async(val: number) => {
          console.log(`${val} items per page`)
          // let res:any=await get_list({current:0,size:val});
          // tabList.value=res.data.records
           let res:any=await get_list({current:currentPage4.value,size:val});
          tabList.value=res.data.records
            totalCont.value=res.data.total
        }
        const handleCurrentChange = async(val: number) => {
          console.log(`current page: ${val}`)
          // let res:any=await get_list({current:val,size:pageSize4});
          // tabList.value=res.data.records
           let res:any=await get_list({current:val,size:pageSize4.value});
          tabList.value=res.data.records
          totalCont.value=res.data.total
        }
        const tabList:any=ref([])
            // 获取数据
        const getList= async ()=>{
          let res:any=await get_list({current:currentPage4.value,size:pageSize4.value});
          tabList.value=res.data.records
          totalCont.value=res.data.total
          console.log(tabList.value,"tabList");
        }
        getList()
       
        // 点击删除
        const handleDelete = async(index: number, row: any) => {
           ElMessageBox.confirm(
          'proxy will permanently delete the file. Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(async() => {
            ElMessage({
              type: 'success',
              message: '删除成功',
            })
              console.log(row.publishTime)
                let date:any = new Date()
                let params={id:row.id,t:date*1}
                let result=await del_list(params)
                getList()
          })
          .catch(() => {
            ElMessage({
              type: 'info',
              message: '取消删除',
            })
          })
        }
      //弹框
      const dialogVisible = ref(false)
      const handleClose = (done: () => void) => {
        ElMessageBox.confirm('确定要关闭弹窗吗?')
          .then(() => {
            done()
          })
          .catch(() => {
            // catch error
          })
      }
      // 打开弹窗
      // 添加
      const DialogTitle=ref("添加");
      const Add_Btn=()=>{
         dialogVisible.value = true
      }

      //表单
      const validatePass = (rule: any, value: any, callback: any) => {
        if (value === '') {
          callback(new Error('不能为空！'))
        } else {
          // if (ruleForm.checkPass !== '') {
          //   if (!ruleFormRef.value) return
          //   ruleFormRef.value.validateField('a', () => null)
          // }
          callback()
        }
      }

    const ruleForm = reactive({
      title: '',
      content: '',
      status:0,
      isTop:0,
      id:0,
    })
       // 点击编辑
        const handleEdit = async(index: number, row: any) => {
          dialogVisible.value = true
          DialogTitle.value="编辑"
          let id=row.id
          let result:any=await cha_List(id)
          console.log(result)
          ruleForm.title=result.data.title;
          ruleForm.content=result.data.content;
          ruleForm.status=result.data.status;
          ruleForm.isTop=result.data.isTop;
          ruleForm.id=result.data.id;
        }
    const rules = reactive({
      pass: [{ validator: validatePass, trigger: 'blur' }],
      checkPass: [{ validator: validatePass, trigger: 'blur' }],
      status:[{ validator: validatePass, trigger: 'blur' }],
      isTop:[{ validator: validatePass, trigger: 'blur' }],
    })

    const submitForm = (formEl: FormInstance | undefined) => {
      if (!formEl) return
      formEl.validate(async(valid) => {
        if (valid) {
          if(DialogTitle.value=="添加"){
            let date:any=new Date();
           let params={
             isTop:ruleForm.isTop,
             status:ruleForm.status,
             t:date*1,
             id:0,
             title:ruleForm.title,
             content:ruleForm.content
          } 
           let result=await add_list(params);
          }else{
               let date:any=new Date();
           let params={
             isTop:ruleForm.isTop,
             status:ruleForm.status,
             t:date*1,
             id:ruleForm.id,
             title:ruleForm.title,
             content:ruleForm.content
          } 
          let result=await edit_list(params);
          }
         getList()
        } else {
          console.log('error submit!')
          return false
        }
        dialogVisible.value = false
      })
    }
    const resetForm = (formEl: FormInstance | undefined) => {
      if (!formEl) return
      formEl.resetFields()
      dialogVisible.value = false
    }
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
  list-style:none;
}
html,body{
  width: 100%;
  height: 100%;
}
.header_box {
  width: 100%;
  height:80px;
  // background: skyblue;
}
.wrap_box{
  width: 100%;
  height:50px;
  margin-top:10px;
  margin-left:30px;
}
// .Check_box:first-child{
//   margin-left:30px;
// }
.Check1_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  margin-left:30px;
  float:left;
}
.Check2_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:350px;
  float:left;
}
.Check3_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  float:left;
}
.text_box{
  line-height:85px;
  float:left;
}
.input_box{
  line-height:80px;
  margin-left:10px;
  width: 70%;
  height:100%;
  float:left;
  font-size:18px;
}
.Check2_box .input_box{
  line-height:80px;
  margin-left:10px;
  width: 80%;
  height:100%;
  float:left;
}
.Btn_box{
  float:left;
  width: 300px;
  line-height:80px;
  height:100%;
}
.table_box{
  width: 95%;
  margin-left:30px;
  margin-top:10px;
  // height:400px;
  // background: skyblue;
}
.demo-pagination-block{
  margin-left:70%;
}
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.pagination_box{
  width: 95%;
  height:50px;
  // background: skyblue;
  margin-top:20px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>