<template>
    <el-table class="table_wrap" :data=tableData style="width: 100%" stripe='true' border='true'>
        <el-table-column property="oriPrice" label="序号" width="120">
            <template #default="scope">
                <span>{{ scope.$index }}</span>
            </template>
        </el-table-column>
        <el-table-column property="propName" label="属性名称" />
        <el-table-column property="prodName" label="属性值" show-overflow-tooltip>
            <template #default="scope">
                <el-tag style='margin: 0 3px;' v-for="(item, index) in scope.row.prodPropValues" :key="index"
                    size="small">{{ item.propValue }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column label="操作" show-overflow-tooltip>
            <template #default="scope">
                <el-button size="small" type='primary' @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-popconfirm title="您确定要删除该项?" @confirm="handleDelete(scope.$index, scope.row)">
                    <template #reference>
                        <el-button size="small" type="danger">删除
                        </el-button>
                    </template>
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>
</template>

<script lang='ts' setup>
import { defineEmits, defineProps, toRefs } from 'vue';
const props = defineProps<{
    tableData: any
}>()

const { tableData } = toRefs(props);
const emits = defineEmits(['tableEdit', 'tableDelete'])

// 表格 修改按钮; i:下标，_:表格单条数据；
const handleEdit = (index: any, _: any) => {
    emits('tableEdit', _)
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const handleDelete = (index: any, _: any) => {
    emits('tableDelete', _)
}
</script>

<style lang='scss'>
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}

.table_image {
    width: 60%;
    height: 70%;
}
</style>