<template>
    <el-table class="table_wrap" :data="tableData" style="width: 100%" @selection-change="handleSelectionChange"
        stripe='true' border='true'>
        <el-table-column property="price" label="序号" show-overflow-tooltip />
        <el-table-column property="price" label="商品名" show-overflow-tooltip />
        <el-table-column property="price" label="用户昵称" show-overflow-tooltip />
        <el-table-column property="totalStocks" label="记录时间" style="width: 200px" show-overflow-tooltip />
        <el-table-column property="totalStocks" label="回复时间" show-overflow-tooltip />
        <el-table-column property="totalStocks" label="评价得分" show-overflow-tooltip />
        <el-table-column property="totalStocks" label="是否匿名" show-overflow-tooltip />

        <el-table-column property="prodName" label="审核状态" show-overflow-tooltip>
            <template #default="scope">
                <el-tag v-if="scope.row.status === 1" size="small">上架</el-tag>
                <el-tag v-else size="small">未上架</el-tag>
            </template>
        </el-table-column>
        <el-table-column label="操作" show-overflow-tooltip>
            <template #default="scope">
                <el-button size="small" type='primary' @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>

    </el-table>
</template>

<script lang='ts' setup>
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';
import * as http from '../../../../../apis/productApi/index';

const props = defineProps<{
    Data:any,
}>()

const emits = defineEmits(['table_change','tableEdit','tableDelete'])


const emits = defineEmits(['table_change','tableEdit','tableDelete'])

        // 点击 表格 单选的时候
        const handleSelectionChange = (val: any) => {
            multipleSelection.value = val;
            emits('table_change', multipleSelection)
        }

        // 表格 修改按钮; i:下标，_:表格单条数据；
        const handleEdit = (index: any, _: any) => {
            emits('tableEdit', _)
        }

        // 表格 删除按钮; i:下标，_:表格单条数据；
        const handleDelete = (index: any, _: any) => {
            emits('tableDelete', _)
        }

</script>

<style lang='scss'>
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}

.table_image {
    width: 60%;
    height: 70%;
}
</style>