.time_task {
    width: 100%;
    // margin: 20px;
    padding: 20px;

    .time_task_wrap {
        width: 100%;
        height: 100%;

        .tiem_one {
            width: 100%;
            height: 50px;
        }

        .w-50 {
            width: 220px;
            // margin-right: 20px;
        }
    }
}
.time_two{
    width: 100%;
    margin-top: 30px;
}
.el-table__row{
    height: 100px !important;
}
.dialog-footer{
    margin-top: 50px;
    // margin-left: 550px;
    display: inline-block;
}
.el-pagination{
    margin-top: 30px;
}