<template>
  <div class="time_task">
    <!-- 定时任务 -->
    <div class="time_task_wrap">
      <div class="tiem_one">
        <el-input v-model="input1" class="w-50 m-2" size="large" placeholder="bean名称" />
        <!-- <el-form-item label="Activity name">
          <el-input v-model="ruleForm.bean" class="w-50 m-2" size="large" placeholder="bean名称" />
        </el-form-item> -->
        <el-button size='large' @click='onSearch'>查询</el-button>
        <el-button type="primary" size='large' @click="addList">新增</el-button>
        <el-button type="danger" size='large' :disabled="dispatchDelete" @click="more_del">批量删除
        </el-button>
        <el-button type="danger" size='large' :disabled="dispatchDelete" @click="more_pause">批量暂停</el-button>
        <el-button type="danger" size='large' :disabled="dispatchDelete" @click="more_renew">批量恢复</el-button>
        <el-button type="danger" size='large' :disabled="dispatchDelete" @click="more_immediate">批量立即执行</el-button>
        <el-button type="success" size='large'>日志列表</el-button>
      </div>
      <!-- 弹框 -->
      <div class="model_tan">
        <el-dialog v-model="dialogVisible" :title="title" width="50%" top="20vh" :before-close="handleClose">
          <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" class="demo-ruleForm"
            :size="formSize" status-icon>
            <el-form-item label="bean名称" prop="bean">
              <el-input v-model="ruleForm.bean" placeholder="spring bean名称，如：textTask" />
            </el-form-item>
            <el-form-item label="方法名称" prop="method">
              <el-input v-model="ruleForm.method" placeholder="方法名称" />
            </el-form-item>
            <el-form-item label="参数" prop="parameter">
              <el-input v-model="ruleForm.parameter" placeholder="参数" />
            </el-form-item>
            <el-form-item label="cron表达式" prop="cron">
              <el-input v-model="ruleForm.cron" placeholder="如： 0 0  1 2 * * ?'" />
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input v-model="ruleForm.remark" placeholder="备注" />
            </el-form-item>
            <span class="dialog-footer">
              <el-button @click="dialogVisible = false">取消</el-button>
              <el-button type="primary" @click="add_timedTask">
                <!-- @click="dialogVisible = false" -->
                确认
              </el-button>
            </span>
          </el-form>
        </el-dialog>
      </div>
      <!-- 下面的表格 -->
      <div class="time_two">
        <el-table ref="multipleTableRef" :data="timeTaskdata.value.records" border size="large" style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55" />
          <el-table-column property="jobId" label="ID" width="120" align='center' />
          <el-table-column property="beanName" label="bean名称" width="155" align='center' />
          <el-table-column property="methodName" label="方法名称" width="155" align='center' />
          <el-table-column property="params" label="参数" width="155" align='center' />
          <el-table-column property="cronExpression" label="Cron表达式" width="155" align='center' />
          <el-table-column property="remark" label="备注" width="155" align='center' />
          <el-table-column property="status" label="状态" width="155" align='center'>
            <template #default="scope">
              <el-tag v-if="scope.row.status === 0" class="ml-2">正常</el-tag>
              <el-tag v-else-if="scope.row.status === 1" class="ml-2" type="danger">暂停</el-tag>
            </template>
          </el-table-column>
          <el-table-column property="address" label="操作" align='center'>
            <template #default="scope">
              <el-button link type="primary" size="small" @click="editList(scope.row)">修改</el-button>
              <el-button link type="primary" size="small" @click="dellist(scope.row)">删除</el-button>
              <el-button link type="primary" size="small" @click="handleClick(scope.row)">暂停</el-button>
              <el-button link type="primary" size="small" @click="recoverClick(scope.row)">恢复</el-button>
              <el-button link type="primary" size="small" @click="nowClicka(scope.row)">立即执行</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 分页 -->
      <!-- 分页 -->
      <div class="page">
        <div class="demo-pagination-block">
          <el-pagination v-model:currentPage="currentPage4" v-model:page-size="pageSize4"
            :page-sizes="[5, 10, 20, 30, 40]" :small="small" :disabled="disabled" :background="background"
            layout="total, sizes, prev, pager, next, jumper" :total="timeTaskdata.value.total"
            @size-change="handleSizeChange" @current-change="handleCurrentChange" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import './index.scss'
import { ref, reactive } from 'vue'
import { ElTable } from 'element-plus'
import type { FormInstance, FormRules } from 'element-plus'
//引入api
import { _menu_timed, _add_menu_timed, _echo_data, _edit_menu_timed, suspend_timed, resume_timed, now_timed, del_timed } from './../../../apis/menuApi/index'
import { ElMessageBox } from 'element-plus'
interface User {
  date: string
  name: string
  method: string
  address: string
  cron: string
  remark: string
  state: string
  parameter: string
  jobId: number
}
const input1 = ref<any>('')
const page = ref<any>(1)
const limit = ref<any>(3)
const timeTaskdata: any = reactive({})
const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const multipleSelection = ref<User[]>([])
let beanNames: any = ''
const currentPage4 = ref()
const pageSize4 = ref(10)
const small = ref(false)
const disabled = ref(false)
const background = ref(false)

//控制弹框的开关
let dialogVisible = ref<any>(false)
// 弹框的标题
let title = ref('')
//修改的数据ID
let ID = ref(0)
//修改的状态的Status
let Status = ref()
//显示多选的选中或者不选中状态
let dispatchDelete = ref(true)
//批量删除的下标
// const AllId = ref<any>([])

//获取数据
const TimeTask = async () => {
  const result: any = await _menu_timed({
    current: page.value,
    size: limit.value,
    beanName: ''
  })
  if (result.status === 200) timeTaskdata.value = result.data
  console.log(result.data, '长度');

}
TimeTask()

const handleClose = (done: () => void) => {
  done()
}
// 分页

const handleSizeChange = (val: number) => {
  limit.value = val
  console.log(limit.value);
  TimeTask()
}
const handleCurrentChange = (val: number) => {
  page.value = val
  TimeTask()
}

//弹框
const formSize = ref('default')
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive({
  bean: '',
  method: '',
  parameter: '',
  cron: '',
  remark: '',
})

const rules = reactive<FormRules>({
  bean: [
    { required: true, message: 'beanName不能为空', trigger: 'blur' },
  ],
  method: [
    {
      required: true,
      message: '方法名称不能为空',
      trigger: 'blur',
    },
  ],
  cron: [
    {
      required: true,
      message: 'cron表达式不能为空',
      trigger: 'blur',
    },
  ],
})

const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      console.log('submit!')
    } else {
      console.log('error submit!', fields)
    }
  })
}

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
}
//修改的回显
const editList = async (row: any) => {
  dialogVisible.value = true
  title.value = '修改'
  const datas: any = await _echo_data(row.jobId)
  console.log(datas.data, 'datadata---datadata');
  ruleForm.bean = datas.data.beanName
  ruleForm.method = datas.data.methodName
  ruleForm.parameter = datas.data.params
  ruleForm.cron = datas.data.cronExpression
  ruleForm.remark = datas.data.remark
  ID.value = datas.data.jobId
  Status.value = datas.data.status
}
//点击添加数据
const addList = () => {
  dialogVisible.value = true
  title.value = '新增'
  ruleForm.bean = ''
  ruleForm.method = ''
  ruleForm.parameter = ''
  ruleForm.cron = ''
  ruleForm.remark = ''
}
//确定按钮
const add_timedTask = (row: any) => {

  if (title.value === '新增') {
    console.log('新增-------------');
    _add_menu_timed({
      beanName: ruleForm.bean,
      cronExpression: ruleForm.cron,
      methodName: ruleForm.method,
      params: ruleForm.parameter,
      remark: ruleForm.remark,
    })
    //调用刷新页面
    setTimeout(() => {
      TimeTask()
    }, 1000)
    dialogVisible.value = false
  }
  else if (title.value === '修改') {
    console.log('修改-----------');
    _edit_menu_timed({
      beanName: ruleForm.bean,
      cronExpression: ruleForm.cron,
      methodName: ruleForm.method,
      params: ruleForm.parameter,
      remark: ruleForm.remark,
      jobId: ID.value,
      status: Status.value
    })
    //调用刷新页面
    setTimeout(() => {
      TimeTask()
    }, 1000)
    dialogVisible.value = false
  }

}
//点击暂停
const handleClick = (row: any) => {

  ElMessageBox.confirm(`确定对[id=${row.jobId}]进行[暂停]操作?`)
    .then(() => {
      let num = row.jobId as number
      suspend_timed([num])
      //调用刷新页面 
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })
}
//点击恢复
const recoverClick = async (row: any) => {
  ElMessageBox.confirm(`确定对[id=${row.jobId}]进行[恢复]操作?`)
    .then(() => {
      let num = row.jobId as number
      resume_timed([num])
      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })

}
//立即执行
const nowClicka = async (row: any) => {
  ElMessageBox.confirm(`确定对[id=${row.jobId}]进行[立即执行]操作?`)
    .then(() => {
      let num = row.jobId as number
      now_timed([num])
      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })

}
//点击删除
const dellist = async (row: any) => {
  ElMessageBox.confirm(`确定对[id=${row.jobId}]进行[删除]操作?`)
    .then(() => {
      let num = row.jobId as number
      del_timed([num])
      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })
}
//多选框的点击事件
const handleSelectionChange = (val: User[]) => {
  // 所选的数据进行赋值
  multipleSelection.value = val
  // 点击按钮的禁用状态
  if (multipleSelection.value.length > 0) {
    dispatchDelete.value = false
  }
  else {
    dispatchDelete.value = true
  }
  console.log(multipleSelection.value, '--------多选框------------');
}
//单击批量删除
const more_del = () => {
  const AllId = ref<any>([])
  multipleSelection.value.forEach(item => {
    AllId.value.push(item.jobId)
    console.log(AllId.value, ' AllId.value AllId.value AllId.value AllId.value');
  })
  ElMessageBox.confirm(`确定对[id=${AllId.value}]进行[批量删除]操作?`)
    .then(() => {
      AllId.value.forEach((item: any) => {
        console.log(item, 'itemitemtiem');
        let num = item as number
        del_timed([num])
      })

      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })

}
//单击批量暂停
const more_pause = () => {
  const AllId = ref<any>([])
  multipleSelection.value.forEach(item => {
    AllId.value.push(item.jobId)
  })
  ElMessageBox.confirm(`确定对[id=${AllId.value}]进行[批量暂停]操作?`)
    .then(() => {
      AllId.value.forEach((item: any) => {
        console.log(item, 'itemitemtiem');
        let num = item as number
        suspend_timed([num])
      })
      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })
}
//单击批量恢复
const more_renew = () => {
  const AllId = ref<any>([])
  multipleSelection.value.forEach(item => {
    AllId.value.push(item.jobId)
  })
  ElMessageBox.confirm(`确定对[id=${AllId.value}]进行[批量恢复]操作?`)
    .then(() => {
      AllId.value.forEach((item: any) => {
        console.log(item, 'itemitemtiem');
        let num = item as number
        resume_timed([num])
      })
      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })

}
//单击立即执行
const more_immediate = () => {
  const AllId = ref<any>([])
  multipleSelection.value.forEach(item => {
    AllId.value.push(item.jobId)
  })
  ElMessageBox.confirm(`确定对[id=${AllId.value}]进行[批量立即执行]操作?`)
    .then(() => {
      AllId.value.forEach((item: any) => {
        console.log(item, 'itemitemtiem');
        let num = item as number
        now_timed([num])
      })
      //调用刷新页面
      setTimeout(() => {
        TimeTask()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })

}
//查询 搜索事件
const onSearch = async () => {
  if (input1._valued !== "") {
    beanNames = input1._value
  }
  const res: any = await _menu_timed({
    page: page.value,
    limit: limit.value,
    beanName: input1._value
  })

  timeTaskdata.values = res.data
}

</script>
