<template>
    <div>
      产品管理
      <button @click="dwenloadXLs">下载</button>
    </div>
  </template>
  
  <script lang="ts" setup>
  
//引入要导出的excel表格
import useJsonToexcel from '../../../hooks/useJsonToExcel-myself'
  const dwenloadXLs = ()=>{
    // 定义数据
    const data =[
        {
            id:1,
            title:'2001B购买手机记录',
            count:34,
        },
        {
            id:2,
            title:'2001B购买汽车记录-梅赛德斯',
            count:34,
        }
    ]
    // 定义表头
    const tableHeader = {
        id:'订单编号',
        title:'班级',
        count:'购买量',
    }

    useJsonToexcel({
        data,
        header:tableHeader,
        fileName:'2001B同学购买梅赛德斯记录表',
        bookType:'xlsx'
    })
  }
  </script>
  
  <style>
  
  </style>