<template>
    <el-pagination v-model:currentPage="current" v-model:page-size="size" :page-sizes="[5, 10, 15, 20]" :small="small"
        :disabled="disabled" :background="background" layout="total, sizes, prev, pager, next, jumper" :total="total"
        @size-change="handleSizeChange" @current-change="handleCurrentChange" />
</template>

<script lang='ts' setup>
import { ref, defineProps, defineEmits, toRefs } from 'vue'

const props = defineProps<{
    size: number,
    current: number,
    total: number
}>()

const { size, current, total } = toRefs(props);

const emits = defineEmits(['pageSize', 'pageCurrent'])
const small = ref(false)
const disabled = ref(false) // 分页组件边界禁用
const background = ref('#eee') // 分页组件的背景颜色

// 分页 每页数量发生改变的时候,触发的事件
const handleSizeChange = (val: number) => {
    emits('pageSize', val)
}
// 分页 页数发生改变的时候,触发的事件 
const handleCurrentChange = (val: number) => {
    emits('pageCurrent', val)
}
</script>

<style>

</style>