.app_wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 15px;
    color: #333;

    .layout-container-demo {
        width: 100%;
        height: 100%;
    }

    .el-menu {
        background-color: #030303;

        .el-menu-item-group__title {
            padding: 0 !important;
        }

        .el-sub-menu__title {
            color: #9c9c9c;
            font-size: 13px !important;
            height: 45px !important;
            padding: 0 !important;
            text-indent: 2em;
        }

        .el-sub-menu__title:hover {
            background-color: #3e3e3e;
            color: #eee;
        }

        .el-menu-item {
            color: #9c9c9c;
            font-size: 13px !important;
            height: 45px !important;
        }

        .el-menu-item:hover {
            background-color: #3e3e3e;
            color: #eee;
        }

        .is-active {
            color: #fff;
        }

        i {
            color: #fff !important;

            .el-icon {
                color: #fff !important;

            }
        }
    }

    .layout-container-demo .el-header {
        position: relative;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }

    .layout-container-demo .el-aside {
        background-color: #030303;
        height: 100%;

        .aside_title {
            width: 100%;
            height: 55px;
            background-color: rgb(58, 182, 254);
            color: #fff;
            font-size: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: bold;
        }
    }

    .layout-container-demo .el-menu {
        border-right: none;
    }

    .layout-container-demo .el-main {
        padding: 0;
        background-color: #eee;

        .app_main_header {
            width: 100%;
            height: 41px;
            background-color: #fff;
            padding: 0px 10px;

            .demo-tabs {
                border-bottom: none;
                border-top: none;

                .el-tabs__header {
                    height: 0;
                    border-bottom: none;
                }
            }
        }

        .app_view {
            width: calc(100% - 20px);
            // height: calc(100% - 60px);
            min-height: calc(100% - 60px);
            margin: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px #ccc;
        }
    }

    .layout-container-demo .toolbar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        right: 20px;
    }
}