.app_wrap {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 15px;
  color: #333;
}

.app_wrap .layout-container-demo {
  width: 100%;
  height: 100%;
}

.app_wrap .el-menu {
  background-color: #030303;
}

.app_wrap .el-menu .el-menu-item-group__title {
  padding: 0 !important;
}

.app_wrap .el-menu .el-sub-menu__title {
  color: #9c9c9c;
  font-size: 13px !important;
  height: 45px !important;
  padding: 0 !important;
  text-indent: 2em;
}

.app_wrap .el-menu .el-sub-menu__title:hover {
  background-color: #3e3e3e;
  color: #eee;
}

.app_wrap .el-menu .el-menu-item {
  color: #9c9c9c;
  font-size: 13px !important;
  height: 45px !important;
}

.app_wrap .el-menu .el-menu-item:hover {
  background-color: #3e3e3e;
  color: #eee;
}

.app_wrap .el-menu .is-active {
  color: #fff;
}

.app_wrap .el-menu i {
  color: #fff !important;
}

.app_wrap .el-menu i .el-icon {
  color: #fff !important;
}

.app_wrap .layout-container-demo .el-header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.app_wrap .layout-container-demo .el-aside {
  background-color: #030303;
  height: 100%;
}

.app_wrap .layout-container-demo .el-aside .aside_title {
  width: 100%;
  height: 55px;
  background-color: #3ab6fe;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.app_wrap .layout-container-demo .el-menu {
  border-right: none;
}

.app_wrap .layout-container-demo .el-main {
  padding: 0;
  background-color: #eee;
}

.app_wrap .layout-container-demo .el-main .app_main_header {
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.app_wrap .layout-container-demo .el-main .app_view {
  width: calc(100% - 20px);
  min-height: calc(100% - 60px);
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}

.app_wrap .layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
