<template>
    <el-table class="table_wrap" :data=tableData.value style="width: 100%" stripe='true' border='true'>
        <TableColum>
            <solt name='table_column'></solt>
        </TableColum>
    </el-table>
</template>

<script lang='ts' setup>
import { defineProps, toRefs } from 'vue';
import TableColum from '../column/index.vue';
const props = defineProps<{
    tableData: any
}>()

const { tableData } = toRefs(props);

</script>

<style lang='scss'>
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}

.table_image {
    width: 60%;
    height: 70%;
}
</style>