<template>
    <el-form :inline='true' :model='formSearchInline' class='demo-form-inline'>
        <el-form-item label='产品名字'>
            <el-input v-model='formSearchInline.user' placeholder='产品名字' />
        </el-form-item>
        <el-form-item>
            <el-button type='primary' @click='onSearchSubmit'>搜索</el-button>
            <el-button @click='onSearchDelete'>
                清空
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang='ts' >
import { reactive, ref } from 'vue';

export default {
    setup(props, context) {

        // 搜索事件 参数
        const formSearchInline = reactive({
            user: '',
        })

        // 搜索事件
        const onSearchSubmit = () => {
            context.emit('onSearch', formSearchInline);
        }

        // 搜索清空事件
        const onSearchDelete = () => {
            formSearchInline.user = '';
            context.emit('onSearchClose')
        }

        return {
            onSearchSubmit,
            onSearchDelete,
            formSearchInline,
        }
    }
}
</script>

<style>

</style>