<template>
    <el-table class="table_wrap" :data="Data.value" style="width: 100%" stripe='true' border='true'
        row-key='categoryId'>
        <el-table-column property="categoryName" label="名称" width="120" />
        <el-table-column label="产品图片" show-overflow-tooltip>
            <template #default="scope">
                <img :src="scope.row.pic.slice(0, 5).includes('http') ? scope.row.pic : 'http://img-test.gz-yami.com/' + scope.row.pic"
                    alt="" class="table_image_pic">
                <!--  -->
            </template>
        </el-table-column>
        <el-table-column label="状态" show-overflow-tooltip>
            <template #default="scope">
                <el-tag v-if="scope.row.status === 1" size="small">正常</el-tag>
                <el-tag v-else size="small">异常</el-tag>
            </template>
        </el-table-column>
        <el-table-column property="seq" label="排序号" show-overflow-tooltip />

        <el-table-column label="操作" show-overflow-tooltip>
            <template #default="scope">
                <el-button size="small" type='primary' @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-popconfirm title="你确定删除该评论?"  @confirm='handleDelete(scope.$index, scope.row)'>
                    <template #reference>
                        <el-button size="small" type="danger">删除
                        </el-button>
                    </template>
                </el-popconfirm>
            </template>
        </el-table-column>

    </el-table>
</template>

<script lang='ts' setup>
import * as http from '../../../../../apis/productApi/index';
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';

const props = defineProps<{
    Data: any,
}>()

const { Data } = toRefs(props);
const emits = defineEmits(['tableEdit', 'tableDelete'])

const multipleSelection = ref([]); // 当表格选中的时候 存放选中数据的数组

// 表格 修改按钮; i:下标，_:表格单条数据；
const handleEdit = (index: any, _: any) => {
    emits('tableEdit', _)

}

// 表格 删除按钮; i:下标，_:表格单条数据；
const handleDelete = (index: any, _: any) => {
    emits('tableDelete', _)

}
</script>

<style lang='scss'>
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        th {
            text-align: center !important;
        }

        .cell {
            color: #393939;
        }

    }

}

.table_image_pic {
    width: 100% !important;
    height: 100px !important;
}
</style>