<template>
  <div class="system_div">
    <!-- 系统日志 -->
    <div class="system_one" v-show="block">
      用户名
      <el-input v-model="input1" size="large" class="w-50 m-2" placeholder=" 用户名" />
      参数名
      <el-input v-model="input2" size="large" class="w-50 m-2" placeholder=" 用户操作" />
      <el-button type="primary" @click='onSearch'>
        <el-icon>
          <Search />
        </el-icon>搜索
      </el-button>
      <el-button class="delete">
        <el-icon>
          <Delete />
        </el-icon>清空
      </el-button>
    </div>
    <div class="zhuang">
      <el-tooltip class="box-item" effect="dark" content="刷新" placement="top-start">
        <el-icon>
          <Refresh />
        </el-icon>
      </el-tooltip>
      <el-tooltip class="box-item" effect="dark" content="显隐" placement="top-start">
        <el-icon>
          <Menu @click="lsattr" />
        </el-icon>
      </el-tooltip>
      <el-tooltip class="box-item" effect="dark" content="搜索" placement="top-start">
        <el-icon @click="conceal">
          <Search />
        </el-icon>
      </el-tooltip>



    </div>
    <div class="parameter_two">
      当前表格已选择<b> {{ length }} </b>项
      <el-button link type="primary" size="large">清空</el-button>
    </div>

    <!-- 显示隐藏的弹框是否展示开关 -->
    <div class="model_tan">
      <el-dialog v-model="dialogVisibles" :title="title" width="50%" top="20vh" :before-close="handleClose">
        <el-transfer v-model="value" :data="data" :titles="['显示', '隐藏']" @change="onChange" />
      </el-dialog>
    </div>

    <!-- 表格 -->
    <div class="parameter_two">
      <el-table ref="multipleTableRef" :data="Systemdata.value.records" border size="large" style="width: 100%"
        @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55" />
        <el-table-column property="username" label="用户名" width="173" class="icon" v-if="noticeShow[0].showIs" />
        <el-table-column property="operation" label="用户操作" width="173" v-if="noticeShow[1].showIs" />
        <el-table-column property="method" label="请求方式" width="173" v-if="noticeShow[2].showIs" />
        <el-table-column property="params" label="请求参数" width="173" v-if="noticeShow[3].showIs" />
        <el-table-column property="time" label="执行时长(毫秒)" width="173" v-if="noticeShow[4].showIs" />
        <el-table-column property="ip" label="IP地址" width="173" v-if="noticeShow[5].showIs" />
        <el-table-column property="createDate" label="创建时间" width="173" v-if="noticeShow[6].showIs" />

      </el-table>
    </div>
    <!-- 分页 -->
    <div class="page">
      <div class="demo-pagination-block">
        <el-pagination v-model:currentPage="currentPage4" v-model:page-size="pageSize4" :page-sizes="[5, 10, 20, 30, 40]"
          :small="small" :disabled="disabled" :background="background" layout="total, sizes, prev, pager, next, jumper"
          :total="total" @size-change="handleSizeChange" @current-change="handleCurrentChange" />
      </div>
    </div>

  </div>
</template>

<script lang="ts" setup>

import './index.scss'
import { ref, reactive } from 'vue'
import { Search, Refresh, Menu } from '@element-plus/icons-vue'
//引入api
import { menu_Parame } from './../../../apis/menuApi/index'
interface User {
  date: string
  name: string
  address: string
  records?: string
}
const input2 = ref<any>('')
const input1 = ref<any>('')
const multipleSelection = ref<User[]>([])
const current = ref(1)
const size = ref(10)
const Systemdata = reactive<any>([])
//显示隐藏的弹框是否展示开关
let dialogVisibles = ref<any>(false)
// 弹框的标题
let title = ref('')
//隐藏搜索
const block = ref(true)
let beanNames: any = ''
const page = ref<any>(1)
const limit = ref<any>(10)
const length = ref<any>(0)
const total = ref<any>(0)
//显示多选的选中或者不选中状态
let dispatchDelete = ref(true)

//获取数据
const System = async () => {
  const result: any = await menu_Parame({
    current: current.value,
    size: size.value
  })
  Systemdata.value = result.data
  total.value = result.data.total
  console.log(total.value, '123123123123123123123');
}
System()

//搜索事件
const onSearch = async () => {
  if (input1._valued !== "") {
    beanNames = input1._value
  }
  const res: any = await menu_Parame({
    current: page.value,
    size: limit.value,
    username: input1._value,
    operation: input2._value
  })
  Systemdata.values = res.data
}

const handleEdit = (index: number, row: User) => {
  console.log(index, row)
}
const handleDelete = (index: number, row: User) => {
  console.log(index, row)
}
const handleSelectionChange = (val: User[]) => {
  // 所选的数据进行赋值
  multipleSelection.value = val
  length.value = multipleSelection.value.length
  // if (length.value === 0) {
  // val=''
  // }
  // 点击按钮的禁用状态
  if (multipleSelection.value.length > 0) {
    dispatchDelete.value = false
  }
  else {
    dispatchDelete.value = true
  }
}
const currentPage4 = ref(4)
const pageSize4 = ref()
const small = ref(false)
const background = ref(false)
const disabled = ref(false)

const handleSizeChange = (val: number) => {
  limit.value = val
  console.log(limit.value);
  System()
}
const handleCurrentChange = (val: number) => {
  page.value = val
  System()
}

//展示显影的弹框
const lsattr = () => {
  dialogVisibles.value = true
  title.value = '多选'
}
const handleClose = (done: () => void) => {
  done()
}
//显示和隐藏的弹框
interface Option {
  key: number
  label?: string
  disabled: boolean
}
const arrs = ref<any>([0, 1, 2, 3, 4, 5, 6])
const data = ref<Option[]>([
  { key: 0, label: '用户名', disabled: false },
  { key: 1, label: '用户操作', disabled: false },
  { key: 2, label: '请求方式', disabled: false },
  { key: 3, label: '请求参数', disabled: false },
  { key: 4, label: '执行时长(毫秒)', disabled: false },
  { key: 5, label: 'IP地址', disabled: false },
  { key: 6, label: '创建时间', disabled: false },
])
const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true },
  { key: 3, showIs: true },
  { key: 4, showIs: true },
  { key: 5, showIs: true },
  { key: 6, showIs: true },
])
const value = ref([])

const onChange = () => {
  arrs.value.forEach((item: any, index: number) => {
    let newarr: number[] = Array.from(value.value)
    let flag = newarr.includes(item)
    if (flag) {
      noticeShow[index].showIs = false
    } else {
      noticeShow[index].showIs = true
    }
  });

}



const conceal = () => {
  block.value = !block.value
}
</script>



<!-- 权限管理是RBAC（基于角色的访问控制 Role-based access control ）模型的，意思也就是基于角色的权限控制，
有别于传统模型中的直接把权限赋予账号，RBAC模型中增加了“角色”的概念，把权限赋予角色，再将角色赋予账号。
提高了账号管理效率，降低了出错的概率。用户与角色是多对多关系，角色与权限是多对多关系，
所以说我们权限管理在数据库设计过程中涉及到了五张表。这五张表分别是用户表、角色表、权限表、用户角色关系表、角色权限关系表，
其中用户表和角色表是多对多的关系，所以我们引入了一张用户角色关系表配置用户和角色的多对多关系。
而角色表和权限表也是多对多的关系，所以我们引入了一张角色权限关系表来配置角色和权限的多对多关系。
在后台管理系统中，我们的权限管理又设计成了三个模块，分别是用户管理、角色管理、权限管理。
用户管理模块，用户管理就是对用户的一个增删改查操作，在用户列表页我们使用了DataTable去加载后台数据，
在新增和修改用户时我们使用了fileinput插件来上传用户头像和附件，并且可以勾选要关联的角色，并且还判断用户名是否已存在，如果存在的话则不让新增或修改。
角色管理这个模块，角色管理就是角色的一个增删改查，在角色列表页我们选择使用了DataTable去展示用户数据。
在新增角色和修改角色时我们使用ztree插件把系统中所有的权限展示出来，然后可以勾选角色所要关联的权限。
而且还判断角色是否已存在，如果存在的话则不让新增或修改。在删除角色时，我们会判断当前角色是否被用户所关联，如果被关联则提示用户无法删除。
最后就是权限管理模块了，权限管理也就是对权限的一个增删改查，我们首先把系统中所有的权限使用ztree插件展示出来，
然后又提供了增加、删除、修改按钮完成对权限树的操作。删除时我们会把选中节点下所有的子节点也一并删除。 -->
