// .el-icon delete{
//     color: #000;
// }
.system_div {
    width: 100%;
    padding: 20px;
    .system_one{
        width: 100%;
        height: 100px;
    }

}
.w-50 {
    width: 200px;
    margin-right: 20px;
}
.el-pagination{
    margin-left: 600px;
    margin-top: 10px;
}
.zhuang{
    width: 160px;
    height: 50px;
    float: right;
    margin-top: -50px;
    .el-icon{
        width:30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 5px;
    }
}
.el-table__header-wrapper{

    thead{
        tr{
            th{
                .cell{
                    font-weight: 800;
                }
            }
        }
        
    }
}