<template>
    <el-table class="table_wrap" :data="Data.value" style="width: 100%" stripe='true' border='true'>
        <el-table-column label="序号" property="totalStocks" width="120">
            <template #default="scope">
                <span>{{ scope.$index }}</span>
            </template>
        </el-table-column>
        <el-table-column property="title" label="标签名称" show-overflow-tooltip />
        <el-table-column label="状态" width="120">
            <template #default="scope">
                <el-tag v-if="scope.row.status === 0" size="small" type="danger">禁用</el-tag>
                <el-tag v-else size="small">正常</el-tag>
            </template>
        </el-table-column>
        <el-table-column label="默认类型" show-overflow-tooltip>
            <template #default="scope">
                <el-tag v-if="scope.row.isDefault === 0" size="small">自定义类型</el-tag>
                <el-tag v-else size="small">默认类型</el-tag>
            </template>
        </el-table-column>
        <el-table-column property="seq" label="排序" show-overflow-tooltip />
        <el-table-column label="操作" show-overflow-tooltip>
            <template #default="scope">
                <el-button :icon="Edit" type='primary' @click="handleEdit(scope.$index, scope.row)">修改
                </el-button>

                <el-popconfirm title="你确定删除此标签?" @confirm='deletePopconfirm(scope.$index, scope.row)'>
                    <template #reference>
                        <el-button :icon="Delete" type="danger">删除
                        </el-button>
                    </template>
                </el-popconfirm>

            </template>
        </el-table-column>

    </el-table>
</template>

<script lang='ts' setup>
import { Edit, Delete } from '@element-plus/icons-vue';
import { toRefs, defineProps, defineEmits } from 'vue';

// 使用 defineProps 接受父组件的参数，并且添加校验
const props = defineProps<{
    Data: any,
}>()

// 使用 toRefs 绑定props每一个属性，使用时候 想ref的使用；
const { Data } = toRefs(props);

// 使用 defineEmits 接收到父组件的事件
const emits = defineEmits(['tableEdit', 'tableDelete'])

// 表格 修改按钮; i:下标，_:表格单条数据；
const handleEdit = (index: any, _: any) => {
    emits('tableEdit', _)
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const deletePopconfirm = (index: any, _: any) => {
    emits('tableDelete', _)
}

</script>

<style lang='scss'>
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        background-color: #eee !important;

        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}

.table_image {
    width: 60%;
    height: 70%;
}
</style>