<template>
  <div class="area">
    <div class="header">
      <input type="text" placeholder="地区关键字" v-model="values" @change="search">
      <el-button type="primary" @click="addList">新增</el-button>
    </div>
    <div class="area_list">
      <el-tree :data="datas.value" ref='treeRef' @node-click="handleNodeClick" node-key="areaId"
        :expand-on-click-node="false" :filter-node-method="filterNode">
        <template #default="{ node, data }">
          <span class="custom-tree-node">
            <span class="ha">{{ node.label }}</span>
            <span class="operations">
              <span @click="edit()">
                <el-button type="text" icon="el-icon-edit" size="small" @click="">
                  <el-icon>
                    <EditPen />
                  </el-icon>修改
                </el-button>
              </span>
              <span @click="del()">
                <el-button type="text" icon="el-icon-delete" size="small" @click="">
                <el-icon>
                  <Delete />
                </el-icon>删除
              </el-button>
              </span>
            </span>
          </span>
        </template>
      </el-tree>
    </div>
    <!-- 增加弹窗 -->
    <el-dialog
    v-model="addModal"
    title="Tips"
    width="30%"
    :before-close="handleClose"
  >
    <span>This is a message</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="addModal= false">Cancel</el-button>
        <el-button type="primary" @click="addModal= false">
          Confirm
        </el-button>
      </span>
    </template>
  </el-dialog>
    <!-- 编辑弹窗 -->
  </div>
</template>
<script lang="ts" setup>
import "./css/index.scss"
import * as http from "../../../apis/areaApi/index"
import { ref, reactive } from "vue";
import { Delete, EditPen } from '@element-plus/icons-vue'
import { ElTree } from 'element-plus'
import type Node from 'element-plus/es/components/tree/src/model/node'
import { ElMessageBox } from 'element-plus'
const addModal= ref(false)
const size = ref(10)
const current = ref(1)
const datas: any = reactive([])
const values = ref([])

const getArea = async () => {
  const result: any = await http._getAreaData({
    size: size.value,
    current: current.value
  })
  let data = []
  if (result.status === 200) data = result.data
  const res = dataToTree(data, 0, [])
  datas.value = order(res)
}
getArea()
const order=(data:any)=>{
  const dataData=data.map((item:any,index:number)=>{
    if(item.children){
      return{
        id:item.areaId,
        value:item.areaName,
        label:item.areaName,
        children:order(item.children)
      }
    }
    return{
      label:item.areaName
    }
  })
  return dataData
}
function dataToTree(dataList: any, id: any, list: any) {
  for (let item of dataList) {
    if (item.parentId === id) {
      list.push(item)
    }
  }
  for (let i of list) {
    i.children = [];
    dataToTree(dataList, i.areaId, i.children)
  }
  return list
}
interface Tree {
  label: string
  children?: Tree[]
}
const defaultProps = {
  children: 'children',
  label: 'areaName',
}
const handleNodeClick = (data: Tree) => {
  console.log(data)
}
const filterNode = (value: any, data: any) => {
  console.log("111");
}
const search = async () => {
  const result: any = await http._getAreaData({
    size: size.value,
    current: current.value,
    areaName: values.value
  })
  let data = []
  if (result.status === 200) data = result.data
  const res = dataToTree(data, 0, [])
  datas.value = order(res)
}
const edit=()=>{

}
const del=()=>{

}
const addList=()=>{
  addModal.value=true
}
const handleClose = (done: () => void) => {
 addModal.value=false
}
</script>

<style lang="scss" scoped>
.operations {

color: #02A1E9;
}

.custom-tree-node {
display: inline-block;
width: 81vw;

flex: 1;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 14px;
padding-right: 8px;
}

.ha {
width: 150px;
display: inline-block;

}

</style>