.prodUtils_wrap {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;

    .avatar-uploader .el-upload {
        border: 1px dashed var(--el-border-color);
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: var(--el-transition-duration-fast);
    }

    .avatar-uploader .el-upload:hover {
        border-color: var(--el-color-primary);
    }

    .el-icon.avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 108px;
        height: 108px;
        text-align: center;
    }

    .example-demonstration {
        margin: 1rem;
    }
    .delete_specifiction{
        color:  #79bbff;
        font-weight: normal;
        margin: 0 10px;
        cursor: pointer;
        .delete_specifiction_icon{
            position: relative;
            top: 2px;
            margin: 0 5px;
        }
    }
    .delete_specifiction:hover{
        color:  #337ecc;
    }
}
