<template>
    <div class='prodUtils_wrap'>
        <el-form :model='form' label-width='100px'>

            <el-form-item label='产品图片'>
                <img class='el-upload-list__item-thumbnail' :src='imageUrl' alt='' />
                <el-upload class='avatar-uploader' action='https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15'
                    :show-file-list='false' :on-success='handleAvatarSuccess' :before-upload='beforeAvatarUpload'>
                    <img v-if='imageUrl' :src='imageUrl' class='avatar' />
                    <el-icon v-else class='avatar-uploader-icon'>
                        <Plus />
                    </el-icon>
                </el-upload>
            </el-form-item>

            <el-form-item label='状态'>
                <el-radio-group v-model='form.status'>
                    <el-radio label='上架' value='1' />
                    <el-radio label='下架' value='0' />
                </el-radio-group>
            </el-form-item>

            <el-form-item label='产品分类' style='width: 30%'>

                <div class='example-block'>
                    <el-cascader v-model='form.options' :options='options' :props='props' @change='handleChange'
                        placeholder='美妆护肤 / 手机数码' />
                </div>
            </el-form-item>

            <el-form-item label='产品分组' style='width: 40%'>
                <el-select v-model='form.grouping' placeholder='请选择'>
                    <el-option v-for='(item, index) in GroupingData.value' :key='index' :label='item.title'
                        :value='item.title' />
                </el-select>
            </el-form-item>

            <el-form-item label='产品名称'>
                <el-input v-model='form.name' style='width: 50%' />
            </el-form-item>


            <el-form-item label='产品卖点'>
                <el-input v-model='form.sellingPoint' type='textarea' style='width: 50%' />

            </el-form-item>

            <el-form-item label='配送方式'>
                <el-checkbox-group v-model='form.Delivery'>
                    <el-checkbox label='商家配送' name='type' @change='(e: any) => DeliveryClick(e)' />
                    <el-checkbox label='用户自提' name='type' />
                </el-checkbox-group>
            </el-form-item>

            <div>
                <el-form-item label='运费设置' v-if='freight'>
                    <el-select v-model='form.freight' placeholder='请选择' @change='freightChang'>
                        <el-option v-for='(item, index) in FreightData.value' :key='index' :label='item.transName'
                            :value='item.transportId' />
                    </el-select>


                    <!-- 运费 表格数据 -->
                    <el-table class='table_wrap' v-if='freightTabData.value' :data='freightTabDataCityList.value'
                        stripe='true' border='true'>
                        <el-table-column label='配送地区'>
                            <template #default='scope'>
                                <div v-if='scope.row.cityList.length > 0'>
                                    <el-tag v-for="(item, index) in scope.row.cityList" :key="index">{{ item.areaName }}
                                    </el-tag>
                                </div>
                                <div v-else>所有地区</div>
                            </template>
                        </el-table-column>
                        <el-table-column label='首重(kg)' property='continuousFee' />
                        <el-table-column label='运费(元)' property='continuousPiece' />
                        <el-table-column label='续重(kg)' property='firstFee' />
                        <el-table-column label='续费(元)' property='firstPiece' />
                    </el-table>
                    <el-table v-if='freightTabDataTwo.value' :data='freightTabData.value.transfeeFrees' stripe='true'
                        border='true' style='margin: 10px 0;'>
                        <el-table-column label='指定区域'>
                            <template #default='scope'>
                                <div v-if='freightTabDataTwo.value'>
                                    <el-tag v-for="(item, index) in freightTabDataTwo.value" :key="index">
                                        {{ item.areaName }}
                                    </el-tag>
                                </div>
                                <div v-else>所有地区</div>
                            </template>
                        </el-table-column>
                        <el-table-column label='包邮条件'>
                            <template #default='scope'>
                                <span>满件/重量/体积且满金额包邮</span>
                                <span>满999件/重量/体积且满999元金额包邮</span>
                            </template>
                        </el-table-column>
                    </el-table>


                </el-form-item>
            </div>

            <el-form-item label='商品规格'>
                <el-button @click='SpecificationsClick'>添加规格</el-button>
            </el-form-item>

            <div v-if='Specifications'>
                <el-form-item label='规格名'>
                    <el-select v-model='form.specificationName' placeholder='请选择' @change='specificationNameChange'>
                        <el-option v-for="(item, index) in SpecificationsData.value" :key="index" :label='item.propName'
                            :value='item.propId' />
                    </el-select>
                </el-form-item>

                <el-form-item label='规格值'>
                    <el-select v-model='form.specificationNum' placeholder='请选择' multiple>
                        <el-option v-for="(item, index) in specificationNumData.value" :key="index"
                            :label='item.propValue' :value='item.valueId' />
                    </el-select>
                </el-form-item>

                <el-form-item>
                    <el-button type='primary' @click='specificationSubmit'>确定</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </div>
            <el-form-item>
                <div class="specifcation_wrap" v-if='specificationOverData.value'>
                    <div v-for="(item, index) in specificationOverData.value" :key="index">
                        <div>
                            <span v-for="(val, i) in item.specificaName" :key="i">{{ val.propName }}<b
                                    class='delete_specifiction'>
                                    <el-icon class='delete_specifiction_icon'>
                                        <Delete />
                                    </el-icon>删除
                                </b></span>
                        </div>
                        <div>

                            <el-tag v-for='(V, I) in item.specificaNum' :key="I" class="mx-1" closable
                                :disable-transitions="false" style='margin: 0 5px;' @close="handleClose(V.propId)">
                                {{ V.propValue }}
                            </el-tag>
                            <el-input v-if="inputVisible" ref="InputRef" v-model="inputValue" style='width: 100px;'
                                class="ml-1 w-20" size="small" @keyup.enter="handleInputConfirm(index)"
                                @blur="handleInputConfirm(index)" />
                            <el-button v-else class="button-new-tag ml-1" size="small" @click="showInput">
                                + 添加
                            </el-button>
                        </div>

                    </div>
                </div>
            </el-form-item>



            <el-table class='table_wrap' :data='tableData' style='width: 80%;margin:10px 0px 20px 100px;' stripe='true'
                border='true'>
                <el-table-column label='销售价'>
                    <template #default='scope'>
                        <el-input-number v-model='form.desc' :min='1' :max='10' size='small' style='width: 100%;'
                            controls-position='right' />
                        <!-- @change='handleChange' -->
                    </template>
                </el-table-column>

                <el-table-column label='市场价'>
                    <template #default='scope'>
                        <el-input-number v-model='form.desc' :min='1' :max='10' size='small' style='width: 100%;'
                            controls-position='right' />
                    </template>
                </el-table-column>
                <el-table-column label='库存'>
                    <template #default='scope'>
                        <el-input v-model='scope.row.name' />
                    </template>
                </el-table-column>
                <el-table-column label='商品重量(kg)'>
                    <template #default='scope'>
                        <el-input v-model='form.desc' />
                    </template>
                </el-table-column>
                <el-table-column label='商品体积(m³)'>
                    <template #default='scope'>
                        <el-input v-model='form.desc' />
                    </template>
                </el-table-column>

                <el-table-column label='操作' show-overflow-tooltip>
                    <template #default='scope'>
                        <!--  @click='handleEdit(scope.$index, scope.row)' -->
                        <el-button size='small' type='primary'>禁用
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-form-item>
                <el-button type='primary' @click='onSubmit'>保存</el-button>
            </el-form-item>

        </el-form>
    </div>
</template>

<script setup lang='ts' >
import './index.scss'
import { reactive, ref, nextTick } from 'vue';
import * as http from '../../api/index';
import { ElMessage, ElInput } from 'element-plus';
import { Plus, Delete } from '@element-plus/icons-vue';
import type { UploadProps } from 'element-plus';

const imageUrl = ref(''); // 上传图片路径
const options = ref([]); // 产品分类 的数据
const freight = ref(false); // 运费 设置控制 参数
const Specifications = ref(false); // 控制规格 控制器
const FreightData: any = reactive([]); // 产品分组 数据
const GroupingData: any = reactive([]); // 产品分组 数据
const freightTabData: any = reactive([]); // 运费选中表格数据
const freightTabDataTwo: any = reactive([]);
const freightTabDataCityList: any = reactive([]);
const SpecificationsData: any = reactive([]); // 规格名 数据
const specificationNumData: any = reactive([]); // 规格值得数据
const specificationOverData: any = reactive([]); // 规格选中需要渲染的数据

const inputValue = ref('')
const inputVisible = ref(false)
const InputRef = ref<InstanceType<typeof ElInput>>()

const form = reactive({
    sellingPoint: '产品卖点',// 产品卖点
    desc: '',
    status: '上架', // 产品状态
    options: '', // 产品分类
    grouping: '', // 产品分组
    name: '产品名称', // 产品名称
    Delivery: [], // 配送方式 
    freight: '', // 运费 设置
    specificationName: '', // 规格名
    specificationNum: [], // 规格值
    tableData: {

    }
})
const value = ref([]); //产品分类 练级选择
console.log(value, '产品分类 练级选择');
// 
const props = {
    expandTrigger: 'hover',
}


// 获取 各个数据
const GetprodInfoList = async () => {
    // 产品分类；
    let resClassify: any = await http._addClassifyProdPage({ t: new Date().getTime() });
    let classifyArr: any = [];
    resClassify.data.forEach((item: any) => {
        let obj: any = {};
        obj.value = item.categoryName
        obj.label = item.categoryName
        obj.parentId = item.parentId
        obj.categoryId = item.categoryId
        classifyArr.push(obj)
    })
    let data = handleCommentList(classifyArr, 0, []);
    options.value = data;

    // 产品分组；
    let resGrouping: any = await http._addGroupingProdPage({ t: new Date().getTime() });
    GroupingData.value = resGrouping.data;

    // 规格名；
    let Specifications: any = await http._addSpecificationsProdPage({ t: new Date().getTime() });
    SpecificationsData.value = Specifications.data;


    // 运费设置数据
    let freightList: any = await http._freightData({ t: new Date().getTime() });
    FreightData.value = freightList.data;

}
GetprodInfoList();

// 处理表格的数据
const handleCommentList = (dataList: any, id: any, list: any) => {
    for (let item of dataList) {
        if (item.parentId === id) {
            list.push(item);
        }
    }
    for (let i of list) {
        i.children = [];
        handleCommentList(dataList, i.categoryId, i.children);
    }
    return list
}

// 产品分类练级 点击的时候
const handleChange = (value: any) => {
    console.log(value)
}

const onSubmit = () => {
    console.log('submit!')
}

const handleAvatarSuccess: UploadProps['onSuccess'] = (
    response,
    uploadFile
) => {
    console.log(uploadFile, 'uploadFile');

    imageUrl.value = URL.createObjectURL(uploadFile.raw!)
}

// 点击上传图片
const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
    console.log(rawFile, 'rawFile');

    if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('Avatar picture must be JPG format!')
        return false
    } else if (rawFile.size / 1024 / 1024 > 12) {
        ElMessage.error('Avatar picture size can not exceed 2MB!')
        return false
    }
    return true
}

// 配送方法 商家配送 点击事件
const DeliveryClick = (e: any) => {
    // console.log(form.Delivery,'--------------------------------');

    freight.value = e;
}

// 通过规则名 筛选规格值得数据
const specificationNameChange = async (val: any) => {
    let res: any = await http._SpecificationsNumPage(val);
    specificationNumData.value = res.data;
}
// 控制规格开关的额
const SpecificationsClick = () => {
    form.specificationName = ''
    form.specificationNum = []
    Specifications.value = !Specifications.value;
}

// 运费设置 获取运费表格数据
const freightChang = async (val: any) => {
    let res: any = await http._freightTabData(val);
    freightTabData.value = res.data;
    freightTabDataTwo.value = res.data.transfeeFrees[0].freeCityList;
    freightTabDataCityList.value = res.data.transfees;
}

// 规格点击确定得时候
const specificationSubmit = () => {
    let data: any = specificationOverData;
    let num: any = [];
    let name = SpecificationsData.value.filter((item: any) => item.propId == form.specificationName);
    specificationNumData.value.forEach((item: any) => {
        form.specificationNum.forEach((val: any) => {
            if (item.valueId == val) num.push(item)
        })
    });
    let _obj = {
        specificaName: name,
        specificaNum: num,
    }
    data.push(_obj)
    specificationOverData.value = data;
    Specifications.value = false;
}
const showInput = () => {
    inputVisible.value = true
    // nextTick(() => {
    //     InputRef.value!.input!.focus()
    // })
}
// 规格 添加按钮的时候
const handleInputConfirm = (I: any) => {

    if (inputValue.value) {
        console.log(specificationOverData.value[I].specificaNum, 'inpu specificationOverData.value[I].specificaNumtValue.value');

        // dynamicTags.value.push(inputValue.value);
        let _obj = {
            propId: new Date().getTime(),
            propValue: inputValue.value,
            valueId: new Date().getTime(),
        }
        specificationOverData.value[I].specificaNum.push(_obj);
    }
    inputVisible.value = false
    inputValue.value = ''
}
// 规格 tag 删除事件
const handleClose = (tag: string) => {
    console.log(specificationOverData,'specificationOverData---');
    
//   dynamicTags.value.splice(dynamicTags.value.indexOf(tag), 1)
}

const tableData: any[] = [
    {
        date: '2016-05-03',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
        num: 1
    },
    {
        date: '2016-05-03',
        name: 'yyyy',
        address: 'No. 189, Grove St, Los Angeles',
        num: 1
    },

]

</script>

<style lang='scss' scoped>

</style>