@media screen and (min-width: 1000px) {
    .el-form{
        flex-wrap: wrap;
        align-items:flex-start;
    }
}
.order{
    height: 100%;
    width: 100%;
    .header{
        height:150px;
        width: 100%;
        // background: paleturquoise;
       .el-form{
           height: 100%;
           width: 100%;
           display: flex;
           justify-content: flex-start;
           align-items: center;
           .form{
               width: 60%;
            //    height: 100%;
            //    background: red;
               display: flex;
               justify-content:flex-start;
            //    align-items: center;
           }
        //    .but{
        //        flex: 1;
        //     //    background: pink;
        //    }
           .el-form-item{
               margin: 0 20px;
               .input{
                   width: 200px;
               }
               .el-input__wrapper{
                   width: 200px;
               }
               .el-date-editor {
                   width: 300px;
               }
           }
       }
    }
    .list{
        // height: 50px;
        height:100%;
        // height:80px;
        // background:red;
        width: 100%;
    }
    .pagepination{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    //    background: blue;
    }
    .modal_list{
        display: flex;
        // background: lightblue;
        .buy{
            width: 50%;
            line-height: 50px;
            border-right: 1px solid #ccc;
            p{
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-bottom-style:dashed;
            }
        }
        .sale{
            width: 50%;
            line-height: 50px;
            p{
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-bottom-style:dashed;
            }
        }
    }
  }
  .food{
      margin-top: 20px;
      .food_header{
          height: 50px;
          width: 100%;
          line-height: 50px;
          border: 1px solid #ccc;
          border-bottom: none;
         text-align: center;
      }
      .el-col{
        border-spacing: 0;
        border-collapse: collapse;
      }
  }
  .logger{
      margin-top: 20px;
  }