<template>
    <div class="table">
        <div class="table_header">
            <el-row style="width:100%">
                <el-col :span="10"><span class="item product">商品</span></el-col>
                <el-col :span="3"><span class="item">成交单价/购买数量</span></el-col>
                <el-col :span="3"><span class="item">实付金额</span></el-col>
                <el-col :span="3"><span class="item">支付方式</span></el-col>
                <el-col :span="3"><span class="item">订单状态</span></el-col>
                <el-col :span="2"><span class="item">操作</span></el-col>
            </el-row>
        </div>
        <div class="table_list" v-for="(item, index) in Data.value" :key="item.orderItemId">
            <div class="orders">
                <span>订单编号:{{ item.orderNumber }}</span>
                <span>下单时间:{{ item.updateTime }}</span>
            </div>
            <div class="prod-cont">
                <el-row style="width:100%">
                    <el-col :span="12">
                        <div class="prod-item">
                            <div class="items name" v-for="(order, index) in item.orderItems" :key="item.orderItemId">
                                <div class="prod-image">
                                    <img :src="Url + order.pic" alt="" style="height:100px;width: 100px;">
                                </div>
                                <div class="prod-name">
                                    <span>{{ order.prodName }}</span>
                                    <span class="prod-info">{{ order.skuName }}</span>
                                </div>
                                <div class="pros-price">
                                    <span>￥{{ order.price }}</span>
                                    <span>X{{ order.prodCount }}</span>
                                </div>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="3" style="height: 100%;">
                        <div class="item">
                            <div>
                                <span class="totalprice">￥{{ item.actualTotal }}</span>
                                <span v-if="item.freightAmount">(含运费:￥{{ item.freightAmount }})</span>
                                <span>共{{ item.productNums }}件</span>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="3" style="height: 100%;">
                        <div class="item">
                            <div>
                                <span v-if="item.payType === 1">微信支付</span>
                                <span v-else-if="item.payType === 2">支付宝</span>
                                <span v-else>手动代付</span>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="3" style="height: 100%;">
                        <div class="item">
                            <span v-if="item.status === 1" size="small" type="danger">待付款</span>
                            <span v-else-if="item.status === 2" size="small" type="danger">待发货</span>
                            <span v-else-if="item.status === 3" size="small" type="danger">待收货</span>
                            <span v-else-if="item.status === 4" size="small" type="danger">待评价</span>
                            <span v-else-if="item.status === 5" size="small" type="danger">成功</span>
                            <span v-else size="small">失败</span>
                        </div>
                    </el-col>
                    <el-col :span="3" style="height: 100%;">
                        <div class="item">
                            <div class="operate">
                                <el-button type="text" size="small" @click="editmodal(item.orderNumber)">修改</el-button>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div class="remark">
                <div class="buyer-remark">
                    <span>备注:{{ item.remarks}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
  
<script lang="ts" setup>
import * as http from "../../../apis/orderApi/index"
import { ref, toRefs, defineProps, defineEmits } from 'vue'

const props = defineProps<{
    Data: any,
    size: any,
    current: any
}>()
const { Data, size, current } = toRefs(props);
const emits = defineEmits(['editmodal'])

console.log(window, 'import.meta.env.BASE_URL');
const Url = 'http://img-test.gz-yami.com/'
const editmodal=(orderNumber:any)=>{
    emits('editmodal',orderNumber)
    console.log(orderNumber,"订单编号");
    
}
</script>
  
<style lang="scss" scoped>
.table {
    height: 100%;
    width: 100%;
    // background: yellow;
    // margin: 20px 20px 20px 20px;

    .table_header {
        height: 50px;
        width: 100%;
        margin-left: 20px;
        // background: yellowgreen;
    }

    .table_list {
        // height:100%;
        width: 98%;
        // background: pink;
        border: 1px solid #ccc;
        margin: 20px;
        margin-right: 30px;

        .orders {
            width: 100%;
            height: 30px;
            background: rgb(248, 248, 248);
            line-height: 30px;
            border-bottom: 1px solid #ccc;
            padding-left: 10px;
            font-size: 14px;

            span:last-child {
                margin-left: 15px;
            }
        }


        .prod-cont {
            display: flex;
            border-top: 1px solid #dddee1;
            border-bottom: 1px solid #dddee1;
            border-left: 1px solid #dddee1;
            color: #495060;
        }

        .prod-cont .item {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            // width: 10%;
            border-right: 1px solid #dddee1;
            text-align: center;
            height: 100%;
        }

        .prod-cont .item span {
            display: block;
        }

        .prod-cont .prod-item {
            // width: 38%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid #dddee1;
        }

        .prod-name {
            width: 55%;
            text-align: left;
        }

        .prod-price {
            position: absolute;
            right: 40px;
            text-align: center;
        }

        .prod-price span {
            display: block;
            margin-bottom: 10px;
        }

        .prod-name .prod-info {
            display: block;
            color: #80848f;
            margin-top: 30px;
        }

        .prod-cont .items.name {
            display: flex;
            position: relative;
            padding: 20px;
            // height: 100px;
            border-bottom: 1px solid #dddee1;
        }

        .prod-cont .items.name:last-child {
            border-bottom: none;
        }

        .prod-image {
            margin-right: 20px;
            width: 100px;
            height: 100px;
        }

        .prod-image img {
            width: 100px;
            height: 100px;
        }

        .item span {
            display: block;
            margin-bottom: 10px;
        }

        .item .operate {
            color: #2d8cf0;
        }

        .item .totalprice {
            color: #c00;
        }

        .prod .remark {
            width: 100%;
            height: 50px;
            line-height: 50px;
            background-color: #e8f7f6;
            border-left: 1px solid #dddee1;
            border-right: 1px solid #dddee1;
            border-bottom: 1px solid #dddee1;
            margin-bottom: 20px;
        }

        .buyer-remark {
            padding: 0 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .remark {
        width: 100%;
        height: 40px;
        // background:rgb(248,248,248);
        line-height: 30px;
        background: rgb(234, 247, 246);
        border-top: 1px solid #ccc;
        padding-left: 20px;
        line-height: 40px;
        font-size: 14px;
    }

    // }
}
</style>