<template>
    <el-dialog v-model="dialogFormVisible" title="Shipping address" @closed='adilogClosed()' width='50%' top='2vh'>
        <el-form :model="form">
            <el-form-item label="Promotion name" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off" />
            </el-form-item>
            <el-form-item label="Zones" :label-width="formLabelWidth">
                <el-select v-model="form.region" placeholder="Please select a zone">
                    <el-option label="Zone No.1" value="shanghai" />
                    <el-option label="Zone No.2" value="beijing" />
                </el-select>
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button type="primary" @click='dialogSubmit()'>
                    保存
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script setup lang='ts'>
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue'

const dialogFormVisible = ref<boolean>(false);
const formLabelWidth = '140px';
const form = reactive({
    name: '',
    region: '',
})
// 使用 defineProps 接受父组件的参数，并且添加校验
const props = defineProps<{
    dialogFlag: any,
    dialogItem: any
}>()

// 使用 toRefs 绑定props每一个属性，使用时候 想ref的使用；
const { dialogFlag, dialogItem } = toRefs(props);
console.log(dialogItem, '-----弹框需要的数据----------------');

// 使用 defineEmits 接收到父组件的事件
const emits = defineEmits(['diaSubmit','adilogClosed']);

// 控制弹框的 状态(开关)
dialogFormVisible.value = dialogFlag.value;

// 保存按钮
const dialogSubmit = () => {
    let falg = false; // 关闭弹框
    let dialogState = false; // 判断 新建 还是 增加
    emits('diaSubmit', {
        falg, dialogState
    });
}

// 弹框关闭动画结束的时候
const adilogClosed = () => {
    emits('adilogClosed')
}

</script>

<style lang="scss" scoped>
// .dialog_wrap{
//     width: 90%;
//     height: 90%;
// }
// .el-button--text {
//     margin-right: 15px;
// }

// .el-select {
//     width: 300px;
// }

// .el-input {
//     width: 300px;
// }

// .dialog-footer button:first-child {
//     margin-right: 10px;
// }
</style>