<template>
  <div class="admin">
    <div class="header" v-show="showFlag">
      <el-form status-icon label-width="120px" class="demo-ruleForm">
        <el-form-item label="角色名称">
          <el-input class="input" placeholder="角色名称" v-model="values" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm()">
            <el-icon>
              <Search />
            </el-icon>搜索
          </el-button>
          <el-button @click="resetForm()">
            <el-icon>
              <Delete />
            </el-icon>清空
          </el-button>
        </el-form-item>
      </el-form>
      <div class="tan">
        <el-dialog v-model="dialogVisible" title="多选" width="40%" style="text-align: center;">
          <el-transfer v-model="value" :data="data" :titles="titles" @change="onchangeCang" />
        </el-dialog>
      </div>
    </div>
    <div class="menu">
      <span>
        <el-button type="primary" @click="addRole()">+新增</el-button>
        <el-button type="danger" @click="allDel">批量删除</el-button>
      </span>
      <span>
        <el-button :icon="Refresh" circle @click="refresh" />
        <el-button :icon="Menu" circle @click="dialogVisible = true" />
        <el-button :icon="Search" circle @click="cang" />
      </span>
    </div>
    <!-- 增加弹框 -->
    <el-dialog v-model="dialogVisible1" title="新增" width="30%" :before-close="handleClose">
      <el-form ref="formRef" :model="Form" label-width="120px" class="demo-dynamic">
        <el-form-item prop="roleName" label="角色名称">
          <el-input v-model="Form.roleName" placeholder="角色名称" />
        </el-form-item>
        <el-form-item prop="remark" label="备注">
          <el-input v-model="Form.remark" placeholder="备注" />
        </el-form-item>
      </el-form>
      授权
      <el-tree :data="list.value" show-checkbox node-key="menuId" :props="defaultProps" v-model="Form.menuIdList"
        @check="handleCheckChange" />
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible1 = false">取消</el-button>
          <el-button type="primary" @click="addSubmit">
            增加
          </el-button>
        </span>
      </template>
    </el-dialog>
    <div class="table">
      <span class="table_checked_length">当前表格选中<b>{{ count }}</b>项</span>
      <span class="table_close">清空</span>
      <TableList :Data="tableData" :size="size" :current="current" @handleEdit="handleEdit" @handleDelete="handleDelete"
        @handleSelectionChange="handleSelectionChange" :showList="show"></TableList>
    </div>
    <div class="fenye">
      <Pageination :size="size" :current="current" :total="total" @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"></Pageination>
    </div>
    <!-- 编辑弹窗 -->
    <el-dialog v-model="editValue" title="编辑" width="30%" :before-close="Close">
      <!-- <div :data="editData">{{roleName}}</div> -->
      <el-form ref="formRef" label-width="120px" class="demo-dynamic">
        <el-form-item prop="name" label="角色名称">
          <el-input v-model="name" placeholder="角色名称" />
        </el-form-item>
        <el-form-item prop="remark" label="备注">
          <el-input v-model="remark" placeholder="备注" />
        </el-form-item>
      </el-form>
      <!-- <span>{{editData.roleId}}</span> -->
      授权
      <el-tree :data="list.value" show-checkbox node-key="menuId" :props="defaultProps" v-model="editData.value" />
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="editValue = false">取消</el-button>
          <el-button type="primary" @click="submitEdit">
            提交
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import "./css/index.scss"
import { Search, Delete, Refresh, Menu } from '@element-plus/icons-vue'
import { reactive, ref } from 'vue'
import { Timer } from '@element-plus/icons-vue'
import * as http from "../../../apis/roleApi/index"
import TableList from "./components/table.vue";
import { ElMessage, ElMessageBox } from 'element-plus'
import Pageination from "./components/pageination.vue"
const multipleSelection: any = ref([])
const dialogVisible = ref(false)
const size = ref(10)
const current = ref(1)
const total = ref(0)
const tableData: any = reactive([])
const value = ref([])
const values = ref([])
const roleName: any = ref("")
const dialogVisible1 = ref(false)
const list: any = reactive([])
const showFlag = ref(true)
const editValue = ref(false)
const editData: any = reactive([])
const name = ref([])
const remark = ref([])
const id = ref([])
const count: any = ref(0)
const moreDel: any = ref([])
// const edit:any=reactive([])
// const id = ref([])
const defaultProps = {
  children: 'children',
  label: 'name',
}
interface Option {
  key: number
  label: string
  disabled: boolean,
}
const Form = reactive<{
  roleName: string
  remark: string,
  menuIdList: any,
  roleId: any
}>({
  roleName: "",
  remark: "",
  menuIdList: [],
  roleId: 0

})
const titles = ["显示", "隐藏"]
const submitForm = () => {
  console.log(values.value, "搜索");
  const searchRole = async () => {
    const res: any = await http._getRoleData({
      size: size.value,
      current: current.value,
      roleName: values.value
    })
    tableData.value = res.data.records
    roleName.value = values.value
  }
  searchRole()
}
//清空表单
const resetForm = () => {
  value.value = []
}
//刷新
const refresh = () => {
  location.reload()
}
//点击隐藏搜索栏
const cang = () => {
  showFlag.value = !showFlag.value
}
interface User {
  date: string
  name: string
  address: string
}
//获取接上我数据
const getRole = async () => {
  const res: any = await http._getRoleData({
    size: size.value,
    current: current.value,
  })
  total.value = res.data.total;
  tableData.value = res.data.records;
}
getRole()
//获取编辑数据

//编辑数据获取
const handleEdit = (row: any) => {
  // console.log(name.value, "编辑爹.............")
  editValue.value = true;
  // id.value = row.roleId
  const edieList = async () => {
    const res: any = await http._editList({
      roleId: row.roleId
    })
    // editData.value = res.data;
    name.value = res.data.roleName
    remark.value = res.data.remark
    editData.value = res.data.menuIdList
    console.log(editData.value, "树形数据00000000000000000");
    id.value = res.data.roleId
  }
  edieList()
}
//编辑功能
const submitEdit = () => {
  // console.log(name.value,"修改的");
  const editD = async () => {
    const res: any = await http._editData({
      roleName: name.value,
      remark: remark.value,
      roleId: id.value,
      menuIdList: editData.value
    })
    // tableData.value=res.data;
    console.log(res, "数据");

    if (res.status === 200) {
      // message("修改成功")
      // ElMessage('this is a message.')
      ElMessage({
        message: '编辑成功',
        type: 'success',
      })
      getRole()
    }
  }
  editD()
  editValue.value = false
}
//点击弹窗关闭
const Close = () => {
  editValue.value = false
}
//删除数据
const handleDelete = (row: any) => {
  ElMessageBox.confirm(
    '确认进行[删除]操作吗?',
    'Warning',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(() => {

      const delRole = async () => {
        let id = row.roleId
        const res: any = await http._delRoleData([
          id
        ])
        // roleIds.value = row
        if (res.status === 200) {
          getRole()
          ElMessage({
            type: 'success',
            message: '删除成功',
          })
        }
        else {
          ElMessage({
            // type: 'danger',
            message: '删除失败',
          })
        }
      }
      delRole()
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '您已取消',
      })
    })
}
const allDel = () => {
  // multipleSelection.value.forEach((item: any) => {
  //   moreDel.value.push(item.roleId)
  // })
  moreDel.value.forEach((item: any) => {
    let id = item as number
    handleDelete(id)
  })
}
//批量删除
const handleSelectionChange = (val: any) => {
  multipleSelection.value = val
  // console.log(multipleSelection.value.roleId,"删除的数据是这个");
  moreDel.value = val;
  // console.log(moreDel.value.roleId,"删除的数据是这个");
  console.log(val, "6666666666666666666666666666666");
  count.value = val.length
}
const handleCheckChange = (_: any, checkedKeys: { checkedKeys: number[] }) => {
  Form.menuIdList = checkedKeys.checkedKeys;
  console.log(checkedKeys.checkedKeys, "********************************");

}
//点击确定增加
const addSubmit = () => {
  const addData = async () => {
    const res: any = await http._addData({
      roleName: Form.roleName,
      remark: Form.remark,
      menuIdList: Form.menuIdList,
      roleId: Form.roleId
    })
    // console.log(res,"11111");
    if (res.status === 200) {
      ElMessage({
        message: '增加成功.',
        type: 'success',
      })
      getRole()
    }
    tableData.value = res.data;
  }
  addData()
  // getRole()
  dialogVisible1.value = false
}
//增加数据
const addRole = () => {
  dialogVisible1.value = true
  // getRole()
}
//获增加弹窗里的折叠菜单
const addMenu = async () => {
  const result: any = await http._addList();
  let data = []
  if (result.status === 200) data = result.data
  const res = dataTotree(data, 0, []);
  list.value = res;
}
addMenu()

//遍历数组处理数据
function dataTotree(dataList: any, id: any, list: any) {
  for (let item of dataList) {
    if (item.parentId === id) {
      list.push(item)
    }
  }
  for (let i of list) {
    i.children = [];
    dataTotree(dataList, i.menuId, i.children)
  }
  return list
}

const handleClose = () => {
  dialogVisible1.value = false
}
//分页
const handleSizeChange = (val: number) => {
  console.log(val, "每页1111111111");
  size.value = val;
  current.value = 1;
  getRole()
}
const handleCurrentChange = (val: number) => {
  current.value = val
  getRole()
  console.log(current.value, "99899898989898");

}
//穿梭框
interface options {
  key: number,
  label: any,
  disabled: boolean
}
const arrs = ref<any>([0, 1, 2, 3])
const data = ref<options[]>([
  { key: 0, label: '角色名称', disabled: false },
  { key: 1, label: '备注', disabled: false },
  { key: 2, label: '创建时间', disabled: false },
  { key: 3, label: '操作', disabled: false },
])
const show = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true },
  { key: 3, showIs: true },
])
const onchangeCang = () => {
  arrs.value.forEach((item: any, index: number) => {
    let newarr: number[] = Array.from(value.value)
    let flag = newarr.includes(item)
    if (flag) {
      show[index].showIs = false
    }
    else {
      show[index].showIs = true
    }
  })
}
</script>

<style>

</style>