<template>
    <el-form :inline='true' :model='formSearchInline' class='demo-form-inline'>
        <el-form-item label='产品名字'>
            <el-input v-model='formSearchInline.prodName' placeholder='产品名字' />
        </el-form-item>
        <el-form-item label='状态'>
            <el-select v-model='formSearchInline.status' placeholder='状态'>
                <el-option label='未上线' value='0' />
                <el-option label='上线' value='1' />
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type='primary' @click='onSearchSubmit'>搜索</el-button>
            <el-button @click='onSearchDelete'>
                清空
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang='ts' setup>
import { reactive, toRefs, defineEmits, defineProps } from 'vue';
const props = defineProps();
const { } = toRefs(props);
const emits = defineEmits(['onSearch', 'searchDelete']);
// 搜索事件 参数
const formSearchInline = reactive({
    prodName: '',
    status: '',
})
// 搜索事件
const onSearchSubmit = () => {
    console.log(formSearchInline, 'formSearchInline');
    let params = {
        prodName : formSearchInline.prodName,
        status: formSearchInline.status
    }
    if (formSearchInline.status == '') {
        params.status = '1'
    }
    emits('onSearch', params);
}
// 搜索清空事件
const onSearchDelete = () => {
    formSearchInline.prodName = '';
    formSearchInline.status = '';
    emits('onSearch');
}
</script>
