<template>
  <div class="search">
    <p><span>模板名称</span>
      <el-input class="input" style="width: 200px;" v-model="input" placeholder="自提点名称" />
      <el-button class="but" type="primary" style="width:70px; height: 35px;" @click="dialogVisible = true, Searchs"
        :icon="Search">搜索
      </el-button>
      <el-button style="width:70px ; height: 35px;" @click="quXiao" :icon="Delete">取消</el-button>
    </p>
  </div>
  <div class="button">
    <el-button type="primary" style="width:70px ; height: 35px;" :icon="Upload" @click="">新增</el-button>
    <el-button type="danger" style="width:70px ; height: 35px;" @click="BatchDelete">批量删除</el-button>
  </div>
  <div class="div">
    <p class="p">当前表格已选择<b>0</b>项<text class="qing">清空</text></p>
  </div>

  <!-- -----------------------数据渲染---------------------------------->

  <el-table ref="multipleTableRef" border stripe="true" :data="tabList" style="width: 95%;margin-left: 30px;"
    size="large" @select-all="SelectAll" @select="Selects">
    <el-table-column type="selection" width="55" align="center" />
    <el-table-column property="transName" label="模板名称" height="50" show-overflow-tooltip align="center" />

    <el-table-column property="" label="" height="50" show-overflow-tooltip align="center" />
    <el-table-column label="操作" size="large" width="300px" align="center">
      <template #default="scope">
        <el-button type="primary" size="small" style="width:70px ; height: 35px;" :icon="Edit"
          @click="dialogVisible = true, ClickEdit(scope.row)">编辑
        </el-button>
        <el-popconfirm title="确定要删除吗？">
          <template #reference>
            <el-button size="small" type="danger" @click="handleClick(scope.row)" style="width:70px ; height: 35px;"
              :icon="Delete">删除
            </el-button>
          </template>
        </el-popconfirm>
      </template>
    </el-table-column>
  </el-table>
  <!-- -----------------------数据渲染-------------------------------- -->


  <!-- -----------------------分页-------------------------------- -->
  <div class="demo-pagination-block">
    <el-pagination class="Fen" v-model:currentPage="current" v-model:page-size="size" :page-sizes="[3, 5, 10, 20]"
      :small="small" :disabled="disabled" background layout="total, sizes, prev, pager, next, jumper" :total="total"
      @current-change="handleCurrentChange" @size-change="handleSizeChange" />
  </div>
  <!-- -----------------------分页-------------------------------- -->

  <!-- ----------------------------------弹框--------------------------------------- -->


  <el-dialog v-model="dialogVisible" title="Tips" width="30%" :before-close="handleClose">
    <el-form ref="ruleFormRef" :model="ruleForm" status-icon label-width="120px" class="demo-ruleForm">
      <el-form-item label="模板名称：" prop="transName">
        <el-input v-model="ruleForm.transName" autocomplete="off" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm(ruleFormRef)">确定</el-button>
        <el-button @click="resetForm(ruleFormRef)">取消</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>






  <!-- ----------------------------------弹框----------------------------------------->


</template>

<script lang="ts" setup>
import { toRefs, reactive, ref } from 'vue'
import { ElButton, ElDialog, ElInput, ElMessageBox, ElPagination, ElTable, ElTableColumn } from 'element-plus'
import { getShopTransport, shopTransport, shopTransportInfo, shopTransports } from "../../../apis/freightTemp"
import { ElMessage } from 'element-plus'
import { Delete, Edit, Search, Share, Upload } from '@element-plus/icons-vue'
import type { FormInstance } from 'element-plus'

const ruleFormRef = ref<FormInstance>()

const input = ref('')//搜索
const formData = reactive({
  transName: '',
  transportId: 0
})

const tabList: any = ref([])//数据

const total = ref(0);
const size = ref(0);
const current = ref(0);
const pages = ref(0);
const getShop_pickAddr = async () => {
  const result: any = await getShopTransport({
    size: 3,
    current: 1,
    pages: 1,
  })
  total.value = result.data.total;
  size.value = result.data.size;
  current.value = result.data.current;
  pages.value = result.data.pages;
  tabList.value = result.data.records;
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
  // console.log(tabList.value, "111111111111111111111111111111111111")
}
getShop_pickAddr()



const small = ref(false)
const disabled = ref(false)



const handleSizeChange = async (val: number) => {
  console.log(val)
  const result: any = await getShopTransport({
    size: val,
    current: 1
  })
  total.value = result.data.total;
  tabList.value = result.data.records;
}
const handleCurrentChange = async (val: number) => {
  // console.log(`current page: ${val}`)
  const result: any = await getShopTransport({
    size: 3,
    current: val
  })
  total.value = result.data.total;
  tabList.value = result.data.records;
}

// 删除     批量删除--------------------------------------

let arr: any = reactive([])
let newArr: any = reactive([])

// 全选
const SelectAll = async (row: any) => {
  row.forEach((item: any) => arr.push(item.transportId))
  newArr = [...new Set(arr)]
}

//反选
const Selects = (row: any) => {
  row.forEach((item: any) => arr.push(item.transportId))
  newArr = [...new Set(arr)]
}

// 点击批量删除
const BatchDelete = async () => {
  let params: any = newArr
  const result = await shopTransport(params)
  getShop_pickAddr()
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
}

const handleClick = async (row: any) => {
  let id = row.transportId
  const deng = [id]
  const result = await shopTransport(deng)
  getShop_pickAddr()
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
}

// 删除     批量删除--------------------------------------

const dialogVisible = ref(false)


const handleClose = (done: () => void) => {
  ElMessageBox.confirm('Are you sure to close this dialog?')
    .then(() => {
      done()
    })
    .catch(() => {
      // catch error
    })
}

const Searchs = async () => {
  let params = { size: 3, current: 1, transName: input.value }
  let data: any = await getShopTransport(params)
  tabList.value = data.data.records
  total.value = data.data.total;
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
}

const quXiao = () => {
  input.value = ""
  getShop_pickAddr()
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
}





const ruleForm = reactive({
  transName: '',
  createTime: '',
  chargeType: 0,
  transportId: 0,
  isFreeFee: 0,
  transfees: null,
  transfeeFrees: null,
  shipId: 0,
  hasFreeCondition: 0,
  transfeeFreeId: 0,
  freeType: 0,
  amount: 0,
  piece: 0,
  areaId: 0,
  areaName: '',
  parentId: 0,
})
const ClickEdit = async (row: any) => {
  console.log(row, "5555555555555555555555555555555555");
  let params = {
    id: row.transportId,
    size: 10,
    current: 1,
  }

  let res: any = await shopTransportInfo(params)
  console.log(res, "111111111111111111111111111111111111");
  ruleForm.transName = res.data.transName
  ruleForm.transportId = res.data.transportId
  ruleForm.chargeType = res.data.chargeType;
  ruleForm.createTime = res.data.createTime;
  ruleForm.isFreeFee = res.data.isFreeFee;
  ruleForm.transfeeFrees = res.data.transfeeFrees;
  ruleForm.transfees = res.data.transfees;
  ruleForm.shipId = res.data.shipId;
  ruleForm.hasFreeCondition = res.data.hasFreeCondition;
  ruleForm.transfeeFreeId = res.data.transfeeFrees.transfeeFreeId;
  ruleForm.freeType = res.data.transfeeFrees.freeType;
  ruleForm.amount = res.data.transfeeFrees.amount;
  ruleForm.piece = res.data.transfeeFrees.piece;
  ruleForm.areaId = res.data.transfeeFrees.areaId;
  ruleForm.areaName = res.data.transfeeFrees.areaName;
  ruleForm.parentId = res.data.transfeeFrees.parentId;
}

const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.validate(async (valid) => {
    if (valid) {
      let params = ruleForm
      const result = await shopTransports(params)
      console.log(result);
      dialogVisible.value = false
      getShop_pickAddr()
    } else {
      console.log('error submit!')
      return false
    }
  })
}

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
}












</script>
<style lang="scss">
.search {
  width: 100%;
  height: 80px;
  border: 1px solid #fff;

  p {
    padding-left: 30px;
    padding-top: 20px;

    .input {
      margin-left: 15px;
    }

    .but {
      margin-left: 15px;
    }
  }
}

.button {
  width: 100%;
  height: 50px;
  padding-left: 30px;
}

.div {
  width: 100%;
  height: 30px;

  .p {
    padding-left: 30px;

    .qing {
      padding-left: 10px;
      font-size: 13px;
      color: rgb(83, 83, 244);
    }
  }
}

.demo-pagination-block {
  width: 100%;
  height: 100px;
  margin-top: 20px;

  .Fen {
    margin-left: 700px;
    margin-top: 30px;
  }
}
</style>