<template>
   <div>
    <!-- 热搜管理 -->
    <div class="header_box">
      <div class="Check1_box">
        <div class="text_box">
           标题热搜
        </div>
       <div class="input_box">
           <el-input v-model="input1" placeholder="公告内容"  style="width:280px;height:40px;"/>
        </div>
      </div>
      <div class="Check2_box">
        <div  class="text_box">
          热搜内容
        </div>
        <div class="input_box">
            <el-input v-model="input2" placeholder="公告内容"  style="width:280px;height:40px;"/>
       </div>
      </div>
      <div class="Check3_box">
        <div  class="text_box">
          启动状态
        </div>
        <div class="input_box">
           <el-select v-model="input3" placeholder="是否置顶" style="width:250px;">
          <el-option label="启用" value="1" style="width:250px;height:40px; font-size:16px;"/>
          <el-option label="未启用" value="2" style="width:250px;height:40px; font-size:16px;"/>
          </el-select>
        </div>
        </div>
        <div class="Btn_box">
          <el-button size="large" :icon="Search"  style="width:100px;height:40px;line-height:80px; font-size:15px;"   type="primary" @click="SearchBtn" >搜索</el-button>
         <el-button size="large" :icon="Delete"  style="width:100px;height:40px;line-height:80px; font-size:15px;" type="primary" @click="ClonehBtn">清空</el-button>
      </div>
     </div>
     <div class="wrap_box">
          <el-button type="primary" style="width:100px;height:40px;line-height:80px; font-size:15px;" @click="dialogVisible = true">+添加</el-button>
          <el-button type="danger" style="width:110px;height:40px;line-height:80px; font-size:15px;" @click="AllChecked">批量删除</el-button>
     </div>
    <div class="table_box">
    <el-table :data="tabList" border  style="width:100%" fit="true" ref="multipleTableRef" :default-sort="{ prop: 'date', order: 'descending' }" @select-all="All_Check" @select="checked">
      <el-table-column type="selection" width="55" align="center"/>
      <el-table-column prop="title" label="公告内容"   align="center" resizable/>
      <el-table-column prop="content" label="热搜内容"   align="center" resizable/>
      <el-table-column prop="recDate" label="录入时间" sortable width="180" />
      <el-table-column prop="seq" label="顺序" sortable width="180" align="center"></el-table-column>
      <el-table-column label="启动状态"   align="center" resizable>
      <template #default="scope">
        <el-popover effect="light" trigger="hover" placement="top" width="auto">
          <template #reference v-if="scope.row.status===1">
            <el-tag>启动</el-tag>
          </template>
           <template #reference v-else>
            <el-tag  type="danger">未启动</el-tag>
          </template>
        </el-popover>
      </template>
    </el-table-column>
     <el-table-column prop="" label=""  resizable/>
    <el-table-column prop="" label="操作"   align="center" width="250">
      <template #default="scope">
          <el-button type="primary" style="width:100px;height:40px;line-height:80px; font-size:15px;" @click="handleEdit(scope.$index, scope.row)" :icon="Edit">编辑</el-button>
         <el-button type="danger" style="width:100px;height:40px;line-height:80px; font-size:15px;"  @click="handleDelete(scope.$index, scope.row)" :icon="Delete">删除</el-button>


      </template>
    </el-table-column>
  </el-table>
      </div>
      <!-- 分页 -->
      <div class="pagination_box">
          <div class="demo-pagination-block">
            <el-pagination
              v-model:currentPage="currentPage4"
              v-model:page-size="pageSize4"
              :page-sizes="[2, 5, 8, 10]"
              :small="small"
              :disabled="disabled"
              style="background:#fff;"
              background
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCont"
              @size-change="handleSizeChange"
              @current-change="pageChange"
            />
        </div>
      </div>
      <!-- 弹窗 -->
<el-dialog
    v-model="dialogVisible"
    :title="DialogTitle"
    width="50%"
    :before-close="handleClose"
  >
    <div class="Dialog_box">
       <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="120px"
        class="demo-ruleForm"
      >
    <el-form-item label="标题" prop="title" style="margin-top:30px;">
      <el-input v-model="ruleForm.title"  autocomplete="off" />
    </el-form-item>
    <el-form-item label="内容" prop="content"  style="margin-top:30px;">
      <el-input
        v-model="ruleForm.content"
        autocomplete="off"
      />
    </el-form-item>
    <el-form-item label="排序号" prop="checkPass"  style="margin-top:30px;">
      <div style="margin-top:0px; width:300px;height:50px;">
         <el-input
          v-model="ruleForm.seq"
          autocomplete="off"
          style="width:100px;float:left;border-right:none;"
         />
      <div style="float:left;width:50px;height:50px;">
        <p style="margin-bottom:-5px;padding:0;"> <el-button  :icon="ArrowUp" style="width:30px;height:16px;margin-bottom:15px;border-left:none;" @click="addBtn"/></p>
        <p style="margin-top:5px;padding:0;"> <el-button  :icon="ArrowDown" style="width:30px;height:16px;margin-top:-50px;border-left:none;" @click="delBtn"/></p>
      </div>
      </div>
    </el-form-item>
    <el-form-item label="状态"  style="margin-top:30px;">
      <el-radio-group v-model="ruleForm.resource">
        <el-radio border :label=0 style="border:none;">线下</el-radio>
         <el-radio border :label=1 style="border:none;">正常</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item  style="margin-top:30px;">
      <el-button type="primary" @click="submitForm(ruleFormRef)" style="margin-left:70%;margin-top:8%; width:10%; height:40px;"
        >确定</el-button
      >
      <el-button @click="resetForm(ruleFormRef)" style="margin-top:8%; width:10%; height:40px;">取消</el-button>
    </el-form-item>
  </el-form>
    </div>
  </el-dialog>
      <!--  -->
   </div>
</template>
<script lang="ts" setup>
import {get_list,add_list,del_list,edit_list,Sear_List,Search_List,All_Checked} from "../../../apis/announcemert/index"
import {reactive,onMounted,ref} from "vue"
import { Timer } from '@element-plus/icons-vue'
import { Search,Delete,Edit,  Share, Upload,ArrowUp,ArrowDown } from '@element-plus/icons-vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { InfoFilled } from '@element-plus/icons-vue'
import type { FormInstance } from 'element-plus'
interface User {
  date: string
  name: string
  address: string
}
    // 表格
    // tabList
    let tabList:any=ref([]);
    // console.log(tabList,"--------tabList-------")
      // 获取数据
    const totalCont=ref(0)
    const DialogTitle=ref("添加")
    const dialogVisible = ref(false)
    let ruleForm = reactive({
      title: "",
      content: "",
      seq: 0,
      resource:"",
      hotSearchId:0,
      shopId:0,
      recDate:""
    })
    const getList= async ()=>{
      let result:any=await get_list({current:currentPage4.value,size:pageSize4.value});
      tabList.value=result.data.records
      totalCont.value=result.data.total;
    }
    
    // 编辑 (下标，数组的每一项item)
    const handleEdit = async(index: number, row: any) => {
      DialogTitle.value="编辑"
      dialogVisible.value=true
      console.log(row)
      let params={
        id:row.hotSearchId,
        size:10,
        current:1
      };
      console.log(params)
      let res:any=await Sear_List(params)
      console.log(11,res)
      ruleForm.title=res.data.title;
      ruleForm.content=res.data.content;
      ruleForm.seq=res.data.seq;
      ruleForm.resource=String(res.data.resource);
      ruleForm.hotSearchId=res.data.hotSearchId;
      ruleForm.shopId=res.data.shopId;
      ruleForm.recDate=res.data.recDate;
    }
    // 删除 (下标，数组的每一项item)
    const handleDelete = async(index: number, row: any) => {
       ElMessageBox.confirm(
    'proxy will permanently delete the file. Continue?',
    'Warning',
    {
      confirmButtonText: 'OK',
      cancelButtonText: 'Cancel',
      type: 'warning',
    }
  )
    .then(async() => {
      ElMessage({
        type: 'success',
        message: '删除成功',
      })
      let id = row.hotSearchId
      const params=[id]
      const result=await del_list(params)
      getList()
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '取消删除',
      })
    })

    }
    const cancelEvent = () => {
      // console.log('cancel!')
    }
    // 
    const releform=reactive({
      username:"马佳佳",
      password:"123456",
      code:"000"
    })
    // 搜索
    const input1=ref("")
    const input2=ref("")
    const input3=ref("")
    // 分页器
    const currentPage4 = ref(1)
    const pageSize4 = ref(2)
    const small = ref(false)
    const background = ref(false)
    const disabled = ref(false)
    const total=ref(0)
    getList()
    const handleSizeChange = async(val: number) => {
      // console.log(`${val} items per page`)
      let result:any= await get_list({current:0,size:val});
      // console.log(result);
      tabList.value=result.data.records
      total.value=result.data.total
    }
    const handleCurrentChange = (val: number) => {
      // console.log(`current page: ${val}`)
    }
    const pageChange=async (cur:any)=>{
      // console.log(cur);
      let result:any= await get_list({current:cur,size:3});
      // console.log(result);
      tabList.value=result.data.records
      total.value=result.data.total
      // console.log(tabList)
    }
    // 弹框
    const handleClose = (done: () => void) => {
    ElMessageBox.confirm('Are you sure to close this dialog?')
    .then(() => {
       console.log(dialogVisible)
       done()
    })
    .catch(() => {
      // catch error
    })
    }
     // 表单
    const ruleFormRef = ref<FormInstance>()
    const validatePass = (rule: any, value: any, callback: any) => {
      if (value === '') {
        callback(new Error('不能为空'))
      } else {
        if (ruleForm.title !== '') {
          if (!ruleFormRef.value) return
            ruleFormRef.value.validateField('checkPass', () => null)
        }
        callback()
      }
    }
    const validatePass2 = (rule: any, value: any, callback: any) => {
      if (value === ''){
        callback(new Error('不能为空'))
      } else {
        if (ruleForm.content !== '') {
          if (!ruleFormRef.value) return
          ruleFormRef.value.validateField('checkPass', () => null)
        }
        callback()
      }
    }
    const rules = reactive({
      title: [{ validator: validatePass, trigger: 'blur' }],
      content: [{ validator: validatePass2, trigger: 'blur' }],
    })
    const addBtn=()=>{
      console.log(ruleForm)
      ruleForm.seq++;
    }
    const delBtn=()=>{
      if(ruleForm.seq==0){
        ruleForm.seq=0;
      }else{
        ruleForm.seq--;
      }
    }
   //确定 //添加 //编辑
    const submitForm = (formEl: FormInstance | undefined) => {
      if (!formEl) return
      formEl.validate(async (valid) => {
        if (valid) {
           if(DialogTitle.value=="添加"){
              let date:any=new Date()
              let params:any={
                content:ruleForm.content,
                title:ruleForm.title,
                seq:ruleForm.seq,
                t:date*1,
                status:Number(ruleForm.resource),
              }
              // console.log(params,"params")
              const result=await add_list(params)
              // console.log(result)
               getList()
           }else{
            // 编辑
              let params=ruleForm
              const result=await edit_list(params)
              console.log(result)
              getList()
           }
          dialogVisible.value = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
    // 搜索
    const SearchBtn=async()=>{
      // t=1667305536416&current=1&size=10&title=11&content=22&status=0
      let params={size:2,current:1,title:input1.value,content:input2.value,status:input3.value}
      console.log(params);
      let data:any=await Search_List(params)
      tabList.value=data.data.records
      // console.log(tabList.value)
      totalCont.value=data.data.total;
    }
    // 清空
    const ClonehBtn=()=>{
       input1.value=""
       input2.value=""
       input3.value=""
    }
    //全部删除  
    let arr:any=reactive([])
    let newArr:any=reactive([])
    const All_Check=async(row:any)=>{
      console.log(row)
      row.forEach((item:any)=>{
        arr.push(item.hotSearchId)
      })
      newArr = [...new Set(arr)]
      console.log(newArr)
    }
    // 选中删除
    const checked=async(row:any)=>{
      console.log(row)
      row.forEach((item:any)=>{
        arr.push(item.hotSearchId)
      })
      newArr = [...new Set(arr)]
    }
    const AllChecked=async()=>{
      let params:any=newArr;
      console.log(params)
      const result=await All_Checked(params);
      // console.log(result)
      getList()
    }
   //取消
    const resetForm = (formEl: FormInstance | undefined) => {
      if (!formEl) return
      formEl.resetFields()
      dialogVisible.value = false
    }
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
  list-style:none;
}
html,body{
  width: 100%;
  height: 100%;
}
.header_box {
  width: 100%;
  height:80px;
  // background: skyblue;
}
.wrap_box{
  width: 100%;
  height:50px;
  margin-top:10px;
  margin-left:30px;
}
// .Check_box:first-child{
//   margin-left:30px;
// }
.Check1_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  margin-left:30px;
  float:left;
}
.Check2_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  float:left;
}
.Check3_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  float:left;
}
.text_box{
  line-height:85px;
  float:left;
}
.input_box{
  line-height:80px;
  margin-left:10px;
  width: 70%;
  height:100%;
  float:left;
  font-size:18px;
}
.Check2_box .input_box{
  line-height:80px;
  margin-left:10px;
  width: 70%;
  height:100%;
  float:left;
}
.Btn_box{
  float:left;
  width: 300px;
  line-height:80px;
  height:100%;
}
.table_box{
  width: 94%;
  margin-left:30px;
  margin-top:10px;
  // height:400px;
  // background: skyblue;
}
.demo-pagination-block{
  margin-left:55%;
}
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.pagination_box{
  width: 95%;
  height:50px;
  // background: skyblue;
  margin-top:20px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
.Dialog_box{
  width:98%;
  height:380px;
  // background: #ccc;
}
</style>