<template>
    <el-dialog v-model='dialogFormVisible' :title='dialogStr' @closed='closedClick()' class='comm_wrap'>
        <el-form :model='form'>
            <el-form-item label='分类图片' :label-width='formLabelWidth'>
                <el-upload class='avatar-uploader' :action='action'
                    :headers="{ Authorization: LocalStor.getCache('token') }" :show-file-list='true'
                    :on-success='handleAvatarSuccess' :before-upload='beforeAvatarUpload'>
                    <img v-if='imageUrl' :src='imageUrl' class='avatar' />
                    <el-icon v-else class='avatar-uploader-icon'>
                        <Plus />
                    </el-icon>
                </el-upload>
            </el-form-item>
            <el-form-item label='分类名称' :label-width='formLabelWidth'>
                <el-input v-model='form.categoryName' autocomplete='off' />
            </el-form-item>
            <el-form-item label='上级分类' :label-width='formLabelWidth' style='width: 70%;'>
                <div class='example-block'>
                    <el-cascader v-model='form.classifyValue' :options='options.value' @change='cascaderChange'
                        placeholder='请选择' />
                </div>
            </el-form-item>
            <el-form-item label='序号' :label-width='formLabelWidth'>
                <el-input-number v-model='form.seq' :min='1' :max='10' controls-position='right' size='large'
                    @change='handleChange' />
            </el-form-item>
            <el-form-item label='状态' :label-width='formLabelWidth'>
                <el-radio-group v-model='form.status'>
                    <el-radio label='正常' value='1' />
                    <el-radio label='异常' value='0' />
                </el-radio-group>
            </el-form-item>
        </el-form>
        <template #footer>
            <span class='dialog-footer'>
                <el-button type='primary' @click='ConfirmClick'>
                    Confirm
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script lang='ts' setup>
import * as http from '../../api/index';
import { ElMessage } from 'element-plus';
import { Plus } from '@element-plus/icons-vue';
import LocalStor from '../../../../../utils/utils';
import handleCommentList from '../../../../../hooks/handleData';
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';

import type { UploadProps } from 'element-plus';

const props = defineProps<{
    dialogStr: any,
    dialogFrom: any,
    dialogFormVisible: boolean,
}>()
const { dialogFormVisible, dialogStr, dialogFrom } = toRefs(props);
const emits = defineEmits(['dialogClosed', 'dialogSubmit']);

// 连级数据
// const classifyValue = ref([])
const options: any = reactive([]) // 三级联动 数据
const action = ref(`${window.location.origin}/admin/file/upload/element`);

const imageUrl = ref('')
const formLabelWidth = '140px';
const form:any = reactive({
    seq: 1,
    pic: '',
    status: '正常',
    categoryName: '',
    classifyValue:[],
})
if (dialogStr.value == '编辑') {
    form.pic = dialogFrom.value.pic;
    form.seq = dialogFrom.value.seq;
    form.categoryName = dialogFrom.value.categoryName;
    form.classifyValue.push(dialogFrom.value.categoryName);
    form.status = dialogFrom.value.status == 1 ? '正常' : '异常';
} else {

}
// 获取 三级联动 的数据
const GetCommentList = async () => {
    const resClassify: any = await http._getCommentClassifyList({
        t: new Date().getTime(),
    })
    if (resClassify.status === 200) {
        let data: any = []
        for (const key of resClassify.data) {
            let obj: any = {};
            obj.parentId = key.parentId;
            obj.value = key.categoryName;
            obj.label = key.categoryName;
            obj.categoryId = key.categoryId;
            data.push(obj);
        }
        let list = handleCommentList(data, 0, []);
        options.value = list;
    }
}
GetCommentList();

// 练级变动的时候
const cascaderChange = (value:any) => {
    console.log(value,'================================');
    form.classifyValue.push(value);
} 

// 保存的时候
const ConfirmClick = () => {
    emits('dialogSubmit', form, false)
}

// 关闭弹框的回调
const closedClick = () => {
    emits('dialogClosed')
}

const handleAvatarSuccess: UploadProps['onSuccess'] = (
    response,
    uploadFile
) => {
    imageUrl.value = URL.createObjectURL(uploadFile.raw!)
}

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
    if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('Avatar picture must be JPG format!')
        return false
    } else if (rawFile.size / 1024 / 1024 > 2) {
        ElMessage.error('Avatar picture size can not exceed 2MB!')
        return false
    }
    return true
}

// 弹框的计数器
const handleChange = (value: number) => {

}


</script>

<style lang='scss' scoped>
.comm_wrap {
    .el-button--text {
        margin-right: 15px;
    }

    .el-select {
        width: 300px;
    }

    .el-input {
        width: 300px;
    }

    .dialog-footer button:first-child {
        margin-right: 10px;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed var(--el-border-color);
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: var(--el-transition-duration-fast);
    }

    .avatar-uploader .el-upload:hover {
        border-color: var(--el-color-primary);
    }

    .el-icon.avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 108px;
        height: 108px;
        text-align: center;
        border: 2px dotted #eee;
        border-radius: 4px;
    }
}
</style>