<template>
    <el-dialog v-model="dialogFormVisible" title="新增" :close-on-click-modal='false' :show-close='false'>
        <el-form :model="form">
            <el-form-item label="标签名称" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off" />
            </el-form-item>

            <el-form-item label="状态" prop="resource" :label-width="formLabelWidth">
                <el-radio-group v-model="form.status">
                    <el-radio label="正常" />
                    <el-radio label="禁用" />
                </el-radio-group>
            </el-form-item>

            <el-form-item label="列表样式" prop="resource" :label-width="formLabelWidth">
                <el-radio-group v-model="form.styles">
                    <el-radio label="一列一个" />
                    <el-radio label="一列两个" />
                    <el-radio label="一列三个" />
                </el-radio-group>
            </el-form-item>

            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="form.sort" autocomplete="off" />
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="DialogClick('close')">关闭</el-button>
                <el-button type="primary" @click="DialogClick('submit')">
                    保存
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script setup lang='ts'>

import { reactive, ref, toRefs, defineEmits, defineProps } from 'vue';
import {nowTime} from '../../../../../utils/Time';

const formLabelWidth = '100px';
const props = defineProps<{ dialogFormVisible: boolean, dialogData: any }>();
const { dialogFormVisible, dialogData } = toRefs(props);
const emits = defineEmits(['AddDialogCloes', 'AddDialogSubmit']);

// 弹框数据
const form = reactive(dialogData.value.value);

// 点击弹框 保存 / 取消 / 新增或者编辑
const DialogClick = (str: string) => {
    if (str === 'submit') { // 保存
        // console.log(form, 'from------------------------');
        let style = 0;
        let status = form.status == '正常' ? 1 : 0;
        switch (form.styles) {
            case '一列一个':
                style = 0
                break;
            case '一列两个':
                style = 1
                break;
            case '一列三个':
                style = 2
                break;
        }
        if (form.flag) {
            const parasm = reactive({
                shopId: 0,
                style: style,
                status: status,
                isDefault: 0,
                prodCount: 0,
                title: form.name,
                seq: String(form.sort),
                t: new Date().getTime(),
                id: new Date().getTime(),
            })
            const flag = true
            emits('AddDialogSubmit', parasm, flag); // 新增
        } else {

            const parasm = reactive({
                createTime: form._.createTime,
                deleteTime: form._.deleteTime,
                shopId: form._.shopId,
                style: style,
                status: status,
                isDefault: form._.isDefault,
                prodCount: form._.prodCount,
                title: form.name,
                seq: form.sort,
                t: new Date().getTime(),
                id: form._.id,
                updateTime:nowTime
            })
            const flag = false
            emits('AddDialogSubmit', parasm, flag); // 修改
        }




    } else {
        emits('AddDialogCloes');
    }
}


</script>