<template>
  <div class='app_wrap'>
    <el-container class='layout-container-demo'>
      <el-aside width='210px'>
        <el-scrollbar>
          <div class='aside_title'>
            <span>米亚建站后台</span>
          </div>
          <el-menu default-active='/prod/prodList'>
            <el-menu-item index='/'>首页</el-menu-item>
            <el-sub-menu v-for='(item) in menuList' :key='item.menuId' :index="'/' + item.list[0].url">
              <template #title>
                <span>
                  {{ item.name }}
                </span>
              </template>
              <el-menu-item v-for='(val, i) in item.list' :key='i' :index='val.menuId' @click="menuClick(val)">{{
                  val.name
              }}</el-menu-item>
            </el-sub-menu>
          </el-menu>
        </el-scrollbar>
      </el-aside>
      <el-container>
      <!--左侧 头部-->
        <el-header>
          <div class='toolbar'>
            <el-dropdown>
              <!-- <el-icon style='margin-right: 8px; margin-top: 1px'>
                <setting />
              </el-icon> -->
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item>View</el-dropdown-item>
                  <el-dropdown-item>Add</el-dropdown-item>
                  <el-dropdown-item>Delete</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
            <span>Tom</span>
          </div>
        </el-header>
        <!-- 左侧 内容区 -->
        <el-main>
          <!-- 全局面包屑 -->
          <div class='app_main_header'>
            <Crumbs></Crumbs>
          </div>
          <div class='app_view'>
            <router-view></router-view>
          </div>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script lang='ts' setup>
import '../../css/app/index.scss';
import { ref, reactive, computed } from 'vue';
import Store from '../../store/index'; // 引入仓库
import Crumbs from '../../components/crumbs/index.vue';
import router from '../../router/index'

const { index, crumbs } = Store(); // 将小仓库从仓库中结构；

const menuList: any = computed(() => index.menuList)

// 获取 路由数据
const GetMenuList = async () => {
  index._getMenuData() // 执行仓库中的方法；获取路由信息
}
const menuClick = (_: any) => {
  if (_.url.startsWith('/')) {
    router.push(`${_.url}`);
    crumbs.addRoutes(_);
  } else {
    router.push(`/${_.url}`);
    _.url = `/${_.url}`;
    crumbs.addRoutes(_);
  }
}
GetMenuList();
</script>
