<template>
  <div class="specification_wrap">
    <div class="specification_header">

      <!-- 头部搜索 -->
      <div class="specification_header_search">
        <SearchComponent @onSearch='onSearch' @onSearchClose='onSearchClose' />
      </div>

      <!-- 头部新增删除按钮 -->
      <div class="specification_header_AddAndDelete">
        <el-button type="primary" @click='AddDiaLog'>+新增</el-button>
      </div>

    </div>

    <div class="specification_main">
      <!-- 中间表格 -->
      <TableComponent :tableData='tableData.value' @tableEdit='tableEdit' @tableDelete='tableDelete'></TableComponent>
    </div>

    <div class="specification_footer">
      <div></div>
      <!-- 底部 分页 -->
      <Pageination :size="size" :current='current' :total='total' @pageSize='pageSize' @pageCurrent='pageCurrent'>
      </Pageination>
    </div>

    <DialogComponent v-if='dialogFlag' :dialogFlag='dialogFlag' :dialogItem='dialogItem.value'
      :dialogTitle='dialogTitle' @dialogClose='dialogClose' @dialogSubmit='dialogSubmit' @dialogConfim='dialogConfim' />

  </div>
</template>

<script lang='ts' setup>
import "./index.scss";
import * as http from './api/index';
import { reactive, ref } from 'vue';
import TableComponent from './components/table/index.vue';
import SearchComponent from './components/search/index.vue';
import DialogComponent from './components/dialog/index.vue';
import Pageination from '../../../components/pageination/index.vue';

const size = ref(5); // 分页组件当前 每页大小
const total = ref(0); // 分页总数
const current = ref(1); // 分页组件 当前页
const propName = ref(''); // 搜索项
const dialogTitle = ref(''); // 弹框的title
const dialogFlag = ref(false); // 弹框的开关
const tableData: any = reactive([]); // 表格数据
const dialogItem: any = reactive({}); // 弹框需要 传的回显数据

// 请求产品管理数据
const GetProductList = async () => {
  const result: any = await http._getSpecificationList({
    size: size.value,
    current: current.value,
    propName: propName.value,
    t: new Date().getTime()
  })
  if (result.status == 200) {
    total.value = result.data.total;
    tableData.value = result.data.records;
  }
}
GetProductList();


// 表格 修改按钮; i:下标，_:表格单条数据；
const tableEdit = (_: any) => {
  dialogTitle.value = '编辑';
  let data = _.prodPropValues.filter((item: any) => item.propValue)
  let arr = [{
    id: _.propId,
    name: _.propName,
    tag: data
  }]
  dialogItem.value = arr;
  dialogFlag.value = true;
}

// 新增事件
const AddDiaLog = () => {
  dialogTitle.value = '新增';
  dialogItem.value = [
    {
      name: '12312323',
      tag: [{
        valueId: 0,
        propValue: "",
      }]
    }
  ]
  dialogFlag.value = true;
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const tableDelete = (_: any) => {
  http._deleteSpecificationItem(_.propId);
  setTimeout(() => {
    GetProductList();
  }, 800);
}

// 分页 传参事件
const pageSize = (fromSonParams: any) => {
  size.value = fromSonParams;
  GetProductList();
}

// 分页 传参事件
const pageCurrent = (fromSonParams: any) => {
  current.value = fromSonParams;
  GetProductList();
}

// 搜索事件
const onSearch = (_: any) => {
  propName.value = _.user;
  setTimeout(() => {
    GetProductList();
  }, 800);
}

// 搜索清空事件
const onSearchClose = () => {
  propName.value = '';
  GetProductList();
}

// 弹框 确定按钮
const dialogSubmit = (_: any) => {
  console.log(_, '-------------------————————————————————————————————————---------------------------------------------');
  let params: any = {}
  if (_.dialogState) { // 添加
    params = {
      propName: _.fromData.name,
      prodPropValues: _.fromData.tag,
      t: new Date().getTime()
    }
  } else { // 编辑
    params = {
      propId: _.fromData.id,
      propName: _.fromData.name,
      prodPropValues: _.fromData.tag,
      t: new Date().getTime()
    }
  }
  http._putSpecification(params)
  dialogFlag.value = false;
  setTimeout(() => {
    GetProductList();
  }, 800);
}
// 弹框 取消按钮
const dialogClose = () => {
  dialogFlag.value = false;
}
// 弹框 按钮关闭
const dialogConfim = () => {
  dialogFlag.value = false;
}

</script>

<style lang="scss" scoped>

</style>