.specification_wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    overflow: auto;
    

    .specification_header {
        width: 100%;
        min-height: 100px;

        .specification_header_search {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
        }

        .specification_header_AddAndDelete {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
        }
    }

    .specification_main {
        width: 100%;

        .specification_main_table_checked_length {
            font-size: 14px;
            b{
                padding: 0 4px;
            }
        }
        .specification_main_table_close{
            color: #409EFF;
            font-size: 13px;
            padding: 0 8px;
        }
    }

    .specification_footer {
        width: 100%;
        height: 70px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}