<template>
  <div class="admin">
    <div class="header" v-show="showFlag">
      <el-form status-icon label-width="120px" class="demo-ruleForm">
        <el-form-item label="用户名">
          <el-input class="input" v-model="values" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm()">
            <el-icon>
              <Search />
            </el-icon>搜索
          </el-button>
          <el-button @click="resetForm()">
            <el-icon>
              <Delete />
            </el-icon>清空
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="tan">
      <el-dialog v-model="dialogVisible" title="多选" width="40%" top="20vh" :before-close="tanclose" style="text-align: center;">
        <el-transfer v-model="value" :titles="titles" :data="data" @change="onchangeCang"/>
      </el-dialog>
    </div>
    <div class="menu">
      <span>
        <el-button type="primary" @click="addList">+新增</el-button>
        <el-button type="danger" @click="moreDel">批量删除</el-button>
      </span>
      <span>
        <el-tooltip class="box-item" effect="dark" content="刷新" placement="top">
          <el-button :icon="Refresh" circle @click="refresh" />
        </el-tooltip>
        <el-tooltip class="box-item" effect="dark" content="隐藏" placement="top">
          <el-button :icon="Menu" circle @click="dialogVisible = true" />
        </el-tooltip>
        <el-tooltip class="box-item" effect="dark" content="搜索" placement="top">
          <el-button :icon="Search" circle @click="cang" />
        </el-tooltip>

      </span>
    </div>
    <div class="table">
      <span class="table_checked_length">当前表格选中<b>{{ count }}</b>项</span>
      <span class="table_close" @click="qk">清空</span>
      <TableList :Data="tableData" :size="size" :current="current" @handleEdit="handleEdit" @handleDelete="handleDelete"
        @handleSelectionChange="handleSelectionChange" :showList="show"></TableList>
    </div>
    <div class="fenye">
      <Pageination :size="size" :current="current" :total="total" @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"></Pageination>
    </div>
    <!-- 编辑弹窗 -->
    <el-dialog v-model="editModal" title="编辑" width="30%" :before-close="handleClose">
      <el-form ref="formRef" :model="editForm" label-width="120px" class="demo-dynamic">
        <el-form-item prop="username" label="用户名">
          <el-input v-model="editForm.username" />
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="editForm.password" type="password" autocomplete="off" />
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
          <el-input v-model="editForm.checkPass" type="password" autocomplete="off" />
        </el-form-item>
        <el-form-item prop="email" label="邮箱">
          <el-input v-model="editForm.email" />
        </el-form-item>
        <el-form-item prop="username" label="手机号">
          <el-input v-model="editForm.mobile" />
        </el-form-item>
        <el-form-item label="角色" property="userId">
          <el-checkbox-group v-model="editForm.roleIdList">
          <el-checkbox v-for="(item, index) in roleData.value" :key="index" :label="item.roleId">
          {{item.roleName}}
          </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group v-model="editForm.status">
            <el-radio :label="0" size="large">禁用</el-radio>
            <el-radio :label="1" size="large">正常</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="editModal = false">取消</el-button>
          <el-button type="primary" @click="editsubmit">
            提交
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- 增加弹窗 -->
    <el-dialog v-model="addModal" title="增加" width="30%" :before-close="addClose">
      <el-form ref="formRef" :model="addForm" label-width="120px" class="demo-dynamic">
        <el-form-item prop="username" label="用户名">
          <el-input v-model="addForm.username" />
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="addForm.password" type="password" autocomplete="off" />
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
          <el-input v-model="addForm.checkPass" type="password" autocomplete="off" />
        </el-form-item>
        <el-form-item prop="email" label="邮箱">
          <el-input v-model="addForm.email" />
        </el-form-item>
        <el-form-item prop="username" label="手机号">
          <el-input v-model="addForm.mobile" />
        </el-form-item>
        <el-form-item label="角色" property="userId">
          <el-checkbox-group v-model="addForm.roleIdList">
          <el-checkbox v-for="(item, index) in roleData.value" :key="index" :label="item.roleId">
          {{item.roleName}}
          </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group v-model="addForm.status">
            <el-radio :label="0" size="large">禁用</el-radio>
            <el-radio :label="1" size="large">正常</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="addModal = false">取消</el-button>
          <el-button type="primary" @click="addsubmit">
            提交
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import "./css/index.scss"
import { Search, Delete, Refresh, Menu } from '@element-plus/icons-vue'
import { reactive, ref } from 'vue'
import { Timer } from '@element-plus/icons-vue'
import * as http from "../../../apis/adminApi/index"
import TableList from "./components/table.vue";
import { ElMessage, ElMessageBox } from 'element-plus'
import Pageination from "./components/pageination.vue"
import type { FormInstance } from 'element-plus'
const multipleSelection = ref([])
const dialogVisible = ref(false)
const size = ref(10)
const current = ref(1)
const total = ref(0)
const tableData: any = reactive([])
const value = ref([])
const username = ref([])
const showFlag = ref(true)
const count: any = ref(0)
const editModal = ref(false)
const addModal = ref(false)
const id: any = ref([])
const values = ref([])
const titles = ["显示", "隐藏"]

const formRef = ref<FormInstance>()
const editForm = reactive<{
  username: string,
  password: string,
  checkPass: string,
  email: string,
  mobile: string,
  roleIdList: any,
  status: any
}>({
  username: '',
  password: '',
  checkPass: '',
  email: '',
  mobile: '',
  roleIdList: [],
  status: ''
})
const addForm = reactive<{
  username: string,
  password: string,
  checkPass: string,
  email: string,
  mobile: string,
  roleIdList: any,
  status: any,
  userId:any
}>({
  username: '',
  password: '',
  checkPass: '',
  email: '',
  mobile: '',
  roleIdList: [],
  status:'',
  userId:''
})
const roleData: any = reactive([])
//搜索
const submitForm = () => {
  console.log(values.value, "搜索");

  const searchAdmin = async () => {
    const res: any = await http._getAdminData({
      size: size.value,
      current: current.value,
      username: values.value
    })
    tableData.value = res.data.records
    username.value = values.value
  }
  searchAdmin()
}

const resetForm = () => {
  values.value = []
}
//更新
const refresh = () => {
  location.reload()
}
const cang = () => {
  showFlag.value = !showFlag.value
}
const qk = () => {
  count.value = 0
}
//获取表格数据
const getAdmin = async () => {
  const res: any = await http._getAdminData({
    size: size.value,
    current: current.value,
  })
  total.value = res.data.total;
  tableData.value = res.data.records;
  // console.log(tableData,'-----tableData------');
}
getAdmin()
//点击修改按钮的时候打开弹窗 数据回显
const handleEdit = (row: any) => {
  // console.log("编辑5555555555555555",row)
  id.value = row.userId
  const editList = async () => {
    const res: any = await http._editList({
      userId: row.userId
    })
    console.log(res.data, "回显数据");
    editForm.username = res.data.username
    editForm.email = res.data.email
    editForm.mobile = res.data.mobile
    editForm.roleIdList = res.data.roleIdList
    editForm.status = res.data.status
  }
  editList()
  const roleList = async () => {
    const res: any = await http._roleList()
    console.log(res.data, "角色数据");
    roleData.value = res.data
  }
  roleList()
  editModal.value = true
}
//编辑提交
const editsubmit = () => {
  const edituserdata = async () => {
    const res: any = await http._editData({
      username: editForm.username,
      email: editForm.email,
      mobile: editForm.mobile,
      userId: id.value,
      status:editForm.status,
      roleIdList:editForm.roleIdList
    })
    getAdmin()
  }
  edituserdata()
  editModal.value = false
}
//确定增加
const addsubmit = () => {
  const adduserData = async () => {
    const res: any = await http._addData({
      username: addForm.username,
      email: addForm.email,
      mobile: addForm.mobile,
      password: addForm.password,
      status:addForm.status,
      roleIdList:addForm.roleIdList
    })
    tableData.value = res.data
    getAdmin()
  }
  
  adduserData()
  addModal.value = false
}
//增加数据
const addList = () => {
  addModal.value = true
  const roleList = async () => {
    const res: any = await http._roleList()
    console.log(res.data, "角色数据");
    roleData.value = res.data
  }
  roleList()
}
const addClose = () => {
  addModal.value = false
}
const handleClose = () => {
  editModal.value = false
}
const handleDelete = (row: any) => {
  ElMessageBox.confirm(
    '确认进行[删除]操作吗?',
    'Warning',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(() => {

      const delRole = async () => {
        let id = row.userId
        const res: any = await http._delAdminData([
          id
        ])
        // roleIds.value = row
        if (res.status === 200) {
          getAdmin()
          ElMessage({
            type: 'success',
            message: '删除成功',
          })
        }
        else {
          ElMessage({
            // type: 'danger',
            message: '删除失败',
          })
        }
      }
      delRole()
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '您已取消',
      })
    })
}
const moreDel = () => {
  multipleSelection.value.forEach((item: any) => {
    let id = item as number
    handleDelete(id)
  })
}
const handleSelectionChange = (val: any) => {
  multipleSelection.value = val
  count.value = val.length
  // console.log(val,"6666666666666666666666666666666");
}
//分页
const handleSizeChange = (val: number) => {
  // console.log(val, "每页1111111111");
  size.value = val;
  current.value = 1;
  getAdmin()
}
const handleCurrentChange = (val: number) => {
  current.value = val
  getAdmin()
  // console.log(current.value,"99899898989898");
}
//穿梭框内容
const showIs=ref()
const tanclose=()=>{
  dialogVisible.value=false
}
interface options{
  key:number,
  label?:string,
  disabled:boolean
}
const arrs=ref<any>([0,1,2,3,4,5])
const data=ref<options[]>([
  {key:0,label:'用户名',disabled:false},
  {key:1,label:'邮箱',disabled:false},
  {key:2,label:'手机号',disabled:false},
  {key:3,label:'创建时间',disabled:false},
  {key:4,label:'状态',disabled:false},
  {key:5,label:'操作',disabled:false},
])
const show=reactive([
  {key:0,showIs:true},
  {key:1,showIs:true},
  {key:2,showIs:true},
  {key:3,showIs:true},
  {key:4,showIs:true},
  {key:5,showIs:true},
])
//穿梭框改变事件
const onchangeCang = () => {
  arrs.value.forEach((item:any,index:number)=>{
    let newarr:number[]=Array.from(value.value)
    let flag=newarr.includes(item)
    if(flag){
      show[index].showIs=false
    }
    else
    {
      show[index].showIs=true
    }
  })
}
</script>

<style>

</style>