
<template>
  <div class="classify_wrap">
    <div class="classify_header">
      <!-- 头部搜索 -->
      <div class="classify_header_search">
        <SearchComponent @onSearch='onSearch' @onSearchDelete='onSearchDelete'></SearchComponent>
      </div>
    </div>

    <div class="classify_main">
      <!-- 中间表格 -->
      <TableComponent :Data='tableData' @tableEdit='tableEdit' @tableDelete='tableDelete' :size='size'
        :current='current'></TableComponent>
    </div>

    <div class="classify_footer">
      <div></div>
      <!-- 底部 分页 -->
      <Pageination :size='size' :current='current' :total='total' @pageSize='pageSize' @pageCurrent='pageCurrent'>
      </Pageination>
    </div>
  </div>
</template>

<script lang='ts' setup>
import "./index.scss";
import { reactive, ref } from 'vue';
import TableComponent from './components/table/index.vue';
import Pageination from '../../../components/pageination/index.vue';
import SearchComponent from '../../../components/product/search/index.vue';

const size = ref(5); // 分页组件当前 每页大小
const total = ref(0) // 分页总数
const current = ref(1); // 分页组件 当前页
// 表格渲染的数据
const tableData: any = reactive([])

// 表格 修改按钮; i:下标，_:表格单条数据；
const tableEdit = (_: any) => {
  console.log(_, '-----------------修改按钮---------------');
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const tableDelete = (_: any) => {
  console.log(_, '--------------删除按钮------------------');
}

// 搜索事件 参数
const formSearchInline = reactive({
  user: '',
  region: '',
})

// 搜索事件
const onSearch = (_: any) => {
  console.log(_, '搜索——')
}

// 点击搜索清空
const onSearchDelete = (_: any) => {
  console.log(_, '搜索删除')
}

// 分页 传参事件
const pageSize = (fromSonParams: any) => {
  console.log(fromSonParams, '点击 size');
}

// 分页 传参事件
const pageCurrent = (fromSonParams: any) => {
  console.log(fromSonParams, '点击 current');
}

</script>
