<template>
    <!-- 产品管理 -->
    <div class="product_wrap">
        <div class="product_header">

            <!-- 头部搜索 -->
            <div class="product_header_search">
                <SearchComponent @onSearch='onSearch' @searchDelete='searchDelete' />
            </div>

            <!-- 头部新增删除按钮 -->
            <div class="product_header_AddAndDelete">
                <el-button type="primary" @click='AddDialogClick'>+新增</el-button>
                <el-button type="danger" :disabled='dispatchDelete'>批量删除</el-button>
            </div>

        </div>

        <div class="product_main">
            <span class="product_main_table_checked_length">当前表格选中<b>{{ multipleTableRef.length }}</b>项</span>
            <span class="product_main_table_close">清空</span>
            <!-- 中间表格 -->
            <TableComponent :size='size' :Data='tableData' :current='current' @tableEdit='tableEdit'
                @tableDelete='tableDelete' @table_change='tableChange' />
        </div>


        <div class="product_footer">
            <div></div>
            <!-- 底部 分页 -->
            <Pageination :size="size" :total='total' :current='current' @pageSize='pageSize'
                @pageCurrent='pageCurrent' />
        </div>

    </div>
</template>
  
<script lang='ts' setup>
import "./index.scss";
import { reactive, ref } from 'vue';
import * as http from './api/index';
import router from '../../../router/index';
import useStore from '../../../store/index';
import TableComponent from './components/table/index.vue';
import SearchComponent from './components/search/index.vue';
import Pageination from '../../../components/pageination/index.vue';

const size = ref(5); // 分页组件当前 每页大小;
const total = ref(0); // 分页总数;
const status = ref(1); // 搜索产品状态;
const current = ref(1); // 分页组件 当前页;
const prodName = ref(''); // 搜索产品的名字;
const multipleTableRef = ref([]); // 表格选中的数组;
const dispatchDelete = ref(true); // 批量删除 按钮显隐;
const tableData: any = reactive([]);// 表格渲染的数据
const dialogItem = reactive<any>({})// 弹框传入的数据
const { prod } = useStore(); // 获取仓库

// 请求产品管理数据
const GetProductList = async () => {
    const result: any = await http._searchPardPage({
        size: size.value,
        current: current.value,
        prodName: prodName.value,
        status: status.value,
        t: new Date().getTime(),
    })
    if (result.status == 200) {
        tableData.value = result.data.records;
        total.value = result.data.total;
    }
}
GetProductList();

// 点击 表格 单选的时候
const tableChange = (props: any) => {
    // 接受到选中的数据
    multipleTableRef.value = props._rawValue
    // 控制 批量删除状态；
    if (props._rawValue.length > 0) dispatchDelete.value = false;
    else dispatchDelete.value = true;
}

// 表格 修改按钮; i:下标，_:表格单条数据；
const tableEdit = (_: any) => {
    prod._setDialogList(_);
    router.push('/prodInfo');
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const tableDelete = (_: any) => {
    console.log(_, '--------------删除按钮------------------');
}

// 分页 传参事件
const pageSize = (fromSonParams: any) => {
    size.value = fromSonParams;
    GetProductList();
}
// 分页 传参事件
const pageCurrent = (fromSonParams: any) => {
    current.value = fromSonParams;
    GetProductList();
}

// 搜索事件
const onSearch = (_: any) => {
    prodName.value = _.prodName;
    status.value = Number(_.status);
    GetProductList()
}

// 搜索清空之后的操作
const searchDelete = () => {
    status.value = 1
}

// 新增打开弹框
const AddDialogClick = () => {
    router.push('/prodInfo')
}

</script>
  