<template>
   <div>
    <!-- 公告管理 -->
    <div class="header_box">
      <div class="Check2_box">
        <div  class="text_box">
          状态
        </div>
        <div class="input_box">
          <el-select v-model="input" placeholder="状态" style="width:250px;">
          <el-option label="非正常" value="0" style="width:250px;height:40px; font-size:16px;"/>
          <el-option label="正常" value="1" style="width:250px;height:40px; font-size:16px;"/>
          </el-select>
        </div>
      </div>
      <div class="Btn_box">
          <el-button size="large" :icon="Search"  style="width:100px;height:40px;line-height:80px; font-size:15px;"   type="primary" @click="SearchBtn">搜索</el-button>
          <el-button size="large" :icon="Delete"  style="width:100px;height:40px;line-height:80px; font-size:15px;" type="primary" @click="cloneBtn">清空</el-button>
      </div>
        </div>
        <div class="wrap_box">
              <el-button type="primary" style="width:100px;height:40px;line-height:80px; font-size:15px;" @click="addBtn">+添加</el-button>
              <el-button type="danger" style="width:120px;height:40px;line-height:80px; font-size:15px;" @click="Allcheck" :disabled="arr.length==0 ? true: false" :icon="Delete">批量删除</el-button>
            </div>
        <div class="table_box">
        <el-table :data="tabList" border  style="width:100%" fit="true" ref="multipleTableRef" :default-sort="{ prop: 'date', order: 'descending' }" @select="Select" @select-all="Select_All">
           <el-table-column type="selection" width="55" align="center"/>
          <el-table-column property="imgUrl" label="轮播图片"   align="center" resizable>
           <template #default="scope">
              <el-image
                style="width: 100px; height: 100px"
                :src="`http://img-test.gz-yami.com/${scope.row.imgUrl}`"
              />
            </template>
          </el-table-column>
          <el-table-column prop="seq" label="顺序"  width="250" align="center"/>
           <el-table-column label="状态"   align="center" resizable>
            <template #default="scope">
              <el-popover effect="light" trigger="hover" placement="top" width="auto">
                <template #reference v-if="scope.row.status===1">
                  正常
                </template>
                <template #reference v-else>
                  非正常
                </template>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="" label=""  resizable/>
          <el-table-column prop="" label="操作"   align="center">
            <template #default="scope">
                <el-button type="primary" style="width:100px;height:40px;line-height:80px; font-size:15px;"   @click="handleEdit(scope.$index, scope.row)" :icon="Edit">修改</el-button>
              <el-button type="danger" style="width:100px;height:40px;line-height:80px; font-size:15px;"  @click="handleDelete( scope.row)" :icon="Delete">删除</el-button>
            </template>
          </el-table-column>
      </el-table>
      </div>
      <!-- 分页 -->
      <div class="pagination_box">
            <div class="demo-pagination-block">
            <el-pagination
              v-model:currentPage="currentPage4"
              v-model:page-size="pageSize4"
              :page-sizes="[2, 5, 8, 10]"
              :small="small"
              :disabled="disabled"
              :background="background"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCont"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
            />
          </div>
      </div>
    <!-- 弹框 -->
    <el-dialog
    v-model="dialogVisible"
    :title="DialogTitle"
    width="50%"
    :before-close="handleClose"
  >
   <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="120px"
        class="demo-ruleForm"
      >
    <el-form-item label="轮播图片">
          <el-upload action="#" list-type="picture-card" :auto-upload="false">
              <el-icon><Plus /></el-icon>
            </el-upload>
        </el-form-item>
    <el-form-item label="顺序" prop="seq"  style="margin-top:30px;">
         <el-input
          v-model="ruleForm.seq"
          autocomplete="off"
          style="border-right:none;"
         />
    </el-form-item>
    <el-form-item label="状态"  style="margin-top:30px;" prop="resource" >
      <el-radio-group v-model="ruleForm.resource">
        <el-radio border :label=0 style="border:none;">禁用</el-radio>
         <el-radio border :label=1 style="border:none;">正常</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="类型"  style="margin-top:30px;" prop="isShow" >
      <el-radio-group v-model="ruleForm.isShow">
        <el-radio border :label=0 style="border:none;">无</el-radio>
         <el-radio border :label=1 style="border:none;">商品</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item  style="margin-top:30px;">
      <el-button @click="resetForm(ruleFormRef)" style="margin-top:8%; width:10%; height:40px;margin-left:75%;">取消</el-button>
          <el-button type="primary" @click="submitForm(ruleFormRef)" style="margin-top:8%; width:10%; height:40px;"
        >确定</el-button >
    </el-form-item>
  </el-form>
  </el-dialog>
   </div>
</template>
<script lang="ts" setup>
    import {get_list,del_list,search_list} from "../../../apis/Images/index"
    import {reactive,onMounted,ref} from "vue"
    import { Timer } from '@element-plus/icons-vue'
    import { ElMessage, ElMessageBox } from 'element-plus'
    import { Search,Delete,Edit,  Share, Upload,ArrowUp,ArrowDown } from '@element-plus/icons-vue'
    import type { FormInstance } from 'element-plus'
    import type { UploadProps } from 'element-plus'
    import { Plus } from '@element-plus/icons-vue'
     const ruleFormRef = ref<FormInstance>()
    interface User {
      date: string
      name: string
      address: string
    }
     const time=()=>{
      let date = new Date();
      let nowMonth = date.getMonth() + 1;
      let strDate = date.getDate();
      let seperator = "-";
      if (nowMonth >= 1 && nowMonth <= 9)  nowMonth  = Number("0" + nowMonth);
      if (strDate >= 0 && strDate <= 9) strDate = Number("0" + strDate);
      let nowDate = `${date.getFullYear() + seperator + nowMonth + seperator + strDate} ${new Date().toLocaleTimeString()}`  ;
      return nowDate
      }
    const imageUrl = ref('')
    const handleAvatarSuccess: UploadProps['onSuccess'] = (
      response,
      uploadFile
    ) => {
      imageUrl.value = URL.createObjectURL(uploadFile.raw!)
    }
    const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
      if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('Avatar picture must be JPG format!')
        return false
      } else if (rawFile.size / 1024 / 1024 > 2) {
        ElMessage.error('Avatar picture size can not exceed 2MB!')
        return false
      }
      return true
    }
    // 表格
    const tableData = [
        {
          date: '3',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '4',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '1',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
     ]
      // content: "<p><img src=\"https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg11.360buyimg.com%2Fimgzone%2Fjfs%2Ft1%2F201966%2F9%2F19269%2F127812%2F61c02d94Ea89d3743%2Fda7ae6f1ce77c442.jpg&amp;refer=http%3A%2F%2Fimg11.360buyimg.com&amp;app=2002&amp;size=f9999,10000&amp;q=a80&amp;n=0&amp;g=0n&amp;fmt=auto?sec=1669182449&amp;t=2599dd4af22b994aff898ab05275d11a\" alt=\"\" /></p>"
      // id: 1
      // isTop: 1
      // publishTime: "2019-04-22 14:33:41"
      // shopId: 1
      // status: 1
      // title: "两种意见 | 早餐绝配，松软到怀疑人生的酵母面包"
      // updateTime: "2022-10-28 14:31:52"
    const tabList:any=ref([])
        // 获取数据
    const totalCont=ref(0);
    //获取数据
    const getList= async ()=>{
      let res:any=await get_list({size:2,current:1});
      console.log(res,"res");
      tabList.value=res.data.records
      totalCont.value=res.data.total
      console.log(tabList.value,"tabList");
    }
      getList()
      
      const ruleForm = reactive({
        resource: '',
        title: '',
        seq:'0',
        isShow: '',
        imgId:0,
        imgUrl:'',
        type:0,
      })
      
    // 编辑
    const handleEdit = async(index: number, row: any) => {
      console.log(index, row)
      DialogTitle.value="编辑"
       dialogVisible.value=true
       let id=row.imgId;
       let result=await search_list(id);
       console.log(result)

    }
    // 删除
    const handleDelete = async( row: any) => {
       ElMessageBox.confirm(
        'proxy will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      ).then(async() => {
      ElMessage({
        type: 'success',
        message: '删除成功',
      })
      console.log(row,row.imgId)
      let params=[row.imgId]
      let result=await del_list(params);
       console.log(result)
       getList()
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '取消删除',
      })
    })
      // console.log(row,row.imgId)
      // let params=[row.imgId]
      // let result=await del_list(params);
      //  console.log(result)
      //  getList()
    }
    // 搜索
    const input=ref("")
    const SearchBtn=async()=>{
      console.log(input.value,"input.value");
      let params={
        status:input.value,
        size:3,
        current:1,
      }
     console.log(params,"params")
     const result:any=await get_list(params);   
     tabList.value=result.data.records    
     totalCont.value=result.data.total    
    }
    const cloneBtn=()=>{
       input.value=""
    }
    // 分页器
    const currentPage1 = ref(5)
    const currentPage2 = ref(5)
    const currentPage3 = ref(5)
    const currentPage4 = ref(1)
    const pageSize2 = ref(1)
    const pageSize3 = ref(20)
    const pageSize4 = ref(2)
    const small = ref(false)
    const background = ref(false)
    const disabled = ref(false)
    const handleSizeChange = async(val: number) => {
      console.log(`${val} items per page`)
      let res:any=await get_list({size:val,current:0});
      console.log(res,"res");
      tabList.value=res.data.records
    }
    const handleCurrentChange = async(val: number) => {
      console.log(`current page: ${val}`)
        let res:any=await get_list({size:2,current:val});
      console.log(res,"res");
      tabList.value=res.data.records
    }
    // 弹框
    const DialogTitle=ref()
    const dialogVisible = ref(false)
    const handleClose = (done: () => void) => {
      ElMessageBox.confirm('Are you sure to close this dialog?')
        .then(() => {
          done()
        })
        .catch(() => {
          // catch error
        })
    }
    // 表单
const validatePass = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('不能为空'))
  } else {
    if (ruleForm.title !== '') {
      if (!ruleFormRef.value) return
      ruleFormRef.value.validateField('checkPass', () => null)
    }
    callback()
  }
}
const validatePass2 = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('不能为空'))
  } else {
    if (ruleForm.title !== '') {
      if (!ruleFormRef.value) return
      ruleFormRef.value.validateField('checkPass', () => null)
    }
    callback()
  }
}

const rules = reactive({
  seq: [{ validator: validatePass, trigger: 'blur' }],
  isShow: [{ validator: validatePass, trigger: 'blur' }],
  resource: [{ validator: validatePass2, trigger: 'blur' }],
})
const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.validate((valid) => {
    if (valid) {
      console.log('submit!')
    } else {
      console.log('error submit!')
      return false
    }
    dialogVisible.value=false
  })
}

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
  dialogVisible.value=false
}
let arr:any=reactive([])
let newArr:any=reactive([])
const Select=(row:any)=>{
  console.log(row)
  row.forEach((item:any)=>{
    if(arr.length){
        return arr=[];
     }else{
        return arr.push(item.imgId)
     }
  })
  // newArr=[...new Set(arr)]
  console.log(newArr)
}
const Select_All=(row:any)=>{
  row.forEach((item:any)=>{
    if(arr.length){
      return arr=[];
    }else{
      return arr.push(item.imgId)
    }
  })
  // newArr=[...new Set(arr)]
  console.log(newArr)
}
const Allcheck=()=>{
    console.log(arr,"arr")
    console.log(newArr,"newArr")
}
// 添加
const addBtn=()=>{
  dialogVisible.value = true
  DialogTitle.value="添加"
}
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
  list-style:none;
}
html,body{
  width: 100%;
  height: 100%;
}
.header_box {
  width: 100%;
  height:80px;
  // background: skyblue;
}
.wrap_box{
  width: 100%;
  height:50px;
  margin-top:10px;
  margin-left:30px;
}
// .Check_box:first-child{
//   margin-left:30px;
// }
.Check1_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  margin-left:30px;
  float:left;
}
.Check2_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:350px;
  float:left;
}
.Check3_box{
  height:100%;
  font-size:18px;
  // background: orange;
  width:400px;
  float:left;
}
.text_box{
  line-height:85px;
  float:left;
}
.input_box{
  line-height:80px;
  margin-left:10px;
  width: 70%;
  height:100%;
  float:left;
  font-size:18px;
}
.Check2_box .input_box{
  line-height:80px;
  margin-left:10px;
  width: 80%;
  height:100%;
  float:left;
}
.Btn_box{
  float:left;
  width: 300px;
  line-height:80px;
  height:100%;
}
.table_box{
  width: 95%;
  margin-left:30px;
  margin-top:10px;
  // height:400px;
  // background: skyblue;
}
.demo-pagination-block{
  margin-left:65%;
}
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.pagination_box{
  width: 95%;
  height:50px;
  // background: skyblue;
  margin-top:20px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>