<template>
    <el-form :inline='true' :model='formSearchInline' class='demo-form-inline'>
        <el-form-item label='标签名称'>
            <el-input v-model='formSearchInline.title' placeholder='标签名称' />
        </el-form-item>
        <el-form-item label='状态'>
            <el-select v-model='formSearchInline.status' placeholder='状态'>
                <el-option label='禁用' value='0'/>
                <el-option label='正常' value='1' />
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button :icon="Search" type='primary' @click='onSearchSubmit'>搜索</el-button>
            <el-button :icon="Delete" @click='onSearchDelete'>清空</el-button>
        </el-form-item>
    </el-form>
</template>

<script lang='ts' setup>
import { Delete, Search } from '@element-plus/icons-vue';
import { reactive, defineProps, defineEmits, toRefs } from 'vue';

const props = defineProps([]); // 接受父组件的参数
const { } = toRefs(props); // 转化父组件传的参数

const emits = defineEmits(['onSearch', 'onSearchDelete']); // 接受事件

// 搜索事件 参数
const formSearchInline = reactive({
    title: '',
    status: '',
})

// 搜索事件
const onSearchSubmit = () => {
    emits('onSearch', formSearchInline); // 向父组件传参数
}

// 搜索清空事件
const onSearchDelete = () => {
    formSearchInline.title = ''
    formSearchInline.status = ''
    emits('onSearchDelete', formSearchInline)
}

</script>

<style>

</style>