<template>
    <el-dialog v-model='dialogFlag' :title='dialogTitle' @closed='adilogClosed()' width='50%'>
        <el-table :data="form" style="width: 100%" border='true'>

            <el-table-column prop="name" label="属性名称">
                <template #default="scope">
                    <el-input v-model="scope.row.name" placeholder='请输入内容' />
                </template>
            </el-table-column>

            <el-table-column prop="num" label="属性值">
                <template #default="scope">
                    <el-input v-for="(item, i) in scope.row.tag" :key="i" v-model="scope.row.tag[i].propValue"
                        placeholder='请输入内容' style='width: 50%;' />
                    <el-button type='primary' @click='addTagClick()'>+</el-button>
                </template>
            </el-table-column>

        </el-table>
        <template #footer>
            <span class='dialog-footer'>
                <el-button @click='dialogClose'>取消</el-button>
                <el-button type='primary' @click='dialogSubmit()'>
                    保存
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script setup lang='ts'>
import { reactive, defineProps, defineEmits, toRefs } from 'vue'

// 使用 defineProps 接受父组件的参数，并且添加校验
const props = defineProps<{
    dialogFlag: any,
    dialogItem: any,
    dialogTitle: string
}>()

// 使用 toRefs 绑定props每一个属性，使用时候 想ref的使用；
const { dialogFlag, dialogItem, dialogTitle } = toRefs(props);
console.log(dialogTitle, 'dialogTitle');

// 使用 defineEmits 接收到父组件的事件
const emits = defineEmits(['dialogSubmit', 'dialogClose', 'dialogConfim']);

const form = reactive(dialogItem.value);

// 保存按钮
const dialogSubmit = () => {
    let falg = false; // 关闭弹框
    let fromData = form[0]; // 保存的数据
    let dialogState = dialogTitle.value == '新增' ? true : false; // 判断 新建 还是 增加

    emits('dialogSubmit', {
        falg,
        dialogState,
        fromData,
    });
}

// 弹框关闭动画结束的时候
const adilogClosed = () => {
    emits('dialogConfim');
}

// 点击取消的时候
const dialogClose = () => {
    emits('dialogClose');
}

// 点击 添加 tag标签；
const addTagClick = () => {
    let tags = form[0].tag;
    console.log(form, '-----------------form---------------');
    // propValue
    if (tags.length > 0 && tags[tags.length - 1].propValue !== '') {
        form[0].tag.push({
            propValue: '',
            propId: new Date().getTime(),
            value: null
        })
    }
}

</script>