.admin {
  height: 100%;
  width: 100%;
}

.admin .header {
  height: 80px;
  width: 100%;
}

.admin .header .el-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.admin .header .el-form .el-form-item {
  margin: 0 -40px;
}

.admin .header .el-form .el-form-item .input {
  width: 200px;
}

.admin .menu {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.admin .fenye {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.admin .fenye .demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}

.admin .fenye .demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
