.admin{
    height: 100%;
    width: 100%;
    .header{
        height: 80px;
        width: 100%;
        .el-form{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content:flex-start;
            align-items: center;
            // background: yellowgreen;
            .el-form-item{
                margin: 0 -40px;
                .input{
                    width: 200px;
                    // background: red;
                    // margin-left: -50px;
                }
            }
        }
    }
    .menu{
        height: 50px;
        width: 100%;
        // background: lightgreen;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .table{
        width: 100%;
        .table{
            width: 100%;
            .el-table__inner-wrapper{
            text-align: center;
        }
        .el-table_1_column{
            text-align: center;
        }
        }
        
    }
    .fenye{
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        .demo-pagination-block + .demo-pagination-block {
            margin-top: 10px;
          }
          .demo-pagination-block .demonstration {
            margin-bottom: 16px;
          }
    }
}