<template>
    <div class="table">
        <el-table class="table_wrap" :data="tableData.value" style="width: 100%" stripe="true" border="true" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="60" />
            <el-table-column label="角色名称" property="roleName" v-if="showList[0].showIs">
            </el-table-column>
            <el-table-column label="备注" property="remark" v-if="showList[1].showIs">
            </el-table-column>
            <el-table-column label="创建时间" property="createTime" v-if="showList[2].showIs">
            </el-table-column>
            <el-table-column label="操作" v-if="showList[3].showIs">
                <template #default="scope">
                    <el-button size="small" @click="handleEdit(scope.$index, scope.row)" type="primary">
                        <el-icon>
                            <EditPen />
                        </el-icon>编辑
                    </el-button>
                    <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">
                        <el-icon>
                            <Delete />
                        </el-icon>删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
  
<script lang="ts" setup>
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';
import { EditPen, Delete } from '@element-plus/icons-vue'
const props = defineProps<{
    Data: any,
    size: Number,
    current: Number,
    showList:any
}>()

const { Data, size, current,showList} = toRefs(props)
const emits = defineEmits(['handleEdit', 'handleDelete','handleSelectionChange']);
const tableData: any = reactive(Data);
const multipleSelection = ref([])
const handleEdit = (index: number, row: any) => {
    // console.log(row,"编辑")
    emits('handleEdit',row)
}
const handleDelete = (index: number, row: any) => {
    emits("handleDelete",row)
}
const handleSelectionChange = (val:any) => {
  multipleSelection.value = val
  emits("handleSelectionChange",val)
  console.log(multipleSelection.value,"1111111111111");
  
}
</script>
  
<style lang="scss">
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        background-color: #eee !important;

        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}
</style>