.comment_wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    overflow: auto;


    .comment_header {
        width: 100%;
        min-height: 50px;

        .comment_header_AddAndDelete {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
        }
    }

    .comment_main {
        width: 100%;
    }

    .comment_footer {
        width: 100%;
        height: 70px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}