<template>
  <div class='comment_wrap'>
    <div class='comment_header'>
      <!-- 头部新增删除按钮 -->
      <div class='comment_header_AddAndDelete'>
        <el-button type='primary' @click='commentAdd()'>+新增</el-button>
      </div>
    </div>
    <div class='comment_main'>
      <!-- 中间表格 -->
      <TableComponent :Data='tableData' @tableEdit='tableEdit' @tableDelete='tableDelete' :size='size'
        :current='current'></TableComponent>
    </div>

    <!-- 弹框 -->
    <Dialog v-if='dialogFormVisible' :dialogFormVisible='dialogFormVisible' :dialogStr='dialogStr'
      :dialogFrom='dialogFrom.value' @dialogSubmit='dialogSubmit' @dialogClosed='dialogClosed'></Dialog>
  </div>
</template>

<script lang='ts' setup>
import './index.scss';
import * as http from './api/index';
import { reactive, ref } from 'vue';
import Dialog from './components/dialog/index.vue';
import TableComponent from './components/table/index.vue';

const size = ref(3); // 分页组件当前 每页大小
const total = ref(0) // 分页总数
const current = ref(1); // 分页组件 当前页
const dialogStr = ref(''); // 弹框title
const tableData: any = reactive([]);
const dialogFrom: any = reactive({})
const dialogFormVisible = ref(false); // 弹框开关

const GetCommentList = async () => {
  const resTable: any = await http._getCommentList({
    size: size.value,
    current: current.value,
    t: new Date().getTime(),
  });

  const result = handleCommentList(resTable.data, 0, []);
  tableData.value = result;
  total.value = result.length
}
GetCommentList();

// 处理表格的数据
const handleCommentList = (dataList: any, id: any, list: any) => {
  for (let item of dataList) {
    if (item.parentId === id) {
      list.push(item);
    }
  }
  for (let i of list) {
    i.children = [];
    handleCommentList(dataList, i.categoryId, i.children);
  }
  return list
}

// 点击新增按钮 打开弹框
const commentAdd = () => {
  dialogFrom.value = {};
  dialogStr.value = '新增';
  dialogFormVisible.value = true;
}

// 表格 修改按钮; i:下标，_:表格单条数据；
const tableEdit = (_: any) => {
  dialogFrom.value = _;
  dialogStr.value = '编辑';
  dialogFormVisible.value = true;
}

// 弹框保存按钮的时候
const dialogSubmit = (_: any, flag: boolean) => {
  dialogFormVisible.value = false;

}

// 表格 删除按钮; i:下标，_:表格单条数据；
const tableDelete = (_: any) => {
  let data: any = [];
  data.push(_);
  http._deleteComment(data);
}

// 弹框关闭的时候i
const dialogClosed = () => dialogFormVisible.value = false;

</script>

<style lang='scss' scoped>

</style>