.area{
    height: 100%;
    width: 100%;
    .header{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        input{
            height: 30px;
            background: none;
        }
    }
    .area_list{
        height: 100%;
        width: 100%;
        
    }
}