<template>
  <div class="order">
    <div class="header">
      <el-form>
        <div class="form">
          <el-form-item>
          <el-input placeholder="订单编号" class="input" v-model="searchValue" />
        </el-form-item>
        <el-form-item>
          <el-date-picker v-model="value1" type="datetimerange" range-separator="至" value-format="YYYY-MM-DD HH:mm:ss" start-placeholder="开始日期"
            end-placeholder="结束日期" />
        </el-form-item>
        <el-form-item>
          <el-select class="m-2" placeholder="Select" size="large" v-model="statu">
            <el-option v-for="item in options" :key="item.statu" :label="item.label" :value="item.statu"></el-option>
          </el-select>
        </el-form-item>
        </div>

      <div class="but">
        <el-form-item class="bottom_button">
          <el-button type="primary" @click="submitForm()">
            <Search />搜索
          </el-button>
          <el-button @click="downLoadWaitXls" type="primary">导出待发货订单</el-button>
          <el-button @click="downLoadxls" type="primary">导出销售订单</el-button>
          <el-button @click="reset">清空</el-button>
        </el-form-item>
      </div>
      
      </el-form>
    </div>
    <div class="list">
      <Table :Data="tableData" :size="size" :current="current" @editmodal="editmodal"></Table>
    </div>
    <div class="pagepination">
      <Pageination :size="size" :current="current" :total="total" @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"></Pageination>
    </div>
     <!-- 下载待发货订单的时候弹框 -->
     <el-dialog
    v-model="waitModal"
    title="请输入发货信息"
    width="30%"
    :before-close="handleClose"
  >
  <el-form label-width="120px"  ref="ruleFormRef">
    <el-form-item label="发件人姓名">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item label="发货人手机号">
      <el-input v-model="ruleForm.mobile" />
    </el-form-item>
    <el-form-item label="发货地址">
      <el-input v-model="ruleForm.address" />
    </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="waitModal = false">取消</el-button>
        <el-button type="primary" @click="submitwait">
          提交
        </el-button>
      </span>
    </template>
  </el-dialog>
    <!-- 点击修改的时候弹出框 -->
    <el-dialog v-if='dialogVisible' v-model="dialogVisible" title="修改" width="60%" :before-close="handleClose">
      <p>订单编号:{{ orderNumbers }}</p>
      <p>
        <el-steps :space="200" :active="status.value" finish-status="success">
          <el-step title="提交订单" active="6" />
          <el-step title="买家已付款" />
          <el-step title="卖家已发货" />
          <el-step title="买家已收货" active="5" />
        </el-steps>
      </p>
      <p>订单状态:
        <span v-if="status === 1">待付款</span>
        <span v-else-if="status === 2" size="small">待发货</span>
        <span v-else-if="status === 3" size="small">待收货</span>
        <span v-else-if="status === 4" size="small">待评价</span>
        <span v-else-if="status === 5" size="small" style="background:lawngreen;">成功</span>
        <span v-else size="small" style="background:lavenderblush;color: red;">失败</span>
      </p>
      <div class="modal_list">
        <div class="buy">
          <p>买家付款后才能发货</p>
          <li>收货人:{{ userAddrOrder.value.receiver }}</li>
          <li>手机:{{ userAddrOrder.value.mobile }}</li>
          <li>收货地址:{{ userAddrOrder.value.province + userAddrOrder.value.city + userAddrOrder.value.area }}</li>
        </div>
        <div class="sale">
          <p>买家</p>
          <li>买家备注:{{ remarks }}</li>
        </div>
      </div>
      <div class="food">
        <el-row class="food_header">
          <el-col :span="10" style="border-right: 1px solid #ccc;border-bottom: none;"><span
              class="item product">商品</span></el-col>
          <el-col :span="3" style="border-right: 1px solid #ccc;"><span class="item">单价</span></el-col>
          <el-col :span="3" style="border-right: 1px solid #ccc;"><span class="item">数量</span></el-col>
          <el-col :span="3" style="border-right: 1px solid #ccc;"><span class="item">总价</span></el-col>
        </el-row>
        <el-row style="width:100%;border: 1px solid #ccc;">
          <el-col :span="10" style="border: 1px solid #ccc;">
            <div class="prod-item">
              <div class="items name" style="display: flex;align-items: center;">
                <div class="prod-image">
                  <img :src="Url + orderItems.value[0].pic" alt="" style="height:100px;width: 100px;">
                </div>
                <div class="prod-name">
                  <span>{{ orderItems.value[0].prodName }}</span>
                </div>
              </div>
            </div>
          </el-col>
          <el-col :span="3"
            style="border-right: 1px solid #ccc;align-items: center;display: flex;text-align: center;justify-content: center;">
            <span class="item">{{ orderItems.value[0].price }}</span>
          </el-col>
          <el-col :span="3"
            style="border-right: 1px solid #ccc;align-items: center;display: flex;text-align: center;justify-content: center;">
            <span class="item">{{ orderItems.value[0].prodCount }}</span>
          </el-col>
          <el-col :span="3"
            style="border-right: 1px solid #ccc;align-items: center;display: flex;text-align: center;justify-content: center;">
            <span class="item">{{ orderItems.value[0].productTotalAmount }}</span>
          </el-col>
        </el-row>

        <!-- <p>{{ orderItems.value[0].price }}</p> -->
      </div>

      <div class="logger">
        <p>订单日志</p>
        <p>{{ createTime + `订单创建（成功）` }}</p>
        <p>{{ payTime + `订单付款（成功）` }}</p>
        <p>{{ dvyTime + `订单发货（成功）` }}</p>
        <p>{{ cancelTime + `订单取消（成功）` }}</p>
        <p>{{ finallyTime + `完成订单（成功）` }}</p>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="dialogVisible = false">
            提交
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import "./css/index.scss"
import { ref } from 'vue'
import { reactive } from 'vue'
import * as http from "../../apis/orderApi/index"
import Table from "./component/table.vue"
import Pageination from "./component/pageination.vue"
import useJsonToExcel from "../../hooks/useJsonToExcel"
const size = ref(10); // 分页组件当前 每页大小
const total = ref(0) // 分页总数
const current = ref(1); // 分页组件 当前页
const tableData: any = reactive([])
const searchValue = ref([])
const orderNumber: any = ref("")
const orderNumbers = ref([])
const status: any = ref([])
const userAddrOrder: any = reactive({})
const dialogVisible = ref(false)
const statu: any = ref([])
const remarks: any = ref([])
const orderItems: any = reactive([])
const cancelTime: any = ref([])
const createTime: any = ref([])
const dvyTime: any = ref([])
const payTime: any = ref([])
const updateTime: any = ref([])
const finallyTime: any = ref([])
const Url = 'http://img-test.gz-yami.com/'
const value1 = ref([])
const startTime: any = ref("")
const endtime:any=ref("")
const waitModal:any=ref(false)
const ruleFormRef = ref()
const ruleForm = reactive({
  name: '',
  mobile: '',
  address: '',
})
//弹窗
const editmodal = (orderNumber: any) => {
  // console.log(orderNumber, "订单编号父组件");
  const editMList = async () => {
    const res: any = await http._editModal({
      orderNumber: orderNumber
    })
    // console.log(res.data,"数据++++++++++++++++++++++++");
    orderNumbers.value = res.data.orderNumber;
    status.value = res.data.status
    console.log(status.value, "状态值");

    userAddrOrder.value = res.data.userAddrOrder;
    remarks.value = res.data.remarks
    orderItems.value = res.data.orderItems
    console.log(userAddrOrder.value, "数据+++++++");
    createTime.value = res.data.createTime
    cancelTime.value = res.data.cancelTime
    dvyTime.value = res.data.dvyTime
    payTime.value = res.data.payTime
    updateTime.value = res.data.updateTime
    finallyTime.value = res.data.finallyTime
    dialogVisible.value = true;
  }
  editMList()
}
const handleClose = () => {
  dialogVisible.value = false
}
//提交待发货信息
const submitwait=async ()=>{
  const {data}:any=await http._getOrderData({
    status:2
  })
  const datas = ref({
    orderNumber: "",
    prodName: '',
    productNums: '',
    total: '',
    refundSts: '',
    actualTotal: '',
    userAddrOrder: '',
    dvyTime: ''
  })
  let lists = {}
  for (const iterator of data.records) {
    datas.value.orderNumber = iterator.orderNumber;
    datas.value.prodName = iterator.prodName;
    datas.value.productNums = iterator.productNums;
    datas.value.total = iterator.total;
    datas.value.refundSts = iterator.refundSts;
    datas.value.actualTotal = iterator.actualTotal;
    datas.value.userAddrOrder = iterator.userAddrOrder.province + iterator.userAddrOrder.area;
    datas.value.dvyTime = iterator.dvyTime;
    lists = iterator.userAddrOrder

  }
  const brr: any = Object.assign(lists, datas.value)
  const arr = [brr]
  //定义表头
  const tableHeader = {
    orderNumber: "订单编号",
    dvyTime: "下单时间",
    prodName: "商品名称",
    receiver: "收件人",
    mobile: '手机号',
    province: '收货地址',
    productNums: '数量',
    total: '订单应付',
    refundSts: '订单运费',
    actualTotal: '订单实付',
    userAddrOrder: '收货地址',
  };
  useJsonToExcel({
    arr,
    header: tableHeader,
    fileName: '销售信息整理.xlsx',
    bookType: "xlsx"
  })
  waitModal.value=false
}
//导出待发货订单
const downLoadWaitXls=async ()=>{
  waitModal.value=true
}
//导出记录
const downLoadxls = async () => {
  const { data }: any = await http._getOrderData({
    status: 5
  })
  console.log(data, "data.........................");
  const datas = ref({
    orderNumber: "",
    prodName: '',
    productNums: '',
    total: '',
    refundSts: '',
    actualTotal: '',
    userAddrOrder: '',
    dvyTime: ''
  })
  let lists = {}
  for (const iterator of data.records) {
    datas.value.orderNumber = iterator.orderNumber;
    datas.value.prodName = iterator.prodName;
    datas.value.productNums = iterator.productNums;
    datas.value.total = iterator.total;
    datas.value.refundSts = iterator.refundSts;
    datas.value.actualTotal = iterator.actualTotal;
    datas.value.userAddrOrder = iterator.userAddrOrder.province + iterator.userAddrOrder.area;
    datas.value.dvyTime = iterator.dvyTime;
    lists = iterator.userAddrOrder

  }
  const brr: any = Object.assign(lists, datas.value)
  const arr = [brr]
  //定义表头
  const tableHeader = {
    orderNumber: "订单编号",
    dvyTime: "下单时间",
    prodName: "商品名称",
    receiver: "收件人",
    mobile: '手机号',
    province: '收货地址',
    productNums: '数量',
    total: '订单应付',
    refundSts: '订单运费',
    actualTotal: '订单实付',
    userAddrOrder: '收货地址',
  };
  useJsonToExcel({
    arr,
    header: tableHeader,
    fileName: '销售信息整理.xlsx',
    bookType: "xlsx"
  })
}
const submitForm = () => {
  console.log(searchValue.value, "搜索的内容");
  console.log(value1.value, "时间");

  const searchorder = async () => {
    const res: any = await http._getOrderData({
      size: size.value,
      current: current.value,
      orderNumber: searchValue.value,
      startTime: value1.value[0],
      endtime:value1.value[1],
      status: statu.value
    })
    tableData.value = res.data.records
    orderNumber.value = searchValue.value
    startTime.value =value1.value[0] 
    endtime.value=value1.value[1]
    status.value = statu.value
  }
  searchorder()
}
//获取列表数据
const orderList = async () => {
  const res: any = await http._getOrderData({
    size: size.value,
    current: current.value,
  })
  total.value = res.data.total;
  tableData.value = res.data.records;
}
orderList()
const options = [
  {
    statu: '1',
    label: '代付款',
  },
  {
    statu: '2',
    label: '待发货',
  },
  {
    statu: '3',
    label: '已收货',
  },
  {
    statu: '4',
    label: '待评价',
  },
  {
    statu: '5',
    label: '成功',
  },
  {
    statu: '6',
    label: "失败"
  }
]

//分页
const handleSizeChange = (val: number) => {
  console.log(val, "每页1111111111");
  size.value = val;
  current.value = 1;
  orderList()
}
const handleCurrentChange = (val: number) => {
  current.value = val
  orderList()
  console.log(current.value, "99899898989898");

}
const reset = () => {
  searchValue.value = []
  statu.value = []
  value1.value=[]
}
</script>

<style lang="scss" scoped>

</style>