<!-- <template>
    <div>
        <!-- 弹框封装 -->
        <div class="model_tan">
            <el-dialog v-model="dialogVisible" title="新增" width="50%" top="20vh" :before-close="handleClose">
                <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" class="demo-ruleForm"
                    :size="formSize" status-icon>
                    <el-form-item label="bean名称" prop="bean">
                        <el-input v-model="ruleForm.bean" placeholder="spring bean名称，如：textTask" />
                    </el-form-item>
                    <el-form-item label="方法名称" prop="method">
                        <el-input v-model="ruleForm.method" placeholder="方法名称" />
                    </el-form-item>
                    <el-form-item label="参数" prop="parameter">
                        <el-input v-model="ruleForm.parameter" placeholder="参数" />
                    </el-form-item>
                    <el-form-item label="cron表达式" prop="cron">
                        <el-input v-model="ruleForm.cron" placeholder="如： 0 0  1 2 * * ?'" />
                    </el-form-item>
                    <el-form-item label="备注" prop="remark">
                        <el-input v-model="ruleForm.remark" placeholder="备注" />
                    </el-form-item>
                    <span class="dialog-footer">
                        <el-button @click="dialogVisible = false">取消</el-button>
                        <el-button type="primary" @click="add_timedTask">
                            <!-- @click="dialogVisible = false" -->
                            确认
                        </el-button>
                    </span>
                </el-form>
            </el-dialog>
        </div>
    </div>
</template>
  
<script lang="ts" setup>
import { ref, reactive } from 'vue'
import { ElTable } from 'element-plus'
import type { FormInstance, FormRules } from 'element-plus'
//引入api
import { _menu_timed, _add_menu_timed } from '../../../../apis/menuApi/index'


const handleClose = (done: () => void) => {
    done()
}

//弹框
const formSize = ref('default')
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive({
    bean: '',
    method: '',
    parameter: '',
    cron: '',
    remark: '',
})

const rules = reactive<FormRules>({
    bean: [
        { required: true, message: 'beanName不能为空', trigger: 'blur' },
    ],
    method: [
        {
            required: true,
            message: '方法名称不能为空',
            trigger: 'blur',
        },
    ],
    cron: [
        {
            required: true,
            message: 'cron表达式不能为空',
            trigger: 'blur',
        },
    ],
})


const submitForm = async (formEl: FormInstance | undefined) => {
    if (!formEl) return
    await formEl.validate((valid, fields) => {
        if (valid) {
            console.log('submit!')
        } else {
            console.log('error submit!', fields)
        }
    })
}


//添加数据
const add_timedTask = () => {
    _add_menu_timed({
        beanName: ruleForm.bean,
        cronExpression: ruleForm.method,
        methodName: ruleForm.parameter,
        params: ruleForm.cron,
        remark: ruleForm.remark
    })
}

</script>
  
<style>

</style> -->