<template>
  <div>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="date" label="Date" width="180" />
      <el-table-column prop="name" label="Name" width="180" />
      <el-table-column prop="address" label="Address" />
    </el-table>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'
import * as http from "../../../apis/freightTemp/index"

export default defineComponent({
  setup() {
    const data = reactive()
 

    return {
     
    }
  }
})
</script>

<style scoped>

</style>