<template #table_column>
    <el-table-column property="oriPrice" label="序号" width="120" >
        <template #default="scope">
           <span>{{scope.row.rule}}</span>
        </template>
    </el-table-column>
    <el-table-column property="propName" label="属性名称" />
    <el-table-column property="prodName" label="属性值" show-overflow-tooltip>
        <template #default="scope">
            <el-tag v-if="scope.row.status === 1" size="small">上架</el-tag>
            <el-tag v-else size="small">未上架</el-tag>
        </template>
    </el-table-column>
    <el-table-column label="操作" show-overflow-tooltip>
        <template #default="scope">
            <el-button size="small" type='primary' @click="handleEdit(scope.$index, scope.row)">修改</el-button>
            <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
        </template>
    </el-table-column>
</template>

<script setup lang='ts'>
import {inject} from 'vue';

const tableEdit:any = inject('tableEdit');
const tableDelete:any = inject('tableDelete');

// 表格 修改按钮; i:下标，_:表格单条数据；
const handleEdit = (index: any, _: any) => {
    tableEdit(_)
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const handleDelete = (index: any, _: any) => {
    tableDelete(_)
}
</script>
