<template>
    <el-table class="table_wrap" :data="Data.value" style="width: 100%" @selection-change="handleSelectionChange"
        stripe='true' border='true'>
        <el-table-column type="selection" width="55" />
        <el-table-column label="产品名字" property="prodName" width="120">
            <!-- <template #default="scope">{{ scope.row.date }}</template> -->
        </el-table-column>
        <el-table-column property="oriPrice" label="商品原价" width="120" />
        <el-table-column property="price" label="商品现价" show-overflow-tooltip />
        <el-table-column property="totalStocks" label="商品库存" show-overflow-tooltip />
        <el-table-column property="prodName" label="产品图片" show-overflow-tooltip>
            <template #default="scope">
                <img :src="scope.row.pic" alt="" class="table_image">
            </template>
        </el-table-column>
        <el-table-column property="prodName" label="状态" show-overflow-tooltip>
            <template #default="scope">
                <el-tag v-if="scope.row.status === 1" size="small">上架</el-tag>
                <el-tag v-else size="small">未上架</el-tag>
            </template>
        </el-table-column>
        <el-table-column label="操作" show-overflow-tooltip>
            <template #default="scope">
                <el-button size="small" type='primary' @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-popconfirm title="你确定删除此标签你确定删除此标签?" @confirm='handleDelete(scope.$index, scope.row)'>
                    <template #reference>
                        <el-button size="small" type="danger">删除
                        </el-button>
                    </template>
                </el-popconfirm>
            </template>
        </el-table-column>

    </el-table>
</template>

<script lang='ts' setup>
import { toRefs, defineProps, defineEmits, ref, reactive, watchEffect } from 'vue';

// 使用 defineProps 接受父组件的参数，并且添加校验
const props = defineProps<{
    Data: any,
}>()

// 使用 toRefs 绑定props每一个属性，使用时候 想ref的使用；
const { Data } = toRefs(props);

// 使用 defineEmits 接收到父组件的事件
const emits = defineEmits(['tableEdit', 'tableDelete', 'table_change']);
const multipleSelection = ref([]); // 当表格选中的时候 存放选中数据的数组
const tableData: any = ref(props.Data); // 父组件传过来的渲染数据

// 点击 表格 单选的时候
const handleSelectionChange = (val: any) => {
    multipleSelection.value = val;
    emits('table_change', multipleSelection)
}

// 表格 修改按钮; i:下标，_:表格单条数据；
const handleEdit = (index: any, _: any) => {
    emits('tableEdit', _)
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const handleDelete = (index: any, _: any) => {
    emits('tableDelete', _)
}

</script>

<style lang='scss'>
.table_wrap {

    .el-table__row {
        td {
            text-align: center !important;

            .cell {
                font-size: 13px !important;

            }
        }
    }

    .el-table__header {
        th {
            text-align: center !important;

            .cell {
                color: #393939;
            }
        }
    }
}

.table_image {
    width: 60%;
    height: 70%;
}
</style>