<template>
    <div>
        <div>下载 Exclaim 表格</div>
        <button @click="downLoadXls">下载</button>
    </div>
</template>

<script setup lang='ts'>
import userJsonToExcel from '../../hooks/useJsonToExcel'

const downLoadXls = () => {
    const data = [
        {
            id:99,
            title:'碳烤猪蹄购买的--梅赛德斯',
            count:2
        },
        {
            id:27,
            title:'麻辣猪蹄购买的--BMW',
            count:1
        },
        {
            id:38,
            title:'蒜香虾尾购买的--STI',
            count:2
        }
    ];
    // 定义标头
    const titleHeader = {
        id:'订单号',
        title:'产品',
        count:'数量'
    };

    userJsonToExcel({
        data:data,
        header:titleHeader,
        fileName:'各位看官的购买力.xlsx',
        bookType:'xlsx'
    })
}

</script>

<style lang="scss" scoped>

</style>