<template>
  <div class='wrap'>
    <router-view></router-view>
  </div>
</template>

<script lang='ts' setup>
import './css/app/index.scss';
import router from './router/index';
import LocalStor from './utils/utils';

// 获取 本地用户信息
const user_Info = LocalStor.getCache('user_Info');
// 获取鉴权的路由信息
const menuList = window.sessionStorage.getItem('menuList');
const token = window.localStorage.getItem('token');
const sessToken = window.sessionStorage.getItem('token');

const isUserInfo = () => {

  console.log('判断是否登陆');

  if (!token || !token || token == null||sessToken==null) router.push('/login')

  else router.push('/');
}
isUserInfo()


</script>

