.login_wrap {
    width: 100%;
    height: 100%;
    position: relative;

    .login_wrap_from {
        width: 500px;
        height: 50%;
        // background-color: pink;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .login_wrap_from_title {
            width: 100%;
            height: 70px;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .login_wrap_from_main {
            width: 100%;
            height: calc(100% - 70px);

            .demo-ruleForm {
                width: 100%;
                height: 100%;
                padding: 20px;

                .el-form-item {
                    img {
                        margin: 0 5px;
                    }

                    input {
                        height: 38px;
                    }

                    .el-button {
                        width: 100%;
                    }
                }
            }
        }
    }
}