<template>
  <!-- 弹框 -->
  <!-- 菜单管理 -->
  <el-button @click="addList" type="primary">
    新增
  </el-button>

  <!-- 新增的弹框 -->
  <!-- <Addcomponent></Addcomponent> -->
  <el-dialog v-model="dialogVisibles" :title="title" width="30%" :before-close="handleClose">
    <span> 类型</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <el-radio-group v-model="radio">
      <el-radio label="1" size="large">目录</el-radio>
      <el-radio label="2" size="large">菜单</el-radio>
      <el-radio label="3" size="large">按钮</el-radio>
    </el-radio-group>
    <!-- 目录 -->
    <div class="mulu" :class="radio === '1' ? 'mul' : 'null'">
      <el-form ref="ruleFormRef" :model="ruleForms" :rules="rules" label-width="120px" class="demo-ruleForm"
        :size="formSize" status-icon>
        <el-form-item label="目录名称" prop="name">
          <el-input v-model="ruleForms.name" />
        </el-form-item>
        <el-form-item label="上级菜单" prop="checkPass">
          <el-cascader v-model="ruleForms.checkPass" :options="options" :props="props" @change="handleChange" />
        </el-form-item>
        <el-form-item label="排序号" prop="age">
          <el-input-number v-model="ruleForms.age" class="mx-4" :min="1" :max="10" controls-position="right"
            @change="handleChanges" />
        </el-form-item>
        <el-form-item label="菜单图标" prop="num">
          <el-input v-model.number="ruleForms.num" />
        </el-form-item>
      </el-form>
    </div>
    <!-- 菜单 -->
    <div class="caidna" :class="radio === '2' ? 'caid' : 'null'">
      <el-form ref="ruleFormRef" :model="formLabelAlign2" :rules="rules" label-width="120px" class="demo-ruleForm"
        :size="formSize" status-icon>
        <el-form-item label="菜单名称">
          <el-input v-model="formLabelAlign2.name1" />
        </el-form-item>
        <el-form-item label="上级菜单">
          <el-cascader v-model="formLabelAlign2.checkPass1" :options="options" :props="props" @change="handleChange" />
        </el-form-item>
        <el-form-item label="菜单路由">
          <el-input v-model="formLabelAlign2.route1" placeholder="菜单路由" />
        </el-form-item>
        <el-form-item label="授权标识">
          <el-input v-model="formLabelAlign2.sign1" placeholder="多个用逗号分割，如：user:list,user:create" />
        </el-form-item>
        <el-form-item label="排序号">
          <el-input-number v-model="formLabelAlign2.age1" class="mx-4" :min="1" :max="10" controls-position="right"
            @change="handleChanges" />
        </el-form-item>
        <el-form-item label="菜单图标">
          <el-input v-model.number="formLabelAlign2.num1" />
        </el-form-item>
      </el-form>
    </div>
    <!-- 按钮 -->
    <div class="anniu" :class="radio === '3' ? 'ann' : 'null'">
      <el-form ref="ruleFormRef" :model="formLabelAlign3" :rules="rules" label-width="120px" class="demo-ruleForm">
        <el-form-item label="按钮名称">
          <el-input v-model="ruleForms.names" placeholder="按钮名称" />
        </el-form-item>
        <el-form-item label="上级菜单">
          <el-cascader v-model="ruleForms.checkPass" :options="options" :props="props" @change="handleChange" />
        </el-form-item>
        <el-form-item label="授权标识">
          <el-input v-model="ruleForms.sign" placeholder="多个用逗号分割，如：user:list,user:create" />
        </el-form-item>
      </el-form>
    </div>
    <!-- 确认取消 -->
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogVisible = false">取消</el-button>
        <el-button type="primary" @click="dialogVisible = false">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog>
  <!-- 下面的表格 -->
  <div class="grid">
    <!-- data	显示的数据 -->
    <el-table :data="TableData.value" class="gitd_table" row-key="menuId" border>
      <el-table-column prop="name" label="名称" width="180" align='center' />
      <el-table-column prop="icon" label="图标" width="180" align='center'>
        <!-- <template #default="scope">
          <el-icon   :size="20"><Loading /> </el-icon>
        </template> -->
      </el-table-column>
      <!-- <el-icon><UploadFilled /></el-icon> -->
      <el-table-column prop="type" label="类型" width="180" align='center'>
        <template #default="scope">
          <el-tag v-if="scope.row.type === 0" class="ml-2">目录</el-tag>
          <el-tag v-else-if="scope.row.type === 1" class="ml-2" type="success">菜单</el-tag>
          <el-tag v-else class="ml-2" type="info">按钮</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="orderNum" label="排序号" width="180" align='center' />
      <el-table-column prop="url" label="菜单URL" width="180" align='center' />
      <el-table-column prop="perms" label="授权标识" width="180" align='center' />
      <el-table-column prop="" label="操作" width="180" align='center'>
        <template #default>
          <el-button link type="primary" size="small" @click="handleClick">修改</el-button>
          <el-button link type="primary" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

</template>



<script lang="ts" setup>
import './index.scss'
import { ref, reactive } from 'vue'
//引入api
import { _menu_management } from './../../../apis/menuApi/index'
import { object } from 'vue-types';
import type { FormInstance, FormRules } from 'element-plus'

// 下面的表格
interface User {
  id: number
  date?: string
  tag?: any
  name: any
  sequence?: number
  authid?: any
  opetion?: any
  menu?: any
  hasChildren?: boolean
  children?: User[]
}

//弹框
/*
ref 
接受一个内部值，
返回一个响应式的、可更改的 ref 对象，此对象只有一个指向其内部值的属性 
*/
const dialogVisible = ref(false)
//表格渲染的数据
// reactive   返回一个对象的响应式代理。
const TableData: any = reactive([])
//弹框增加
const radio: any = ref(2)
const formSize = ref('default')
const value = ref([])
const num = ref(1)
const title = ref('')
//显示隐藏的弹框是否展示开关
let dialogVisibles = ref<any>(false)
const handleChanges = (value: number) => {
  console.log(value)
}

const ruleForms: any = reactive({
  name: '',
  checkPass: '',
  age: '',
  num: '',
  names: ''
})
const formLabelAlign2 = reactive({
  name1: '',
  checkPass1: '',
  age1: '',
  num1: '',
  route1: '',
  sign1: ''
})
const formLabelAlign3 = reactive({
  name: '',
  checkPass: '',
  sign: ''
})
const props = {
  expandTrigger: 'hover',
}

const handleChange = (value: any) => {
  console.log(value)
}

const options = [
  {
    value: 'guide',
    label: 'Guide',
    children: [
      {
        value: 'disciplines',
        label: 'Disciplines',
        children: [
          {
            value: 'consistency',
            label: 'Consistency',
          },
          {
            value: 'feedback',
            label: 'Feedback',
          },
          {
            value: 'efficiency',
            label: 'Efficiency',
          },
          {
            value: 'controllability',
            label: 'Controllability',
          },
        ],
      },
      {
        value: 'navigation',
        label: 'Navigation',
        children: [
          {
            value: 'side nav',
            label: 'Side Navigation',
          },
          {
            value: 'top nav',
            label: 'Top Navigation',
          },
        ],
      },
    ],
  },
  {
    value: 'component',
    label: 'Component',
    children: [
      {
        value: 'basic',
        label: 'Basic',
        children: [
          {
            value: 'layout',
            label: 'Layout',
          },
          {
            value: 'color',
            label: 'Color',
          },
          {
            value: 'typography',
            label: 'Typography',
          },
          {
            value: 'icon',
            label: 'Icon',
          },
          {
            value: 'button',
            label: 'Button',
          },
        ],
      },
      {
        value: 'form',
        label: 'Form',
        children: [
          {
            value: 'radio',
            label: 'Radio',
          },
          {
            value: 'checkbox',
            label: 'Checkbox',
          },
          {
            value: 'input',
            label: 'Input',
          },
          {
            value: 'input-number',
            label: 'InputNumber',
          },
          {
            value: 'select',
            label: 'Select',
          },
          {
            value: 'cascader',
            label: 'Cascader',
          },
          {
            value: 'switch',
            label: 'Switch',
          },
          {
            value: 'slider',
            label: 'Slider',
          },
          {
            value: 'time-picker',
            label: 'TimePicker',
          },
          {
            value: 'date-picker',
            label: 'DatePicker',
          },
          {
            value: 'datetime-picker',
            label: 'DateTimePicker',
          },
          {
            value: 'upload',
            label: 'Upload',
          },
          {
            value: 'rate',
            label: 'Rate',
          },
          {
            value: 'form',
            label: 'Form',
          },
        ],
      },
      {
        value: 'data',
        label: 'Data',
        children: [
          {
            value: 'table',
            label: 'Table',
          },
          {
            value: 'tag',
            label: 'Tag',
          },
          {
            value: 'progress',
            label: 'Progress',
          },
          {
            value: 'tree',
            label: 'Tree',
          },
          {
            value: 'pagination',
            label: 'Pagination',
          },
          {
            value: 'badge',
            label: 'Badge',
          },
        ],
      },
      {
        value: 'notice',
        label: 'Notice',
        children: [
          {
            value: 'alert',
            label: 'Alert',
          },
          {
            value: 'loading',
            label: 'Loading',
          },
          {
            value: 'message',
            label: 'Message',
          },
          {
            value: 'message-box',
            label: 'MessageBox',
          },
          {
            value: 'notification',
            label: 'Notification',
          },
        ],
      },
      {
        value: 'navigation',
        label: 'Navigation',
        children: [
          {
            value: 'menu',
            label: 'Menu',
          },
          {
            value: 'tabs',
            label: 'Tabs',
          },
          {
            value: 'breadcrumb',
            label: 'Breadcrumb',
          },
          {
            value: 'dropdown',
            label: 'Dropdown',
          },
          {
            value: 'steps',
            label: 'Steps',
          },
        ],
      },
      {
        value: 'others',
        label: 'Others',
        children: [
          {
            value: 'dialog',
            label: 'Dialog',
          },
          {
            value: 'tooltip',
            label: 'Tooltip',
          },
          {
            value: 'popover',
            label: 'Popover',
          },
          {
            value: 'card',
            label: 'Card',
          },
          {
            value: 'carousel',
            label: 'Carousel',
          },
          {
            value: 'collapse',
            label: 'Collapse',
          },
        ],
      },
    ],
  },
  {
    value: 'resource',
    label: 'Resource',
    children: [
      {
        value: 'axure',
        label: 'Axure Components',
      },
      {
        value: 'sketch',
        label: 'Sketch Templates',
      },
      {
        value: 'docs',
        label: 'Design Documentation',
      },
    ],
  },
]

const rules = reactive<FormRules>({
  name: [
    { required: true, message: '目录名称不能为空', trigger: 'blur' },
  ],
  name1: [
    { required: true, message: '菜单名称不能为空', trigger: 'blur' },
  ],
  names: [
    { required: true, message: '按钮名称不能为空', trigger: 'blur' },
  ]

})



// 请求数据
const Menumanagement = async () => {
  const result: any = await _menu_management();
  console.log(result, '+++++++++++++++++++++++++')
  let data = []
  if (result.status == 200) data = result.data
  const res = dataToTree(data, 0, []);
  console.log(res, '+++++++++++++++++++++++++');

  TableData.value = res
}
Menumanagement()

//处理数据
// 遍历数组处理数据
function dataToTree(dataList: any, id: any, list: any) {
  for (let item of dataList) {
    if (item.parentId === id) {
      list.push(item);
    }
  }
  for (let i of list) {
    i.children = [];
    dataToTree(dataList, i.menuId, i.children);
  }
  return list
}

const handleClose = (done: () => void) => {
  done()
}
// 新增
const addList = () => {
  title.value = '新增'
  dialogVisibles.value = true
}
// 修改
const handleClick = () => {
  title.value = '修改'
  dialogVisibles.value = true
}
</script>
