.dialog-footer button:first-child {
    margin-right: 10px;
}

.el-button {
    margin: 20px;
}

/* 下面的表格 */
.el-table-v2__row-depth-0 {
    height: 50px;
}

.el-table-v2__cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//表格样式
.grid {
    width: 96%;
    height: 400px;
    margin: 2%;
    .gitd_table{
        width: 100%;
    }
}
.mul {
    display: inline;
}

.caid {
    display: inline;

}

.ann {
    display: inline;

}

.null {
    display: none;

}