<template>
  <div class="search">
    <p><span>用户昵称</span>
      <el-input class="input" style="width: 200px;" v-model="input" placeholder="用户昵称" />
      <span>状态</span>
      <el-select v-model="input1" placeholder="状态" style="width:250px;">
        <el-option label="禁用" value="0" style="width:250px;height:40px; font-size:16px;" />
        <el-option label="正常" value="1" style="width:250px;height:40px; font-size:16px;" />
      </el-select>
      <el-button class="but" type="primary" style="width:70px ; height: 35px;" @click="Searchs" :icon="Search">搜索
      </el-button>
      <el-button style="width:70px ; height: 35px;" @click="quXiao" :icon="Delete">清空</el-button>
    </p>
  </div>

  <!-- -----------------------数据渲染-------------------------------- -->

  <el-table ref="multipleTableRef" border stripe="true" :data="tabList" style="width: 95%;margin-left: 30px;"
    size="large">
    <el-table-column property="nickName" label="用户昵称" height="50" show-overflow-tooltip align="center" />
    <el-table-column property="" label="用户头像" height="50" show-overflow-tooltip align="center">
      <template #default="scope">
        <img :src="scope.row.pic" alt="" class="table_image_pic">
      </template>
    </el-table-column>
    <el-table-column property="province" label="状态" height="50" show-overflow-tooltip align="center">
      <template #default="scope">
        <el-tag v-if="scope.row.status === 1" size="small">正常</el-tag>
        <el-tag v-else size="small" type="danger">禁用</el-tag>
      </template>
    </el-table-column>
    <el-table-column property="modifyTime" label="注册时间" height="50" show-overflow-tooltip align="center" />
    <el-table-column property="" label="" height="50" show-overflow-tooltip align="center">

    </el-table-column>
    <el-table-column label="操作" size="large" width="300px" align="center">
      <template #default="scope">
        <el-button type="primary" size="small" style="width:70px ; height: 35px;"
          @click="dialogVisible = true, handEdit(scope.row)" :icon="Edit">编辑
        </el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- -----------------------数据渲染-------------------------------- -->


  <!-- -----------------------分页-------------------------------- -->
  <div class="demo-pagination-block">
    <el-pagination class="Fen" v-model:currentPage="current" v-model:page-size="size" :page-sizes="[5, 10, 15, 20]"
      :small="small" :disabled="disabled" background layout="total, sizes, prev, pager, next, jumper" :total="total"
      @current-change="handleCurrentChange" @size-change="handleSizeChange" />
  </div>
  <!-- -----------------------分页-------------------------------- -->

  <!-- ----------------------------------弹框--------------------------------------- -->

  <el-dialog v-model="dialogVisible" title="修改" width="30%" :before-close="handleClose">
    <el-form ref="ruleFormRef" :model="ruleForm" status-icon label-width="120px" class="demo-ruleForm">
      <el-form-item label="用户头像:" prop="pic">
        <img :src="ruleForm.pic" alt="">
      </el-form-item>
      <el-form-item label="用户昵称:" prop="nickName">
        <el-input v-model="ruleForm.nickName" />
      </el-form-item>
      <el-form-item label="状态" style="margin-top:30px;" prop="resource">
        <el-radio-group v-model="ruleForm.status">
          <el-radio border :label=0 style="border:none;">禁用</el-radio>
          <el-radio border :label=1 style="border:none;">正常</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm(ruleFormRef)">确认</el-button>
        <el-button @click="resetForm(ruleFormRef)">取消</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>

  <!-- ----------------------------------弹框----------------------------------------->


</template>

<script lang="ts" setup>
import { toRefs, reactive, ref } from 'vue'
import { ElButton, ElDialog, ElInput, ElMessage, ElMessageBox, ElPagination, ElTable, ElTableColumn, ElTag } from 'element-plus'
import { adminUser, adminUserInfo, adminUsers } from "../../apis/freightTemp"
import { Delete, Edit, Search, Share, Upload } from '@element-plus/icons-vue'

import type { FormInstance } from 'element-plus'
const input = ref('')//搜索
const input1 = ref('')//搜索
const tabList: any = ref([])//数据

const ruleFormRef = ref<FormInstance>()

//-----------------------------------分页----------------------------------
const total = ref(0);
const size = ref(0);
const current = ref(0);
const pages = ref(0);
const getShop_pickAddr = async () => {
  const result: any = await adminUser({
    size: 5,
    current: 1,
    pages: 1,
  })
  total.value = result.data.total;
  size.value = result.data.size;
  current.value = result.data.current;
  pages.value = result.data.pages;
  tabList.value = result.data.records;
  // console.log(tabList.value, "111111111111111111111111111111111111") 
}
getShop_pickAddr()

const small = ref(false)
const disabled = ref(false)

const handleSizeChange = async (val: number) => {
  console.log(val)
  const result: any = await adminUser({
    size: val,
    current: 1
  })
  total.value = result.data.total;
  tabList.value = result.data.records;
}
const handleCurrentChange = async (val: number) => {
  // console.log(`current page: ${val}`)
  const result: any = await adminUser({
    size: 5,
    current: val
  })
  total.value = result.data.total;
  tabList.value = result.data.records;
}
//-----------------------------------分页----------------------------------





const ruleForm = reactive({
  birthDate: null,
  loginPassword: null,
  modifyTime: '',
  payPassword: null,
  realName: null,
  score: null,
  sex: '',
  userLastip: null,
  userLasttime: null,
  userMail: null,
  userMemo: null,
  userMobile: null,
  userRegip: null,
  userRegtime: '',
  resource: '',
  nickName: '',
  status: 0,
  userId: '',
  pic: ''
})


//编辑

const handEdit = async (row: any) => {
  console.log(row);

  let params = {
    id: row.userId,
    size: 10,
    current: 1,
  };
  // console.log(params)
  let res: any = await adminUserInfo(params)
  console.log(res, "5555555555555555555555555555");

  ruleForm.nickName = res.data.nickName;
  ruleForm.pic = res.data.pic;
  ruleForm.status = res.data.status;
  ruleForm.userId = res.data.userId;
}



//编辑

const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.validate(async (valid) => {
    if (valid) {
      let params = ruleForm
      const result = await adminUsers(params)
      console.log(result);
      dialogVisible.value = false
      getShop_pickAddr()
    } else {
      console.log('error submit!')
      return false
    }
  })
}

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
  dialogVisible.value = false
}










const dialogVisible = ref(false)

const handleClose = (done: () => void) => {
  ElMessageBox.confirm('确定退出吗')
    .then(() => {
      done()
    })
    .catch(() => {
      // catch error
    })
}

const Searchs = async () => {
  let params = { current: 1, size: 10, nickName: input.value, status: input1.value }
  let data: any = await adminUser(params)
  tabList.value = data.data.records
  total.value = data.data.total;
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
}
const quXiao = () => {
  input.value = ""
  input1.value = ""
  getShop_pickAddr()
  ElMessage({
    message: '操作成功',
    type: 'success',
  })
}

</script>
<style lang="scss">
.search {
  width: 100%;
  height: 80px;
  border: 1px solid #fff;

  p {


    .input {
      margin-left: 15px;
    }

    .but {
      margin-left: 15px;
    }
  }
}

.button {
  width: 100%;
  height: 50px;
  margin-left: 30px;
}

.div {
  width: 100%;
  height: 30px;

  .p {
    padding-left: 30px;

    .qing {
      padding-left: 10px;
      font-size: 13px;
      color: rgb(83, 83, 244);
    }
  }
}

.demo-pagination-block {
  width: 100%;
  height: 100px;
  margin-top: 20px;

  .Fen {
    margin-left: 430px;
  }
}

.app_view {
  width: 100%;
  overflow-y: auto;
}
</style>