<template>
    <el-tabs v-model="editableTabsValue" type="card" editable class="demo-tabs" @edit="handleTabsEdit"
        @tab-click='paneClick'>
        <el-tab-pane v-for="item in editableTabs" :key="item.menuId" :label="item.name" :name="item.name" />
    </el-tabs>
</template>

<script setup lang='ts'>
import { ref } from 'vue';
import router from '../../router/index';
import useStore from '../../store/index';

const { crumbs } = useStore();
const editableTabsValue = ref('0');
const editableTabs = ref(crumbs.crumbsList);

const handleTabsEdit = (targetName: string, action: 'remove' | 'add') => {
    if (targetName == '首页') return;
    if (action === 'remove') {
        const tabs = editableTabs.value;
        let activeName = editableTabsValue.value;
        if (activeName === targetName) {
            tabs.forEach((tab: any, index: any) => {
                if (tab.name === targetName) {
                    const nextTab = tabs[index + 1] || tabs[index - 1]
                    if (nextTab) {
                        activeName = nextTab.name;
                    }
                }
            })
        }
        editableTabsValue.value = activeName;
        editableTabs.value = tabs.filter((tab: any) => tab.name !== targetName);
    }
}

const paneClick = (_: any) => {
    for (const item of editableTabs.value) {
        if (item.name == _.props.name && item.name !== '首页') {
            router.push(item.url)
        }else if(item.name === '首页'){
            router.push('/')
        }
    }
}

</script>
