<template>
  <div class="grouping_wrap">

    <div class="grouping_header">
      <!-- 头部搜索 -->
      <div class="grouping_header_search" v-show="searchFlag">
        <SearchComponent @onSearch='onSearch' @onSearchDelete='onSearchDelete'></SearchComponent>
      </div>

      <!-- 头部新增删除按钮 -->
      <div class="grouping_header_AddAndDelete">
        <el-button type="primary" @click="addDialogClick">新增</el-button>
        <el-button :icon="Search" circle @click='SearchFlagClick' />
      </div>
    </div>

    <div class="grouping_main">
      <!-- 中间表格 -->
      <TableComponent :Data='tableData' @tableEdit='tableEdit' @tableDelete='tableDelete' />
    </div>

    <div class="grouping_footer">
      <div></div>
      <!-- 底部 分页 -->
      <Pageination :size="size" :current='current' :total='total' @pageSize='pageSize' @pageCurrent='pageCurrent'
        v-if='pageFlag'>
      </Pageination>
    </div>

    <!-- 新增弹框 -->
    <AddDialog v-if='dialogFormVisible' :dialogFormVisible='dialogFormVisible' :dialogData='dialogData'
      @AddDialogCloes='AddDialogCloes' @AddDialogSubmit='AddDialogSubmit'></AddDialog>

  </div>
</template>

<script lang='ts' setup>
import "./index.scss";
import { reactive, ref } from 'vue';
import * as Type from './types/index.d';
import { ElMessage } from 'element-plus';
import { Search } from '@element-plus/icons-vue';
import * as http from '../../../apis/groupingApi/index';
import AddDialog from './components/addDialog/index.vue';
import TableComponent from './components/table/index.vue';
import Pageination from '../../../components/pageination/index.vue';
import SearchComponent from '../../../components/product/search/index.vue';

const size = ref<number>(5); // 分页组件当前 每页大小
const total = ref<number>(0) // 分页总数
const current = ref<number>(1); // 分页组件 当前页
const tableData: any = reactive([]); // 表格渲染的数据
const dialogFormVisible = ref(false); // 新增弹框的 状态
const searchFlag = ref<boolean>(true); // 控制搜索框的显隐
const searchTitle = ref<string | null>(''); // 标签姓名
const searchStatus = ref<string | number | null>(''); // 是否禁用


const dialogData: any = reactive({});
const pageFlag = ref<boolean>(true);


const GetProductList = async () => {
  pageFlag.value = false;
  const result: any = await http._getGroupingPage({
    t: new Date().getTime(),
    size: size.value,
    current: current.value,
    title: searchTitle.value,
    status: searchStatus.value,
  })
  if (result.status == 200) {
    tableData.value = result.data.records;
    total.value = result.data.total;
  }
  pageFlag.value = true;
}
GetProductList()

// 表格 修改按钮; i:下标，_:表格单条数据；
const tableEdit = (_: Type.GroupingTableType) => {
  // console.log(_, '-----------------修改按钮---------------');
  let params = {
    name: _.title,
    styles: _.style == 0 ? '一列一个' : _.style == 1 ? '一列二个' : _.style == 2 ? '一列三个' : '一列一个',
    status: _.status == 1 ? '正常' : '禁用',
    sort: _.seq,
    flag: false,
    _: _
  }
  dialogData.value = params;
  dialogFormVisible.value = true;
}

// 表格 删除按钮; i:下标，_:表格单条数据；
const tableDelete = (_: Type.GroupingTableType) => {
  http._deleteGroupingPag(_.id);
  setTimeout(() => {
    GetProductList()
  }, 500);
}

// 搜索事件
const onSearch = (_: Type.SearchFromType) => {
  searchTitle.value = _.title;
  searchStatus.value = _.status;
  GetProductList();
}

// 点击搜索清空
const onSearchDelete = (_: Type.SearchFromType) => {
  console.log(_, '搜索删除')
}

// 分页 传参事件
const pageSize = (fromSonParams: number) => {
  size.value = fromSonParams;
  GetProductList();
}

// 分页 传参事件
const pageCurrent = (fromSonParams: number) => {
  current.value = fromSonParams;
  GetProductList();
}

// 搜索显隐按钮
const SearchFlagClick = () => {
  searchFlag.value = !searchFlag.value
}

// 新增按钮打开 弹框
const addDialogClick = () => {
  let params = {
    sort: '',
    name: '',
    styles: '一列一个',
    status: '正常',
    flag: true
  }
  dialogData.value = params;
  setTimeout(() => {
    dialogFormVisible.value = true;
  }, 500);
}

// 新增 关闭弹框
const AddDialogCloes = (props: any) => {
  dialogFormVisible.value = false;
}

// 新增 保存弹框
const AddDialogSubmit = async (props: any, flag: boolean) => {
  if (flag) { // 新增
    let res = await http._addGroupingPage(props);
    ElMessage({ message: '新增成功', type: 'success', })
    GetProductList();
  } else { // 修改
    let res: any = await http._editGroupingPage(props);
    if (res.data) {
      GetProductList();
      ElMessage({ message: '修改成功', type: 'success', })
    }
  }
  dialogFormVisible.value = false;

}

</script>