<template>
    <el-upload class="pic-uploader-component" :action="$http.adornUrl('/admin/file/upload/element')"
        :headers="{ Authorization: $cookie.get('Authorization') }" :show-file-list="false"
        :on-success="handleUploadSuccess" :before-upload="beforeAvatarUpload">
        <img v-if="value" :src="resourcesUrl + value" class="pic">
        <i v-else class="el-icon-plus pic-uploader-icon"></i>
    </el-upload>
</template>

<script setup lang='ts'>
import { reactive, ref, defineProps, defineEmits, toRefs } from 'vue';
</script>

<style lang="scss" scoped>

</style>