.parameter_div {
    width: 100%;
    padding: 20px;
    background-color: #fff;

    .parameter_one {
        width: 100%;
        height: 60px;
    }

    .parameter_two {
        width: 100%;
    }

    .w-50 {
        width: 220px;
        margin-right: 20px;
    }

    .page {
        width: 100%;
        height: 80px;
      
    }
}

.demo-pagination-block+.demo-pagination-block {
    margin-top: 10px;
}

.demo-pagination-block .demonstration {
    margin-bottom: 16px;
}

.el-pagination{
    margin-left: 600px;
    margin-top: 10px;
}
.zhuang{
    width: 160px;
    height: 50px;
    float: right;
    margin-top: -50px;
    .el-icon{
        width:30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 5px;
    }
}