<template>
  <div class="parameter_div">
    <!-- 参数管理 -->
    <div class="parameter_one" v-show="block">
      参数名
      <el-input v-model="input1" size="large" class="w-50 m-2" placeholder=" 参数名" />
      <el-button type="primary" @click='onSearch'>
        <el-icon>
          <Search />
        </el-icon> &nbsp;搜索
      </el-button>
      <el-button @click="clearINput">
        <el-icon>
          <Delete />
        </el-icon>&nbsp;清空
      </el-button>
    </div>
    <div class="parameter_one">
      <el-button type="primary" @click="addList">新增</el-button>
      <el-button type="danger" :disabled="dispatchDelete" @click="more_del">批量删除</el-button>
    </div>

    <div class="zhuang">
      <el-tooltip class="box-item" effect="dark" content="刷新" placement="top-start">
        <el-icon>
          <Refresh />
        </el-icon>
      </el-tooltip>
      <el-tooltip class="box-item" effect="dark" content="显隐" placement="top-start">
        <el-icon>
          <Menu @click="lsattr" />
        </el-icon>
      </el-tooltip>
      <el-tooltip class="box-item" effect="dark" content="搜索" placement="top-start">
        <el-icon @click="conceal">
          <Search />
        </el-icon>
      </el-tooltip>



    </div>
    <div class="parameter_two">
      当前表格已选择<b>{{ length }} </b>项
      <el-button link type="primary" size="large" @click="qingkong">清空</el-button>
    </div>



    <!-- 弹框 -->
    <div class="model_tan">
      <el-dialog v-model="dialogVisible" :title="title" width="50%" top="20vh" :before-close="handleClose">
        <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" class="demo-ruleForm"
          :size="formSize" status-icon>
          <el-form-item label="参数名" prop="name">
            <el-input v-model="ruleForm.name" placeholder="参数名" />
          </el-form-item>
          <el-form-item label="参数值" prop="values">
            <el-input v-model="ruleForm.values" placeholder="参数值" />
          </el-form-item>
          <el-form-item label="备注" prop="remark">
            <el-input v-model="ruleForm.remark" placeholder="备注" />
          </el-form-item>
          <span class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="add_timedTask">
              确认
            </el-button>
          </span>
        </el-form>
      </el-dialog>
    </div>

    <!-- 显示隐藏的弹框是否展示开关 -->
    <div class="model_tan">
      <el-dialog v-model="dialogVisibles" :title="title" width="50%" top="20vh" :before-close="handleClose">
        <el-transfer v-model="values" :data="data" :titles="['显示', '隐藏']" @change="onChange" />
      </el-dialog>
    </div>




    <!-- 表格 -->
    <div class="parameter_two">
      <el-table ref="multipleTableRef" :data="Paramerdata.values.records" border size="large" style="width: 100%"
        @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55" />
        <el-table-column label="参数名" width="260" align='center' property="paramKey" style="font-weight: 800"
          v-if="noticeShow[0].showIs">
          <template #default="scope">{{ scope.row.paramKey }}</template>
        </el-table-column>
        <el-table-column property="paramValue" label="参数值" width="260" align='center' v-if="noticeShow[1].showIs" />
        <el-table-column property="remark" label="备注" width="260" align='center' v-if="noticeShow[2].showIs" />
        <el-table-column align='center'>
          <template #default="scope">
            <el-button size="default " type="primary" @click="handleEdit(scope.$index, scope.row)">
              <el-icon>
                <EditPen />
              </el-icon> &nbsp;编辑
            </el-button>
            <el-button size="default " type="danger" @click="handleDelete(scope.$index, scope.row)">
              <el-icon>
                <Delete />
              </el-icon>&nbsp;删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 分页 -->
    <div class="page">
      <div class="demo-pagination-block">
        <el-pagination v-model:currentPage="currentPage4" v-model:page-size="pageSize4"
          :page-sizes="[5,10, 20, 30, 40]" :small="small" :disabled="disabled" :background="background"
          layout="total, sizes, prev, pager, next, jumper" :total="400" @size-change="handleSizeChange"
          @current-change="handleCurrentChange" />
      </div>
    </div>

  </div>
</template>

<script lang="ts" setup>

import './index.scss'
import { ref, reactive } from 'vue'
import { Search, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import type { FormInstance, FormRules } from 'element-plus'
import { ElMessageBox, ElMessage } from 'element-plus'
//引入api
import { menu_paramerter, add_paramerter, echo_paramerter, edit_paramerter, del_paramerter } from './../../../apis/menuApi/index'
import { log } from 'console'
interface User {
  date: string
  name: string
  address: string
  id: number
  __v_isRef: boolean
}
const multipleSelection = ref<User[]>([])
const current = ref(1)
const size = ref(10)
const Paramerdata = reactive<any>([])
//控制弹框的开关
let dialogVisible = ref<any>(false)
//显示隐藏的弹框是否展示开关
let dialogVisibles = ref<any>(false)


const formSize = ref('default')
// 弹框的标题
let title = ref('')
//修改的数据ID
let ID = ref(0)
//显示多选的选中或者不选中状态
let dispatchDelete = ref(true)
const input1 = ref<any>('')
const currentPage4 = ref(4)
const pageSize4 = ref(3)
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
let beanNames: any = ''
const page = ref<any>(1)
const limit = ref<any>(10)
const length = ref<any>(0)
//隐藏搜索
const block = ref(true)

//获取数据
const Paramer = async () => {
  const result: any = await menu_paramerter({
    size: size.value,
    current: current.value
  })
  Paramerdata.values = result.data
}
Paramer()

// 弹框
const ruleForm = reactive({
  name: '',
  values: '',
  remark: '',
})
const rules = reactive<FormRules>({
  name: [
    { required: true, message: '参数不能为空', trigger: 'blur' },
  ],
  values: [
    {
      required: true,
      message: '参数值不能为空',
      trigger: 'blur',
    },
  ],
})
//确定按钮
const add_timedTask = (add_timedTaskrow: any) => {

  if (title.value === '新增') {
    add_paramerter({
      paramKey: ruleForm.name,
      paramValue: ruleForm.values,
      remark: ruleForm.remark,
    })
    ElMessage({
      message: '添加成功',
      type: 'success',
    })
    //调用刷新页面
    setTimeout(() => {
      Paramer()
    }, 1000)
    dialogVisible.value = false
  }
  else if (title.value === '修改') {
    edit_paramerter({
      paramKey: ruleForm.name,
      paramValue: ruleForm.values,
      remark: ruleForm.remark,
      id: ID.value,
    })
    ElMessage({
      message: '修改成功',
      type: 'success',
    })
    //调用刷新页面
    setTimeout(() => {
      Paramer()
    }, 2000)
    dialogVisible.value = false
  }

}

//点击添加数据
const addList = () => {
  dialogVisible.value = true
  title.value = '新增'
  ruleForm.name = ''
  ruleForm.values = ''
  ruleForm.remark = ''
}//子女ISW JIKO 
const handleClose = (done: () => void) => {
  done()
}
//点击修改
//修改的回显
const handleEdit = async (index: number, row: User) => {
  dialogVisible.value = true
  title.value = '修改'
  const datas: any = await echo_paramerter(row.id)
  console.log(datas.data, 'datadata---datadata');
  ruleForm.name = datas.data.paramKey
  ruleForm.values = datas.data.paramValue
  ruleForm.remark = datas.data.remark
  ID.value = datas.data.id
}
//删除
const handleDelete = (index: number, row: User) => {
  ElMessageBox.confirm(`确定对[id=${row.id}]进行[删除]操作?`)
    .then(() => {
      let num = row.id as number
      del_paramerter([num])
      ElMessage({
        message: '删除成功',
        type: 'success',
      })
      //调用刷新页面
      setTimeout(() => {
        Paramer()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })
  console.log(index, row)
}

//多选框的点击事件
const handleSelectionChange = (val: User[]) => {
  // 所选的数据进行赋值
  multipleSelection.value = val
  length.value = multipleSelection.value.length
  // if (length.value === 0) {
  // val=''
  // }
  // 点击按钮的禁用状态
  if (multipleSelection.value.length > 0) {
    dispatchDelete.value = false
  }
  else {
    dispatchDelete.value = true
  }
}
//单击批量删除
const more_del = () => {
  const AllId = ref<any>([])
  multipleSelection.value.forEach(item => {
    AllId.value.push(item.id)
  })
  ElMessageBox.confirm(`确定对[id=${AllId.value}]进行[批量删除]操作?`)
    .then(() => {
      AllId.value.forEach((item: any) => {
        console.log(item, 'itemitemtiem');
        let num = item as number
        del_paramerter([num])
      })

      //调用刷新页面
      setTimeout(() => {
        Paramer()
      }, 1000)
    })
    .catch(() => {
      // catch error
    })

}
//搜索事件
const onSearch = async () => {
  if (input1._valued !== "") {
    beanNames = input1._value
  }
  const res: any = await menu_paramerter({
    current: page.value,
    size: limit.value,
    paramKey: input1._value
  })
  Paramerdata.values = res.data
}

//清空搜索框
const clearINput = () => {
  input1._valued = ""

}
//清空多选列表
const qingkong = () => {
  length.value = 0
}
// 显隐
const lsattr = () => {
  dialogVisibles.value = true
  title.value = '多选'
}

//搜索框的显示和隐藏
const conceal = () => {
  block.value = !block.value
}
//显示和隐藏的弹框
interface Option {
  key: number
  label?: string
  disabled: boolean
}
const arrs = ref<any>([0, 1, 2])
const data = ref<Option[]>([
  { key: 0, label: '参数名', disabled: false },
  { key: 1, label: '参数值', disabled: false },
  { key: 2, label: '备注', disabled: false },
])
const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true },
])
const values = ref([])

const onChange = () => {
  arrs.value.forEach((item: any, index: number) => {
    let newarr: number[] = Array.from(values.value)
    let flag = newarr.includes(item)
    if (flag) {
      noticeShow[index].showIs = false
    } else {
      noticeShow[index].showIs = true
    }
  });

}



const handleSizeChange = (val: number) => {
  limit.value = val
  console.log(limit.value);
  Paramer()
}
const handleCurrentChange = (val: number) => {
  page.value = val
  Paramer()
}

</script>